<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">

		<%  var isempty = false; %>
		<% _.each(events, function(event) { %>
	<div class="checkbox inlineblock">
		<input <% if(event['absent']){ %> checked <% } %> id="_<%= (event.id)?event.id : event.start %>" type="checkbox" class="inline-elem-check" data-time="<%= event.time %>" data-date="<%= event.id %>" value="<%= event.id %>" onchange="triggerAbsent($(this), <%= event['absent'] %>);">
		<label for="_<%= (event.id)?event.id : event.start %>">
	                           <span data-event-id="<%= (event.id)?event.id : event.start %>"
									 data-event-class="<%= event['class'] %>" class="event-item" style="margin-left: 15px;">
						<span class="inline_time">
						<% print(event['time']); %> :

						</span>
							Niet beschikbaar op deze dag
						</span>
		</label>
	</div>

	<ul class="unstyled list-unstyled">
			 <% _.each(event["available"], function(value, key) { %>
				<li class="list-item" data-event="<%= event['class'] %>">
				<%
					//disabled slot by teacher
					if(event['absent']) {
				%>
						<span class="pull-left event <%= event['class'] %>"></span>&nbsp;
						<strike>
							<span data-event-id="<%= event.id %>"
									data-event-class="<%= event['class'] %>" class="event-item" data-date="<%= event.date %>">
								<span class="inline_time_disabled">
									<% print(value['begin']); %> - <% print(value['end']); %>
								</span>
							</span>
						</strike>

					<% }else{ // free slot, reserve slot and book slot
						%>
							<span class="pull-left event <%= event['class'] %>"></span>&nbsp;
							<span data-event-id="<%= event.id %>"
								data-event-class="<%= event['class'] %>" class="event-item" data-date="<%= event.date %>">
								<span class="inline_time">
								<% print(value['begin']); %> - <% print(value['end']); %>
								</span>
								</span>
						<% } %>

				</li>
			<% }) %>
	</ul>
		<% }) %>
		<% if(isempty){ %>
			<li>
				<!-- <input type="button" name="cancel"  value="Cancel" class="btn btn-raised btn-primary btn-round waves-effect inline-elem-cancelButton" /> -->
			</li>
		<% } %>


</div>
