@import '../../snippets/scss/defaults.scss';

.cards__section {
  width: 100%;
  margin-bottom: 1px;
  background-color: $gray;
}
.cards__section-container {
  width: 95%;
  max-width: 1081px;
  padding: 27px 10px;
  margin: 0 auto;
}
.cards__title {
  width: 100%;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  font-size: 36px;
  font-weight: 1000;
  text-align: center;
  color: $primaryColor !important;
  padding: 25px 0 0 0;
}
.cards-subtitle {
  padding-top: 4px;
  color: #486066;
}
.card-slider__title-image {
  margin-top: 14px;
}
.cards__section-container:first-child {
  text-align: center;
}

@media screen and (min-width: $large) {
  .cards__section {
    padding-bottom: 100px;
  }
  .cards__section-container {
    width: 90%;
    padding: 27px 10px;
  }
  .cards__container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: $xlarge) {
  .cards__section-container {
    width: 80%;
  }
}
@media screen and (min-width: $middle) and (max-width: $large) {
  .cards__section-container {
    width: 95%;
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media screen and (max-width: $large) {
  .cards__section-container:first-child {
    padding-bottom: 45px;
  }
  .cards__section-container:last-child {
    padding-top: 0;
  }
}
