@import '../../snippets/scss/defaults.scss';

.card-wide-section__section {
  width: 100%;
  margin-bottom: 1px;
  background-color: $gray;
}
.card-wide-section__section-container {
  width: 95%;
  max-width: 1081px;
  padding: 27px 10px;
  margin: 0 auto;
}
.card-wide-section__title {
  width: 100%;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  font-size: 30px;
  font-weight: 1000;
  text-align: center;
  color: $primaryColor !important;
  padding: 25px 0 0 0;
}
.card-wide-section__card-wrapper {
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
}
.card-wide-section__card {
  width: 100%;
  position: relative;
  background-color: $lightgray;
  color: $darkgray;
  border-radius: 6px;
  box-shadow: 0px 10px 24px 6px rgba(0, 0, 0, 0.06);
  padding-bottom: 70px;
  &__content {
    max-width: 650px;
    margin: 0 auto;
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #486066 !important;
    line-height: 1.8em;
    border-radius: 6px 6px 6px 6px;
    overflow: hidden;
    border-color: $gray;
    padding: 25px 30px;
    word-wrap: break-word;
  }
  &__img {
    width: 48%;
    margin: 0 auto 30px auto;
    & img {
      border-radius: 50%;
    }
  }
  &__titles-wrapper {
    width: 100%;
    position: absolute;
    bottom: 25px;
    left: 0;
  }
  &__title {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3em;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 23px;
  }

  &__subtitle {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
  }
  &__description {
    font-weight: 400;
    text-align: center;
    font-size: 14px;
  }
}

@media screen and (min-width: $large) {
  .card-wide-section__section {
    padding-bottom: 100px;
  }
  .card-wide-section__section-container {
    width: 90%;
    padding: 27px 10px;
  }
  .card-wide-section__container {
    display: flex;
  }
  .card-wide-section__card-wrapper {
    width: 30%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;

    &:nth-child(1),
    &:nth-child(2) {
      margin-right: 5%;
    }
  }
  .card-wide-section__card__content {
    padding: 40px 30px;
  }
}
@media screen and (min-width: $xlarge) {
  .card-wide-section__section-container {
    width: 80%;
  }
}
@media screen and (min-width: $middle) and (max-width: $large) {
  .card-wide-section__section-container {
    width: 95%;
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media screen and (max-width: $large) {
  .card-wide-section__section-container:first-child {
    padding-bottom: 45px;
  }
  .card-wide-section__section-container:last-child {
    padding-top: 0;
  }
}
@media screen and (min-width: $xsmall) and (max-width: $large) {
  .card-wide-section__card__img {
    width: 20%;
  }
}

@media screen and (max-width: $xsmall) {
  .card-wide-section__card__img {
    width: 30%;
    min-width: 70px;
  }
}
