@import "../../snippets/scss/defaults.scss";

.cards__section {
  width: 100%;
  margin-bottom: 1px;
  background-color: $gray;
}
.cards__section-container {
  width: 95%;
  max-width: 1081px;
  padding: 27px 10px;
  margin: 0 auto;
}
.cards__title {
  text-align: left;
}
.cards__card-wrapper {
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
  &:nth-child(2) .card-price-section__card__title {
    background-color: $primaryColor;
    color: white;
  }
}
.cards__card {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 24px 6px rgba(0, 0, 0, 0.06);
  text-align: left;
  &__content {
    position: relative;
    margin: 0 auto;
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: $darkgray;
    line-height: 1.8em;
    border-radius: 6px 6px 6px 6px;
    overflow: hidden;
    border-color: $gray;
    word-wrap: break-word;
    padding-bottom: 100px;
  }
}
.card-price-section__card {
  &__title {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 21px;
    color: $primaryColor;
    line-height: 1.3em;
    padding: 15px 20px;
  }
  &__description {
    line-height: 1.8em;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    padding-right: 5px;
    &__list {
      & li {
        padding-top: 1.6em;
        &::marker {
          color: $primaryColor;
          font-weight: 700;
        }
      }
    }
  }
  &__price {
    position: relative;
    line-height: 4rem;
    padding-top: 10px;
    padding-left: 2rem;
    &--euro-sign {
      font-family: "Poppins", sans-serif;
      color: $darkgray;
      position: absolute;
      left: 1rem;
      font-size: 18px;
      font-weight: 400;
      top: 0;
      line-height: 3rem;
    }
    &--amount {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 50px;
      color: $darkgray;
      letter-spacing: 0px;
      font-weight: 600;
    }
    &--hour {
      font-family: "Poppins", sans-serif;
      color: $darkgray;
    }
  }
}

@media screen and (min-width: $large) {
  .cards__section {
    padding-bottom: 100px;
  }
  .cards__section-container {
    width: 90%;
    padding: 27px 10px;
  }
  .cards__container {
    display: flex;
  }
  .cards__card-wrapper {
    width: 30%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;

    &:nth-child(1),
    &:nth-child(2) {
      margin-right: 4.5%;
    }
  }
  .cards__card {
    display: flex;
    align-items: stretch;
  }
}
@media screen and (min-width: $xlarge) {
  .cards__section-container {
    width: 80%;
  }
}
@media screen and (min-width: $middle) and (max-width: $large) {
  .cards__section-container {
    width: 95%;
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media screen and (max-width: $large) {
  .cards__section-container:first-child {
    padding-bottom: 45px;
  }
  .cards__section-container:last-child {
    padding-top: 0;
  }
}
.card-price-section__button-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.card-price-section__text__button {
  cursor: pointer;
  display: inline-block;
  padding: 12px 37px;
  background-color: $primaryColor !important;
  color: #ffffff !important;
  border: 2px solid $primaryColor !important;
  border-radius: 45px;
  letter-spacing: 0px;
  font-size: 14px;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 1000;
  text-transform: uppercase;
  transition-duration: 0.3s;
  margin: auto;
  white-space: nowrap;
}
.card-price-section__text__button:hover {
  color: $primaryColor !important;
  background-color: transparent !important;
  text-decoration: none;
}
