@import "../../snippets/scss/_defaults.scss";

.cards__card-number__container {
  display: flex;
  padding-bottom: 0;
  @media screen and (max-width:$large) {
    display: none;
  }
}
.cards__card-wrapper {
  margin-top: 3rem;
  text-align: center;
}
.cards__card-divider {
  width: 100%;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-top-style: dotted;
  border-top-width: 2px;
  margin-bottom: -31px;
}
.cards__card-number {
  width: 6rem;
  margin-bottom: 1rem;
  border-radius: 100%;
  display: inline-block;
  background-color: $primaryColor;
  font-size: 31px;
  line-height: 62px;
  font-weight: 1000;
  width: 62px;
  margin-bottom: 1rem;
  text-align: center;

  & span {
    color: #fff !important;
  }
  &-mobile {
    width: 100%;
    position: relative;
    & .cards__card-divider {
      &:nth-child(2n + 1) {
        margin-top: 4rem;
      }
    }
    & .cards__card-number {
      margin-bottom: 2rem;
    }
  }
  &-desktop {
    width: 28%;
    text-align: center;
    &:nth-child(1),
    &:nth-child(2) {
      margin-right: 7.5%;
    }
  }
}
@media screen and (min-width: $large) {
  .cards__card-number {
    &-mobile {
      display: none;
    }
    &-desktop:nth-child(1) .cards__card-divider,
    &-desktop:nth-child(2) .cards__card-divider {
      width: 126%;
    }
  }
  .cards__card-wrapper {
    margin-top: 0;
  }
}
@media screen and (max-width: $large) {
  .cards__card-number-desktop {
    display: none;
  }
}
