@import "../../snippets/scss/defaults.scss";

.card-topic-section__section {
  width: 100%;
  margin-bottom: 1px;
  background-color: $gray;
}
.card-topic-section__section-container {
  width: 95%;
  max-width: 1081px;
  padding: 27px 10px;
  margin: 0 auto;
}
.card-topic-section__title {
  width: 100%;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  font-size: 36px;
  font-weight: 1000;
  text-align: left;
  color: $primaryColor !important;
  padding: 25px 0 0 0;
}
.card-topic-section__card-wrapper {
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 3rem;
  text-align: center;
  &:nth-child(-n + 1) {
    margin-top: 0;
  }
}
.card-topic-section__card-link:hover {
  text-decoration: none;
}
.card-topic-section__card {
  width: 100%;
  background-color: $lightgray;
  border-radius: 6px;
  box-shadow: 0px 10px 24px 6px rgba(0, 0, 0, 0.06);
  transition: 0.9s;
  &__content {
    max-width: 550px;
    margin: 0 auto;
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #486066 !important;
    line-height: 1.8em;
    border-radius: 6px 6px 6px 6px;
    overflow: hidden;
    border-color: $gray;
    word-wrap: break-word;
  }
  &__img {
  }
  &__title {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #486066 !important;
    line-height: 1.3em;
    text-align: center;
    padding: 27px 12px;
  }
  &__description {
    line-height: 1.8em;
    text-align: center;
  }
  &:hover {
    cursor: pointer;
  }
}

.card-topic-section__slider {
  display: none;
}
@media screen and (min-width: $large) {
  .card-topic-section__section {
    padding-bottom: 45px;
  }
  .card-topic-section__container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
  }
  .card-topic-section__section-container {
    width: 90%;
    padding: 27px 10px 0 10px;
  }
  .card-topic-section__card-wrapper {
    width: 18%;
    margin-right: 9.33%;

    &:nth-child(-n + 4) {
      margin-top: 0;
    }
    &:nth-child(4n + 4) {
      margin-right: 0;
    }
  }
  .card-topic-section__card {
    &:hover {
      transition: 0.9s;
      transform: scale(1.1);
    }
  }
}
@media screen and (min-width: $xlarge) {
  .card-topic-section__section-container {
    width: 80%;
  }
}
@media screen and (min-width: $xsmall) and (max-width: $large) {
  .card-topic-section__section-container {
    width: 95%;
    padding-right: 50px;
    padding-left: 50px;
  }
  .card-topic-section__container {
    display: flex;
    flex-wrap: wrap;
  }
  .card-topic-section__card-wrapper {
    margin-top: 3.5rem;
    width: 47%;
    text-align: center;
    margin-right: 6%;

    &:nth-child(-n + 2) {
      margin-top: 0;
    }
    &:nth-child(2n + 2) {
      margin-right: 0;
    }
  }
}
@media screen and (max-width: $large) {
  .card-topic-section__section-container:last-child {
    padding-top: 0;
  }
}
