@import "../../snippets/scss/defaults.scss";

.cards__card-wrapper {
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 3rem;
  text-align: center;
}
.cards__card {
  width: 100%;
  background-color: $lightgray;
  border-radius: 6px;
  box-shadow: 0px 10px 24px 6px rgba(0, 0, 0, 0.06);
  &__content {
    max-width: 550px;
    margin: 0 auto;
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: $darkgray !important;
    line-height: 1.8em;
    border-radius: 6px 6px 6px 6px;
    overflow: hidden;
    border-color: $gray;
    padding: 25px 30px;
    word-wrap: break-word;
  }
}
.card-responsive-slider__card {
  &__img {
    max-width: 48%;
    margin: 0 auto 30px auto;
  }
  &__title {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: $darkgray !important;
    line-height: 1.3em;
    text-align: center;
    padding-bottom: 10px;
  }
  &__description {
    line-height: 1.8em;
    text-align: center;
  }
}

.cards__card-number__container {
  display: none;
  padding-bottom: 0;
}
.cards__card-divider {
  width: 100%;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-top-style: dotted;
  border-top-width: 2px;
  margin-bottom: -4%;
}
.cards__card-number {
  width: 6rem;
  margin-top: -3rem;
  margin-bottom: 1rem;
  border-radius: 100%;
  display: inline-block;
  background-color: $primaryColor;
  font-size: 24px;
  line-height: 43px;
  font-weight: 600;
  width: 43px;
  margin-bottom: 1rem;
  text-align: center;

  & span {
    color: #fff !important;
  }
  &-mobile {
    width: 100%;
    position: relative;
    display: none;
    height: 70px;
    & .cards__card-number {
      position: absolute;
      top: 0;
      margin-top: 10px;
      font-size: 35px;
      line-height: 65px;
      font-weight: 1000;
      width: 65px;
      left: calc(50% - 32.5px);
    }
  }
  &-tablet {
    width: 100%;
    position: relative;
    display: none;
    & .cards__card-number {
      position: absolute;
      top: -16px;
      font-size: 28px;
      line-height: 50px;
      font-weight: 600;
      width: 50px;
      left: calc(50% - 25px);
    }
  }
  &-desktop {
    width: 22%;
    text-align: center;
    display: none;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-right: 4%;
    }
  }
}
.card-responsive-slider__card__content {
  padding: 25px 30px;
}
.card-responsive-slider__slider {
  display: none;
}
@media screen and (min-width: $large) {
  .cards__card-number__container {
    display: flex;
  }
  .cards__card-wrapper {
    width: 22%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-right: 4%;
    }
  }
  .cards__card-number {
    &-desktop {
      display: block;
    }
  }
  .cards__card__content {
    padding: 40px 30px;
  }
}
@media screen and (min-width: $middle) and (max-width: $large) {
  .cards__card-number {
    &-tablet {
      display: block;
    }
  }
  .cards__card-divider {
    display: none;
  }
  .cards__card-wrapper {
    margin-top: 3.5rem;
    width: 35.5%;
    text-align: center;
    &:nth-child(1),
    &:nth-child(3) {
      margin-right: 17%;
      margin-left: 6%;
    }
    &:nth-child(2),
    &:nth-child(4) {
      margin-right: 5%;
    }
  }
}
@media screen and (min-width: $small) and (max-width: $large) {
  .card-responsive-slider__card__img {
    max-width: 38%;
  }
}

@media screen and (min-width: $large) {
  .cards__card-number {
    &-mobile {
      display: none;
    }
    &-desktop:nth-child(1) .cards__card-divider,
    &-desktop:nth-child(2) .cards__card-divider,
    &-desktop:nth-child(3) .cards__card-divider {
      width: 117.5%;
    }
  }
  .cards__card-wrapper {
    margin-top: 0;
  }
}
@media screen and (max-width: $middle) {
  .cards__card-number {
    &-mobile {
      display: block;
    }
  }
  .cards__card-number__container {
    display: none;
  }
  .cards__section-container {
    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }
  }
  .card-responsive-slider__slider {
    display: block;
  }
  .card-responsive-slider__card-wrapper {
    margin: 15px;
  }
  .card-responsive-slider__card {
    box-shadow: 0px 5px 12px 4px rgba(0, 0, 0, 0.06);
  }
  .cards__card-divider {
    display: none;
  }
}
.card-responsive-slider-autoplay__carousel {
  color: $darkgray;
}
.card-responsive-slider__slider {
  & .slick-prev,
  & .slick-next {
    border-radius: 50%;
    &:before {
      margin-top: -1px;
      transform: rotate(45deg);
      content: "";
      display: block;
      height: 15px;
      margin-top: -6px;
      position: absolute;
      right: 10px;
      top: 50%;
      width: 15px;
      color: #636363;
    }
  }
  & .slick-prev {
    left: 27px;
    z-index: 1;
    &:before {
      border-bottom: 3px solid;
      border-left: 3px solid;
    }
  }

  & .slick-next {
    right: 13px;
    &:before {
      border-top: 3px solid;
      border-right: 3px solid;
    }
  }
  & .slick-dots li {
    color: lightgray;
    width: 8px;
    height: 8px;
    background-color: lightgray;
    border-radius: 50%;
    &.slick-active {
      background-color: gray;
    }
    & button,
    &.slick-active button {
      &::before {
        color: transparent;
      }
    }
  }
}
