@import "../../snippets/scss/defaults.scss";

.card-slider__section {
  width: 100%;
  margin-bottom: 1px;
  background-color: #f1f1f1;
}
.card-slider__section-container {
  width: 95%;
  max-width: 1081px;
  padding: 15px 10px;
  margin: 0 auto;
}
.card-slider__subtitle {
  padding-top: 4px;
  color: #486066;
}
.card-slider__title {
  width: 100%;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 1000;
  text-align: center;
  color: #5cc75f !important;
  padding: 25px 0 0 0;
}
.card-slider__title-image {
  margin-top: 14px;
}
.card-slider__title-container {
  text-align: center;
}
.card-slider__section {
  padding-bottom: 55px;
}
.card-slider__author {
  word-break: break-all;
}
@media screen and (min-width: 1200px) {
  .card-slider__section-container {
    width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .card-slider__section-container {
    width: 94%;
  }
  .card-slider__title-container {
    padding: 30px 0 0 0;
  }
  .cards__section-container:first-child {
    padding: 30px 0 0 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card-slider__section-container {
    width: 95%;
    padding-right: 50px;
    padding-left: 50px;
  }
}
.bold {
  font-weight: bold;
}
.quote__icon__large {
  font-size: 2rem !important;
  color: #486066 !important;
  padding-bottom: 1rem;
}
.autoplay__carousel {
  color: #486066;
}
.review__comment {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.comment {
  padding: 1.5rem;
  margin: 1rem;
  text-align: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.175);
  border-radius: 0.25rem;
}

.autoplay__carousel {
  & .slick-prev,
  & .slick-next {
    border-radius: 50%;
    &:before {
      margin-top: -1px;
      transform: rotate(45deg);
      content: "";
      display: block;
      height: 15px;
      margin-top: -6px;
      position: absolute;
      top: 50%;
      width: 15px;
      color: #636363;
    }
  }
  & .slick-prev {
    left: -17px;
    z-index: 1;
    &:before {
      border-bottom: 3px solid;
      border-left: 3px solid;
    }
    @media screen and (max-width:$small) {
      left: -6px;
    }
  }

  & .slick-next {
    right: -21px;
    &:before {
      border-top: 3px solid;
      border-right: 3px solid;
    }
    @media screen and (max-width:$small) {
      right: -8px;
    }
  }
  & .slick-dots li {
    color: lightgray;
    width: 8px;
    height: 8px;
    background-color: lightgray;
    border-radius: 50%;
    &.slick-active {
      background-color: gray;
    }
    & button,
    &.slick-active button {
      &::before {
        color: transparent;
      }
    }
  }
}
