@import '../../snippets/scss/defaults.scss';

.cards__card {
  width: 100%;
  background-color: $lightgray;
  border-radius: 6px;
  box-shadow: 0px 10px 24px 6px rgba(0, 0, 0, 0.06);
  &__content {
    max-width: 550px;
    margin: 0 auto;
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #486066 !important;
    line-height: 1.8em;
    border-radius: 6px 6px 6px 6px;
    overflow: hidden;
    border-color: $gray;
    padding: 25px 30px;
    word-wrap: break-word;
  }
}
.card-basic-section__card {
  &__img {
    max-width: 48%;
    margin: 0 auto 30px auto;
  }
  &__title {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 21px;
    color: #486066 !important;
    line-height: 1.3em;
    text-align: center;
    padding-bottom: 10px;
  }
  &__description {
    line-height: 1.8em;
    text-align: center;
  }
}

@media screen and (min-width: $large) {
  .cards__card-wrapper {
    width: 28%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;

    &:nth-child(1),
    &:nth-child(2) {
      margin-right: 7.5%;
    }
  }
  .cards__card__content {
    padding: 40px 30px;
  }
}
@media screen and (min-width: $small) and (max-width: $large) {
  .card-basic-section__card__img {
    max-width: 38%;
  }
}
