@import '../../snippets/scss/defaults.scss';

.contact-header__section {
  width: 100%;
  padding: 0px 0px 30px 0px;
  margin-bottom: 1px;
  background-color: $lightgray;
}
.contact-header__container {
  width: 80%;
  max-width: 1081px;
  padding-top: 40px;
  margin: 0 auto;
}
.contact-header__text {
  width: 100%;
  &__title {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: $primaryColor;
    margin-bottom: 10px;
  }
}
.contact-header__details {
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  font-size: 14px;
  color: $darkgray;
  font-weight: 500;
  &--link {
    color: $primaryColor;
  }
}

.contact-header__detail {
  display: flex;
  flex-wrap: wrap;

  &--label {
    display: inline-block;
    color: $darkgray;
    font-weight: 300;
    margin-right: 10px;
  }
  &--text {
    display: inline-block;
    color: $darkgray;
    font-weight: 700;
  }
  &--text a {
    color: $darkgray;
    text-decoration: none;
  }
}
