@import '../../snippets/scss/defaults.scss';

.contact-formular__section {
  width: 100%;
  padding: 0px 0px 30px 0px;
  margin-bottom: 1px;
  background-color: $gray;
}
.contact-formular__container {
  width: 80%;
  max-width: 1081px;
  padding-top: 40px;
  margin: 0 auto;
}
.contact-formular__text {
  width: 100%;
  &__title {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: $primaryColor !important;
    margin-bottom: 10px;
    word-break: break-all;
  }
  &__description {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: $darkgray;
    font-weight: 500;
    margin-bottom: 3%;
  }
}
.contact-formular__button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
.contact-formular__text__button {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  border: 2px solid $primaryColor;
  background-color: $primaryColor;
  border-radius: 100px;
  letter-spacing: 0px;
  font-size: 16px;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 1000;
  text-transform: uppercase;
  transition-duration: 0.3s;
  margin: auto;
  &:hover {
    color: $primaryColor !important;
    background-color: transparent !important;
  }
  & .contact-header__email {
    display: flex;
    flex-wrap: wrap;
  }
}
.contact-header__email-input {
  width: 47%;
  display: inline-block;
  border-radius: 6px 6px 6px 6px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: $lightgray;
  color: $darkgray;
  margin-bottom: 3%;
  padding: 16px;
  border-width: 0;
  margin-right: 3%;

  &:first-child,
  &:last-child {
    width: 100%;
  }
}
textarea.contact-header__email-input {
  min-height: 150px;
}
@media screen and (min-width: 992px) {
  .contact-formular__section {
    padding-bottom: 45px;
  }
  .contact-formular__button-wrapper {
    margin: 0;
  }
  .contact-formular__text__title {
    font-size: 30px;
  }
  .contact-formular__container {
    width: 80%;
  }
  .contact-formular__text {
    text-align: left;
  }
  .contact-formular__text-left {
    margin-right: 8%;
  }
}
@media screen and (min-width: 768px) {
  .contact-header__email {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .contact-formular__text__title {
    font-size: 28px;
  }
  .contact-header__email-input {
    width: 100%;
  }
}
