@import '../../snippets/scss/defaults.scss';
@import '../../snippets/scss/mixins.scss';

.dashboard-section {
  display: flex;
  justify-content: space-between;

}

.dashboard-appointments {
  flex-basis: 30%;
}

