@import "../../snippets/scss/defaults.scss";
@import "../../snippets/scss/mixins.scss";

.dashboard-appointment__empty {  
  @include large() {
    min-height: 40vh;
  }
  
  p {
    margin: 0;
    padding: 5px 20px 25px;
    font-size: $font-size-base;
    color: $darkgray;
    text-align: center;
  }
}

.dashboard-appointment-button-wrapper {
  padding-top: 20px;
  border-top: 1px solid $darkgray;
}

.dashboard-appointment-button {
  @include button-base-styles($width: 200px);
  @include button-hover($primaryColor);
  margin: 0 auto;
}
