$primaryColor: #5cc75f;
$gray: #f1f1f1;
$lightgray: #fafbfc;
$darkgray: #486066;
$xsmall: 480px;
$small: 576px;
$middle: 768px;
$large: 992px;
$xlarge: 1200px;


.error-404__section {
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  background-color: #f1f1f1;
}
.error-404__container {
  width: 95%;
  max-width: 1081px;
  padding: calc(50vh - 305px) 10px;
  margin: 0 auto;
  @media screen and (min-width: $large) {
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: $large) {
    width: 90%;
  }
}
.error-404__text {
  @media screen and (min-width: $large) {
    width: 49%;
    display: inline-block;
  }
  @media screen and (max-width: $large) {
    text-align: center;
  }
  &__title {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: $primaryColor !important;
    margin-bottom: 10px;
    @media screen and (max-width: 767px) {
      font-size: 26px;
    }
  }
  &__description {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: $darkgray;
    font-weight: 500;
  }
}
.error-404__button-wrapper {
  text-align: center;
  @media screen and (min-width: $large) {
    width: 49%;
    display: inline-block;
  }
  @media screen and (max-width: $large) {
    padding-top: 60px;
  }
}
.error-404__button {
  cursor: pointer;
  display: inline-block;
  padding: 12px 37px;
  background-color: $primaryColor !important;
  color: #ffffff !important;
  border: 2px solid $primaryColor !important;
  border-radius: 22px;
  letter-spacing: 0px;
  font-size: 14px;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 1000;
  text-transform: uppercase;
  transition-duration: 0.3s;
  margin: auto;
  white-space: nowrap;
  &:hover {
    color: $primaryColor !important;
    background-color: transparent !important;
    text-decoration: none;
  }
}
