@import '../../snippets/scss/defaults.scss';

.followup-button__section {
  width: 100%;
  padding: 0px 0px 30px 0px;
  margin-bottom: 1px;
  background-color: $gray;
  @media screen and (min-width: $large) {
    padding-bottom: 45px;
  }
}
.followup-button__container {
  width: 80%;
  max-width: 1081px;
  padding-top: 40px;
  margin: 0 auto;
  @media screen and (min-width: $large) {
    width: 80%;
    display: flex;
    align-items: stretch;
  }
}
.followup-button__text {
  width: 100%;
  text-align: center;
  &__title {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: $primaryColor !important;
    margin-bottom: 10px;
    @media screen and (max-width: $middle) {
      font-size: 28px;
    }
  }
  &__description {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: $darkgray;
    font-weight: 500;
  }
  @media screen and (min-width: $large) {
    width: 54%;
    text-align: left;

    &__title {
      font-size: 30px;
    }
    &-left {
      margin-right: 8%;
    }
  }
}
.followup-button__button-wrapper {
  width: 100%;
  display: flex;
  margin-top: 30px;
  text-align: center;
  @media screen and (min-width: $large) {
    width: 46%;
    margin: 0;
  }
}
.followup-button__text__button {
  cursor: pointer;
  display: inline-block;
  padding: 12px 37px;
  background-color: $primaryColor !important;
  color: #ffffff !important;
  border: 2px solid $primaryColor !important;
  border-radius: 22px;
  letter-spacing: 0px;
  font-size: 14px;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 1000;
  text-transform: uppercase;
  transition-duration: 0.3s;
  margin: auto;
  white-space: nowrap;
}
.followup-button__text__button:hover {
  color: $primaryColor !important;
  background-color: transparent !important;
  text-decoration: none;
}
