@import "../../snippets/scss/defaults.scss";
@import "../../snippets/scss/mixins.scss";

.template-content__container {
  width: 100%;
}

.info-page__section {
  @include flex-center;
  min-height: 65vh;
  padding: 5vh 0;
  background-color: $lightgray;
}

.info-page__block {
  border-radius: 0.25rem;
  width: 90%;

  font-family: $font;
  background-color: $gray;
  color: $darkgray;

  @include small {
    width: 400px;
  }
}
