@import '../../snippets/scss/defaults.scss';
@import '../../snippets/scss/mixins.scss';

.message__empty {  
  font-family: $font;

  @include large() {
    min-height: 40vh;
  }
  
  p {
    margin: 0;
    color: $darkgray;
    text-align: center;
  }
}

.message__empty-title {
  padding-top: 5px;
  font-size: 21px;
}

.message-button-wrapper {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $darkgray;
}

.message-button {
  @include button-base-styles($width: 200px);
  @include button-hover($primaryColor);
  margin: 0 auto;
}