@import '../../snippets/scss/defaults.scss';

.navbar-brand img {
  max-width: 180px;
}
.nav-item {
  margin: 0 4px;
}
#top-nav .navbar-nav .nav-item,
#top-nav .navbar-nav .nav-item .nav-link,
#top-nav .nav-link,
#page-nav .navbar-nav .nav-item,
#page-nav .navbar-nav .nav-item .nav-link {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
  white-space: nowrap;
}
#page-nav .navbar-nav .nav-item .nav-link {
  margin: 7px 10px;
}
#page-nav .navbar-nav .nav-item,
#page-nav .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  color: $darkgray;
}
#top-nav .navbar-nav .nav-item,
#top-nav .navbar-nav .nav-item .nav-link,
#top-nav .nav-link {
  font-size: 12px;
  color: #ffffff;
}

#page-nav {
  min-height: 85px;
}

.nav-link {
  cursor: pointer;
  transition: 0.4s;
}
#page-nav .navbar-nav .nav-item .nav-link:hover {
  color: $primaryColor;
  transition: 0.4s;
}

#top-nav {
  height: 2.2rem;
  line-height: 0.4rem;
  -webkit-transition: background-color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
  -moz-transition: background-color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
  transition: background-color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
  color: #fff;
  font-size: 12px;
  background-color: $primaryColor;
  padding: 0.5rem 4rem;
}
.top-nav__phone-number {
  max-width: 150px;
}
.inloggen .fa-user {
  font-size: 14px;
  margin-bottom: 0.5px;
  margin-left: 3.5px;
}

.inloggen:after {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  background: url(/s3/content/user-1.png);
  background-size: auto;
  background-size: 100% 100%;
  margin-left: 5px;
}

.profile-picture {
  position: absolute;
  top: 21px;
  left: 0;
  right: 0;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
}

#page-nav.navbar-nav > li > a {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
}

#page-nav .navbar-nav li:hover a {
  color: $primaryColor;
}

.initials .circle {
  background-color: #eaeaea;
  border-radius: 100%;
  padding: 30px !important;
  font-size: 25px !important;
  text-align: center;
  float: left;
}
@media (min-width: $middle) {
  #page-nav .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
#page-nav .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
#page-nav .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

#page-nav .dropdown.dropdown-default .dropdown-toggle span {
  font-weight: bold;
}

#page-nav .dropdown.dropdown-default .dropdown-toggle {
  margin: 12px 10px 12px 14px;
  color: $darkgray;
}
@media screen and (min-width:$large) {
  #page-nav .dropdown.dropdown-default .dropdown-toggle {
    margin: 13px 10px 0 10px;
  }
}
#page-nav .dropdown.dropdown-default:hover .dropdown-toggle {
  color: $primaryColor;
}

#page-nav .dropdown-student .dropdown-toggle {
  color: $darkgray !important;
}

#page-nav .dropdown.initials {
  margin-top: -6px;
  min-width: 60px;
}
#page-nav .dropdown.initials:hover {
  cursor: pointer;
}

#page-nav .dropdown.initials .dropdown-menu {
  display: block;
  opacity: 0;
  z-index: -1;
  background-color: transparent;
  transition: 0.3s;
}
#page-nav .dropdown .dropdown-menu i,
svg {
  color: $darkgray !important;
}
#page-nav .dropdown.initials:hover .dropdown-menu {
  z-index: 13;
  opacity: 1;
  transition: 0.3s;
}
#page-nav .dropdown.initials .dropdown-menu .nav-item .nav-link {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  color: $darkgray;
  background-color: #fff;
  opacity: 0;
  padding: 0.5rem 0.5rem;
  transition: 0.9s;
}
#page-nav .dropdown.initials .dropdown-menu .nav-item {
  background-color: transparent;
  transition: 0.9s;
  margin: 0;
}
#page-nav .dropdown.initials .dropdown-menu .nav-item:first-child {
  border-radius: 6px 6px 0 0;
  border-top: none;
  padding-top: 3px;
}
#page-nav .dropdown.initials:hover .dropdown-menu .nav-item:first-child {
  border-top: 3px solid $primaryColor;
  transition-delay: 0.3s;
  transition: 0.9s;
}
#page-nav .dropdown.initials .dropdown-menu .nav-item:last-child {
  border-radius: 0 0 6px 6px;
}
#page-nav .dropdown.initials:hover .dropdown-menu .nav-item {
  background-color: #fff;
  transition-delay: 0.3s;
  transition: 0.9s;
}
#page-nav .dropdown.initials:hover .dropdown-menu .nav-item .nav-link {
  opacity: 1;
  transition: 1.7s;
  margin: 0 4px;
}
#page-nav .dropdown.initials .dropdown-menu .nav-item .nav-link:hover {
  color: $primaryColor;
  background-color: $gray;
  transition: 0.9s;
}
#page-nav .dropdown.initials .dropdown-toggle::after {
  content: none;
}
#page-nav .dropdown-menu {
  left: inherit;
  right: 0;
  min-width: 12rem;
  padding: 0;
  margin-top: 0.9rem;
  border: none;
  /* border-top: 3px solid $primaryColor; */
  color: $darkgray;
}
#page-nav .dropdown-menu li a {
  color: $darkgray;
  line-height: 20px;
  font-size: 14px;
}
#page-nav .dropdown-menu li {
  border-color: rgba(0, 0, 0, 0.05);
  border-style: solid;
  border-width: 0 0 1px 0;
}
#page-nav .dropdown-menu .nav-item svg,
#page-nav .dropdown-menu .nav-item i {
  margin-right: 8px;
  font-size: 12px;
}
#page-nav .dropdown__hover-effect {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 5rem;
}
#page-nav .nav-item__message {
  display: inline-block;
  position: relative;
  margin: 0 0 10px 8px;
}
#page-nav .nav-item__message--badge {
  position: absolute;
  top: -9px;
  right: -16px;
  line-height: 12px;
}
@media (max-width: 1080px) {
  .dropdown__hover-effect {
    height: 3rem;
  }
}

#page-nav .bootstrap-select > .dropdown-toggle:after {
  color: $darkgray;
}
#page-nav {
  padding: 0.4rem 1rem;
}
@media (min-width: $xsmall) {
  #page-nav {
    padding: 0.5rem 3.5rem 0.5rem 3rem;
  }
}
@media (max-width: 300px) {
  #page-nav {
    padding: 0.3rem 0.2rem;
  }
}
#page-nav .meer-mob {
  display: none;
  color: $darkgray;
}
#page-nav .fa-times {
  display: none;
}
/* mobile nav */

@media (max-width: $large) {
  #page-nav .nav-item__message--badge {
    top: -5px;
  }
  #page-nav .dropdown-menu {
    border: none;
  }
  #page-nav .dropdown .dropdown-toggle {
    margin: 7px 15px;
  }
  #page-nav .navbar-nav .nav-item a,
  #page-nav .dropdown-menu li a {
    font-size: 16px;
  }
  .profile-picture {
    display: none;
  }
  #page-nav .meer-mob {
    display: inline-block;
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;
    padding-top: 6px;
    padding-right: 3px;
  }
  .initials .circle {
    background-color: initial;
    border-radius: initial;
    padding: 0px !important;
    font-size: 16px !important;
    float: left;
    margin-top: 15px;
  }
  #page-nav .navbar-collapse .navbar-nav {
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 2px 0 0px 0;
    margin-top: 1rem;
  }

  #page-nav .dropdown.initials .dropdown-menu {
    display: block;
    position: relative;
    height: 0;
    opacity: 0;
    margin-top: -7px;
    z-index: -1;
    transition: 0.6s;
  }
  #page-nav .dropdown.initials:hover .dropdown-menu {
    /* display: block; */
    /* position: absolute; */
    height: auto;
    opacity: 1;
    margin-top: 1.1rem;
    z-index: 13;
    transition: 0.6s;
  }

  #top-nav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    font-size: 12px !important;
  }

  #page-nav .dropdown-student .dropdown-menu {
    margin-top: 2.9rem !important;
  }

  #page-nav .dropdown-student .dropdown__hover-effect {
    height: 0;
  }
}
