@import '../../snippets/scss/_defaults.scss';

.personal-information-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3%;

  @media screen and (max-width: $middle){
    grid-template-columns: 1fr;
  }
}

.personal-information-form__input, .personal-information-form__block {

}

.personal-information-form__block {
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3%;

  @media screen and (max-width: $small){
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: $small) and (max-width: $middle){
    grid-template-columns: repeat(2, 0.8fr);
  }
}
