@import '../../snippets/scss/defaults.scss';

.question-collection__section {
  width: 100%;
  padding: 0px 0px 30px 0px;
  margin-bottom: 1px;
}
.question-collection__container {
  width: 80%;
  max-width: 1081px;
  padding-top: 20px;
  margin: 0 auto;
}
.template-content {
  background-color: $lightgray;
}
.template-content__container {
  // width: 80%;
  margin: 0 auto;
}
@media (min-width: $large) {
  .template-content__container {
    display: flex;
    flex-wrap: wrap;
  }
  .question-collection__section:nth-child(odd) {
    padding-left:10%;
  }
  .question-collection__section:nth-child(even) {
    padding-right:10%;
  }
  .question-collection__section {
    width: 50%;
    display: inline-block;
  }
}
.question-collection__text {
  width: 100%;
  text-align: left;
  &__seperator-title {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: $primaryColor;
    margin-bottom: 10px;
  }
  &__title {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: $primaryColor;
    margin-bottom: 10px;
  }
}