@import '../../snippets/scss/_defaults.scss';

.searchbar-header__section {
  width: 100%;
  display: flex;
  padding: 0px 0px 30px 0px;
  margin-bottom: 1px;
  background-color: $lightgray;
  min-height: 521px;
  height: 50vh;
  position: relative;
  z-index: 11;
  @media screen and (min-width: $small) and (max-width: $large) {
    min-height: 550px;
  }
  @media screen and (min-width: $large) {
    min-height: 492px;
  }
  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
      url(/s3/content/shutterstock_1044241258-5-min-min-1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: -1;
  }
}
.searchbar-header__container {
  width: 80%;
  max-width: 1500px;
  padding-top: 40px;
  margin: auto;
}
.searchbar-header__text {
  width: 100%;
  text-align: left;
  &__title {
    padding-bottom: 40px;
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: $lightgray !important;
  }
  &__description {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 1em;
    color: $lightgray !important;
  }
}
.searchbar-header__searchbar {
  margin-top: 50px;
  background: #ffcc00;
}
.searchbar-header__searchbar__input-wrapper {
  display: flex;
  position: relative;
  margin-right: 0;
  margin-left: 0;
  padding-right: 2px;
  padding-left: 2px;
  transition: 0s;
  color: $darkgray;

  & i {
    /* width: 9px; */
    height: 11px;
    position: absolute;
    left: 8px;
    top: calc(50% - 7px);
    z-index: 9;
    font-size: 13px;
  }
}
button.btn.dropdown-toggle.btn-light {
  height: 50px;
  background: #fff;
  width: 100%;
}
.filter-option-inner-inner {
  color: $darkgray;
  margin-left: 13px;
  font-size: 15px;
}
.searchbar-header__searchbar__input,
button.btn.dropdown-toggle.btn-round.btn-simple {
  width: 100% !important;
  display: inline-block;
  height: 50px;
  margin: auto !important;
  border: none !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  line-height: 12px !important;
}
.btn-group.bootstrap-select.form-control.show-tick.school-type.searchbar-header__searchbar__input.placeholder {
  padding: 0 !important;
  margin: 0 !important;
}
.btn-group.bootstrap-select.form-control.show-tick.update-onchange.searchbar-header__searchbar__input {
  padding-left: 0 !important;
}
.btn-group.bootstrap-select.show-tick.form-control.school-course.update-onchange.update-onchange-subject.searchbar-header__searchbar__input {
  padding-left: 0 !important;
}
button.btn.dropdown-toggle.bs-placeholder.btn-round.btn-simple,
.btn-group > .btn {
  float: none;
}
span.bs-caret {
  display: none;
}
.searchbar-header__searchbar__input-button {
  border: none;
  color: #fff !important;
  font-size: 16px !important;
  line-height: 47px !important;
  font-weight: 600;
  text-transform: uppercase;
}
#postcode3 {
  color: $darkgray !important;
  font-size: 14px !important;
  line-height: 50px !important;
  padding-left: 18px;
  &:focus,
  &:active {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::placeholder {
    color: $darkgray !important;
    font-size: 14px !important;
  }
}
.searchbar-header__searchbar__input-button {
  background-color: $primaryColor;
  color: #fff;
}
.school-year,
.school-level {
  display: none;
}
.row:before,
.row:after {
  display: none;
}
.searchbar-header__searchbar-content {
  padding: 5px;
  width: 100%;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (min-width: $large) {
  .searchbar-header__container {
    width: 90%;
  }
  .searchbar-header__searchbar-content {
    display: flex;
    padding-bottom: 1px;
  }
  .searchbar-header__searchbar__input-wrapper {
    margin-bottom: 4px;
  }
}
@media screen and (min-width: $middle) and (max-width: $large) {
  .searchbar-header__text__description {
    font-size: 36px;
  }
  .searchbar-header__searchbar__input-wrapper {
    width: 100%;
    margin-bottom: 4px;
  }
  .school-year.searchbar-header__searchbar__input {
    padding-right: 5px;
  }
}
@media screen and (max-width: $middle) {
  .searchbar-header__searchbar {
    margin-top: 20px;
  }
  .searchbar-header__searchbar__input-wrapper {
    width: 100%;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .searchbar-header__text__title {
    padding-bottom: 20px;
    font-size: 32px;
    text-align: center;
  }
  .searchbar-header__text__description {
    font-size: 20px;
    text-align: center;
  }
}

.bootstrap-select .btn.btn-round.btn-simple .filter-option {
  padding-left: 4px;
}
.school-course > .dropdown-menu {
  max-height: 30vh;
  /* overflow-y: auto; */
}
@media (min-width: $middle) {
  .dropdown-menu.show {
    min-width: 100% !important;
    max-width: 100% !important;
  }
}
a.dropdown-item.selected:not([href]):hover {
  color: $darkgray;
  text-decoration: none;
}
.dropdown-menu .inner.show {
  overflow-x: hidden;
}
a.dropdown-item {
  padding: 0.5rem 0.75rem;
  &.selected {
    padding: 0.5rem 0.75rem;
  }
}
.bootstrap-select > .dropdown-toggle:after {
  color: $darkgray;
}
.searchbar-header__container .dropdown-menu {
  border: none;
  padding: 0;
}
.searchbar-header__container .dropdown-menu > li > a {
  padding: 4px 18px;
  color: $darkgray;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 14px;
  line-height: 25px;

  &:first-child,
  &:last-child {
    padding-top: 8px;
  }
}
.searchbar-header__container .dropdown-item {
  &:focus,
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.searchbar-header__section .dropdown-item.active {
  background-color: #eee;
}
.searchbar-header__section .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  top: 11px;
}
.searchbar-header__section .filter-option {
  display: flex;
  align-items: center;
}
.template-content .template-content__container section:nth-child(even) {
  background-color: $lightgray;
}
.template-content .template-content__container section:nth-child(odd) {
  background-color: $gray;
}