@import '../../snippets/scss/defaults.scss';

.site-map__section {
  width: 100%;
  padding: 0px 0px 30px 0px;
  margin-bottom: 1px;
  background-color: $gray;
  @media screen and (min-width: $large) {
    padding-bottom: 45px;
  }
}
.site-map__container {
  width: 80%;
  max-width: 1081px;
  padding-top: 40px;
  margin: 0 auto;
  @media screen and (min-width: $large) {
    width: 80%;
    display: flex;
    align-items: stretch;
  }
}

.site-map__text {
  width: 100%;
  text-align: center;
  &__title {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: $primaryColor !important;
    margin-bottom: 10px;
    @media screen and (max-width: $middle) {
      font-size: 28px;
    }
  }
  @media screen and (min-width: $large) {
    width: 54%;
    text-align: left;

    &__title {
      font-size: 30px;
    }
  }
}