@import '../../snippets/scss/defaults.scss';

.template-content {
  margin: 0px;
  /* position: relative !important; */
}
.template-content section:nth-child(odd) {
  background-color: $lightgray;
}
.template-content section:nth-child(even) {
  background-color: $gray;
}
/* START fade in effect with opacity in js/template.js */
section {
  opacity: 1;
}
@media screen and (max-width: $large) {
  .tutoring-info__section:not(.faded),
  .cards__section:not(.faded),
  .slider-cards__section:not(.faded) {
    opacity: 0;
  }
  .tutoring-info__section,
  .cards__section,
  .slider-cards__section {
    &:nth-child(1) {
      opacity: 1;
    }
    @media screen and (min-height: $middle) {
      &:nth-child(2) {
        opacity: 1;
      }
    }
  }
}
/* END fade in effect with opacity in js/template.js */
section img {
  max-width: 100%;
  height: auto;
}
/* START lazy loading with fade in effect */
@media screen and (min-width: $large) {
  img,
  div {
    opacity: 1;
    transition: 0.3s;
  }
  video {
    transition: 0.6s;
  }
  img[data-src],
  div[data-src],
  video.lazy {
    opacity: 0;
  }
}
@media screen and (max-width: $large) {
  img,
  div {
    opacity: 1;
    transition: 0.5s;
  }
  video {
    transition: 0.8s;
  }
  img[data-src],
  div[data-src],
  video.lazy {
    opacity: 0;
  }
}
/* END lazy loading with fade in effect */