@import '../../snippets/scss/defaults.scss';

.text-info__section {
  width: 100%;
  // padding: 0px 0px 40px 0px;
  margin-bottom: 1px;
  background-color: $lightgray;
  padding-bottom: 15px;
  @media screen and (max-width: $small) {
    // padding-bottom: 15px;
  }
}
.text-info__container {
  width: 80%;
  max-width: 1081px;
  // padding-top: 50px;
  margin: 0 auto;

  @media screen and (min-width: $large) {
    width: 90%;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: $middle) and (max-width: $large) {
    width: 90%;
    position: relative;
  }
  @media screen and (max-width: $middle) {
    // padding-top: 30px;
    // padding-bottom: 30px;
  }
  @media screen and (min-width: $small) and (max-width: $middle), screen and (min-width: $large) and (max-width: 1090px) {
    width: 90%;
    position: relative;
  }
  @media screen and (min-width: 440px) and (max-width: $small) {
    width: 80%;
    position: relative;
  }
  @media screen and (max-width: 439px) {
    width: 90%;
    position: relative;
  }
}

.text-info__text {
  width: 100%;
  &__title {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 32px;
    line-height: 32px;
    font-weight: 1000;
    text-align: left;
    color: $primaryColor !important;
    margin-top: 14px;
    margin-bottom: 14px;
  }
  &__subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    color: $primaryColor;
    padding-bottom: 10px;
    font-weight: 500;
    line-height: 1em;
  }
  &__description {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    text-align: left;
    color: $darkgray;
    font-weight: 500;
    & dl,ol,ul {
      margin-bottom: 0;
    }
    & ul {
      padding-left: 19px;
    }
    & ol {
      padding-left: 13px;
    }
  }
}
@media screen and (min-width: $large) {
  .text-info__text-full {
    width: 100%;
  }
}
@media screen and (max-width: $large) {
  .text-info__text {
    margin-top: 30px;
  }
}
@media screen and (max-width: $middle) {
  .text-info__text__title {
    font-size: 28px;
    line-height: 28px;
  }
}
