@import '../../snippets/scss/defaults.scss';

.tutoring-info__section {
  width: 100%;
  padding: 0px 0px 40px 0px;
  margin-bottom: 1px;
  background-color: $lightgray;
  @media screen and (max-width: $small) {
    padding-bottom: 15px;
  }
}
.tutoring-info__container {
  width: 80%;
  max-width: 1081px;
  padding-top: 50px;
  margin: 0 auto;

  @media screen and (min-width: $large) {
    width: 90%;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: $middle) and (max-width: $large) {
    width: 90%;
    position: relative;
  }
  @media screen and (max-width: $middle) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: $small) and (max-width: $middle), screen and (min-width: $large) and (max-width: 1090px) {
    width: 90%;
    position: relative;
  }
  @media screen and (min-width: 440px) and (max-width: $small) {
    width: 80%;
    position: relative;
  }
  @media screen and (max-width: 439px) {
    width: 90%;
    position: relative;
  }
}

.tutoring-info__text {
  width: 100%;
  &__title {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 32px;
    line-height: 32px;
    font-weight: 1000;
    text-align: left;
    color: $primaryColor !important;
    margin-bottom: 18px;
  }
  &__subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    color: $primaryColor;
    padding-bottom: 10px;
    font-weight: 500;
    line-height: 1em;
  }
  &__description {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    text-align: left;
    color: $darkgray;
    font-weight: 500;
    & ul {
      padding-left: 19px;
    }
    & ol {
      padding-left: 13px;
    }
  }
}
.tutoring-info__text__button {
  margin-top: 30px;
  height: 50px;
  text-align: center;
  & a {
    cursor: pointer;
    display: inline-block;
    padding: 12px 37px;
    background-color: $primaryColor !important;
    color: #ffffff !important;
    border: 2px solid $primaryColor !important;
    border-radius: 22px;
    letter-spacing: 0px;
    font-size: 14px;
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 1000;
    text-transform: uppercase;
    transition-duration: 0.3s;
    &:hover {
      color: $primaryColor !important;
      background-color: transparent !important;
    }
  }
}
.tutoring-info__video__media img {
  max-height: 300px;
  margin-right: auto;
  margin-left: auto;
  & img {
    margin: 0 auto;
    display: inherit;
  }
}
.tutoring-info__image__media {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: $large) {
  .tutoring-info__section {
    padding-bottom: 50px;
  }
  .tutoring-info__text {
    width: 46%;
  }
  .tutoring-info__text-left {
    margin-right: 8%;
  }
  .tutoring-info__text-full {
    width: 100%;
  }
  .tutoring-info--position-right {
    display: flex;
  }
  .tutoring-info--position-left {
    display: flex;
    margin-right: 8%;
  }
  .tutoring-info--position-hidden {
    display: none !important;
  }
}
@media screen and (max-width: $large) {
  .tutoring-info__text {
    margin-top: 30px;
  }
}
@media screen and (min-width: $middle) and (max-width: $large) {
  .tutoring-info__image__media {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: $small) and (max-width: $middle) {
  .tutoring-info__image__media {
    width: 85%;
  }
}
@media screen and (max-width: $middle) {
  .tutoring-info__text__title {
    font-size: 28px;
    line-height: 28px;
  }
  .tutoring-info__image__media {
    margin: 0 auto;
  }
}
