// colour variables
$white: #fff;
$black: #000;
$white-dark: #fafbfc;
$gray-light: #f1f1f1;
$gray-medium: #bbb;
$green-light: #a7ef9f;
$green: #5CC75F;
$green-dark: #486066;
$orange: #ffbd6b;
$red: #e45e5e;
$red-alert: #FE5D5D;

// font weight variables
$weight-light: 100;
$weight-medium: 400;
$weight-bold: 700;

// breakpoints
$break-xsmall: 480px;
$break-small: 576px;
$break-middle: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

@mixin rounded-border($border-colour) {
  border-radius: 6px;
  border: solid 2px $border-colour;
}

.tutor-profile__section {
  margin: 50px 0 50px;
}

.tutor-profile__container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 30px;
  width: 95%;
  margin: 0 auto;

  @media screen and (max-width: $break-middle) {
    grid-template-columns: 1fr;
    column-gap: 0;
    grid-template-row: auto auto;
  }
}
