<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<%  var isempty = false;
		   	var time = events[0].timeRange;

			_.each(events, function(event) { 
		   		//either the slot is a "request"=>1 or a "session"=>2 
		   		var slotType = (event['class'] == "event-info")? 1: (event['class'] == "event-warning")? 2 : 0;
		   %>
			<li class="list-item" data-event="<%= event['class'] %>" onclick="__onclick(this)">
			<% 
				var designation = (typeof(event.designation) === "undefined")? "" : event.designation;
				var status = (typeof(event.status) === "undefined")? 1 : event.status;
				var title_desc = (typeof(event.title_desc) === "undefined")? event.title : event.title_desc;
			   
			   	if(title_desc != "Beschikbaar"){
			   
			%>
			
			</li>
		<% } // ends (title_desc == "Beschikbaar") 
		   
		   }) // ends _.each()
		   %> 
			<li> 
				<div class="calender_dropdownTime">
					<div class="appointment-block">
						<div class="appointment-block__top-left">
							<h3 class="appointment-block__title">Maak een afspraak voor een bijles:</h3>
							<p class="appointment-block__text appointment-block__text--underline">Selecteer een gewenste begin- en eindtijd:</p>
							<p class="appointment-block__text appointment-block__top-right">Liever bijles op een ander tijdstip? Stuur de docent gerust een <a href="#container1" class="chat-focus appointment-block__link">berichtje</a>.</p>
							<p class="appointment-block__text">Afspraak op <% print(events[0]['day']) %></p>
						</div>
						<div class="appointment-block__bottom">
							<div class="calender_dropdown calender_dropdownStartTime appointment-block__startTime">
								<select id="calender_startTime">
									<% 	_.each(events, function(event) { %>
										<% 	_.each(event['available'], function(avail, j) { %>
											<% if(avail['suggested'] != true){ %>
												<option data-date="<% print(event['id']) %>" data-max="<% print(avail['max']) %>" data-min="<% print(avail['min']) %>" value="<% print(avail['begin']) %>"><% print(avail['begin']) %></option>
											<% } %>
											<% if(avail['suggested'] == true){ %>
												<option selected data-date="<% print(event['id']) %>" data-max="<% print(avail['max']) %>" data-min="<% print(avail['min']) %>" value="<% print(avail['begin']) %>"><% print(avail['begin']) %></option>
											<% } %>
										<%  }) // ends _.each() %>
									<%  }) // ends _.each() %>
								</select>
							</div>
							<div class="calender_dropdown calender_dropdownEndTime appointment-block__endTime">
								<select id="calender_endTime">
									<option value="select">Selecteer eindtijd</option>
								</select>
							</div>
							<input type="button" name="update" value="VERZOEK INDIENEN" id="appointment-block-button" class="btn appointment-block__button btn-raised btn-primary btn-round waves-effect inline-elem-updateButton bookSlots _hide inboeken-btn" onclick="bookTutor()"/>
						</div>
					</div>
				</div>
			</li>
	</ul>
</div>

<script>
	$(document).ready(function () {
		$('.chat-focus').on('click', function() {
			console.log($('.send-message-box'));
			$('.send-message-box').css({border: '2px solid #f1f1f1'}).animate({
				borderColor: '#486066'
			}, 1500).animate({
				borderColor: '#f1f1f1'
			}, 1500);
		});
	});
</script>
