
<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<%  var isempty = false;
			var time = events[0].timeRange;
			var counter = '0';
			var i = 0;
			_.each(events, function(event) { 
		   		//either the slot is a "request"=>1 or a "session"=>2 
				var slotType = (event['class'] == "event-info")? 1: (event['class'] == "event-warning")? 2 : 0;
				var designation = (typeof(event.designation) === "undefined")? "" : event.designation;
				var status = (typeof(event.status) === "undefined")? 1 : event.status;
				var title_desc = (typeof(event.title_desc) === "undefined")? event.title : event.title_desc;
				var event_id = (event['accepted']['id'])? event['accepted']['id'] : event['pending']['id'] 
		   %>
		  	 <% if(event['accepted']['0']){ %>
				<% _.each(event['accepted'], function(accepted) {  %>
					<li class="list-item" data-event="<%= event['class'] %>" onclick="__onclick(this)"></li>
						<span data-event-id="<%= event_id %>" data-event-class="<%= event['class'] %>" class="event-item" data-date="<%= event.date %>">
							<div class="accept-block">
								<h3 class="accept-block__title">Bijles</h3>
								<span>
										Tijd: <% print(accepted['begin']); %> - <% print(accepted['end']); %>
									</span>
									<span class="firstname">Naam docent: <b><a href="teacher-detailed-view?tid=<% print(accepted['userID']); %>"><% print(accepted['forename']); %></a></b> </span>
									<span>Adres: <% print(accepted['address']) %></span>
							</div>
						</span>
					</li>
				<% }) %>
			<% } %>

			<% if(event['pending']['0']){ %>
				<% _.each(event['pending'], function(pending) {  %>
					<li class="list-item" data-event="<%= event['class'] %>" onclick="__onclick(this)"></li>
						<span data-event-id="<%= event_id %>" data-event-class="<%= event['class'] %>" class="event-item" data-date="<%= event.date %>">
							<div class="afwacht-block"> 
								<h3 class="afwacht-block__title">Bijlesverzoek ingediend</h3> 
								<span>
										Tijd: <% print(pending['begin']); %> - <% print(pending['end']); %>
									</span>
									<span class="firstname">Naam docent: <b><a href="teacher-detailed-view?tid=<% print(pending['userID']); %>"><% print(pending['forename']); %></a></b> </span>
									<span>Adres: <% print(pending['address']) %></span>
								<span class="inline-elem-buttons-box">
								</span> 
							</div>
						</span>
					</li>
				<% }) %>
			<% } %>
		<% }) // ends _.each() %>
		   
	</ul>
</div> 
 