<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<%  var isempty = false;
			var time = events[0].timeRange;
			var counter = '0';
			var i = 0;
			_.each(events, function(event) { 
		   		//either the slot is a "request"=>1 or a "session"=>2 
				var slotType = (event['class'] == "event-info")? 1: (event['class'] == "event-warning")? 2 : 0;
				var designation = (typeof(event.designation) === "undefined")? "" : event.designation;
				var status = (typeof(event.status) === "undefined")? 1 : event.status;
				var title_desc = (typeof(event.title_desc) === "undefined")? event.title : event.title_desc;
				var event_id = (event['accepted']['id'])? event['accepted']['id'] : event['pending']['id'] 
		   %>
		  	 <% if(event['accepted']['0']){ %>
				<% _.each(event['accepted'], function(accepted) {  %>
					<li class="list-item" data-event="<%= event['class'] %>" onclick="__onclick(this)"></li>
						<span data-event-id="<%= event_id %>" data-event-class="<%= event['class'] %>" class="event-item" data-date="<%= event.date %>">
							<div class="accept-block">
								<h3>Bijles</h3>
								<span>
										tijd: <% print(accepted['begin']); %> - <% print(accepted['end']); %>
									</span>
									<span class="firstname">Naam docent: <b><% print(accepted['forename']); %> <% print(accepted['surname']); %></b> </span>
									<span>Adres: <% print(accepted['address']) %></span>
							</div>
						</span>
					</li>
				<% }) %>
			<% } %>

			<% if(event['pending']['0']){ %>
				<% _.each(event['pending'], function(pending) {  %>
					<li class="list-item" data-event="<%= event['class'] %>" onclick="__onclick(this)"></li>
						<span data-event-id="<%= event_id %>" data-event-class="<%= event['class'] %>" class="event-item" data-date="<%= event.date %>">
							<div class="afwacht-block"> 
								<h3>Bijlesverzoek ingediend</h3> 
								<span>
										tijd: <% print(pending['begin']); %> - <% print(pending['end']); %>
									</span>
									<span class="firstname">Naam docent: <b><% print(pending['forename']); %> <% print(pending['surname']); %></b> </span>
									<span>Adres: <% print(pending['address']) %></span>
								<span class="inline-elem-buttons-box">
								</span> 
							</div>
						</span>
					</li>
				<% }) %>
			<% } %>
		<% }) // ends _.each() %>
			<!-- <li> 
					<div class="calender_dropdownTime">	
						<div class="appointment-block"> 	
						<h3><b>Bijles inboeken:</b></h3>
							<div class="calender_dropdown calender_dropdownStartTime"> <select id="calender_startTime"><option value=""></option></select></div>
							<div class="calender_dropdown calender_dropdownEndTime"><select id="calender_endTime"><option value=""></option></select></div>
							<div class="calender_dropdown calender_dropdownButton"><input style="margin-top: -27px !important;" type="button" name="update" value="Bevestigen" class="btn btn-raised btn-primary btn-round waves-effect inline-elem-updateButton bookSlots _hide inboeken-btn" onclick="booking()"/></div>					
						</div>
					</div>
			</li> -->
			<li>
				<div class="calender_dropdownTime">
					<div class="appointment-block">

						<div class="appointment-block__top-left">
							<h3 class="appointment-block__title">Maak een afspraak voor een bijles:</h3>
							<p class="appointment-block__text appointment-block__text--underline">Selecteer een gewenste begin- en eindtijd:</p>
							<!-- <p class="appointment-block__text">Afspraak op 12 juni</p> -->
						</div>
				

						<div class="appointment-block__bottom">
							<div class="calender_dropdown calender_dropdownStartTime appointment-block__startTime">
								<select id="calender_startTime">
									<option value="select">Begintijd</option>
									<% 	_.each(events, function(event) { %>
										<% 	_.each(event['available'], function(avail, j) { %>
											<option data-date="<% print(event['id']) %>" data-max="<% print(avail['max']) %>" data-min="<% print(avail['min']) %>" value="<% print(avail['begin']) %>"><% print(avail['begin']) %></option>
										<%  }) // ends _.each() %>
									<%  }) // ends _.each() %>
								</select>
							</div>
							<div class="calender_dropdown calender_dropdownEndTime appointment-block__endTime">
								<select id="calender_endTime">
									<option value="select">Eindtijd</option>
								</select>
							</div>
							<input type="button" name="update" value="Afspraak inboeken" id="appointment-block-button" class="btn appointment-block__button btn-raised btn-primary btn-round waves-effect inline-elem-updateButton bookSlots _hide inboeken-btn" onclick="bookTutor()"/>

						</div>
					</div>
				</div>
			</li>
	</ul>  
</div> 
  