/* fixes */
.btn, button {
  text-decoration: none !important;
}

/* icons */
.fa, .far, .fas {
  margin-right: 10px !important;
  margin-left: 5px !important;
  line-height: 2 !important;
}

.fa, .far, .fas {
  font-family: "Font Awesome 5 Free" !important;
  font-size:16px !important;
  color: $white;
}

.info-icon{
  color: $gray-medium !important;
}

.green-icon{
  color: $green !important;
}

.red-icon{
  color: $red !important;
}

.orange-icon{
  color: $orange !important;
}

/* general form styles */
.page-header:after{
  width: 75% !important;
}

#launcher.zEWidget-launcher {
  display: none !important;
}

#gobot-wrapper #gobot-footer a {
  display: none !important;
}

form input.input-text, .input-text, form .input-textarea, .input-textarea, form .input-select, .input-select {
  @include input-text;

  form#info & {
    width: 100%;
  }
}

form {

  .input-label {
    margin: 0 0 5px 15px !important;

    .input-label__i {
      color: #bbb !important;
      font-family: "Font Awesome 5 Free" !important;
      font-size: 16px !important;
    }
  }

  .input-label__block {
    display: block;
  }
}

label {
  &.changed {
    color: $red !important;
  }
}

#login_form .login_form_input {
  background-color: $white-dark !important;
  border: solid 1px  $gray-medium !important;
  border-radius: 6px !important;
  font-size: 16px !important;
  padding: 7px 15px !important;
  color: #5a777b !important;
}

#cal-day-tick {
  display: none !important;
}

.footer-note {
  display: none;
}

/* recaptcha */

// recaptcha on login page (/app)
#login_form.login-form #recaptcha, #login_form.login_form #recaptcha {
  margin: 0 !important;
  width: 100%;
  transform-origin: 0px 0px 0px;
  transform: scale(1);

  > div {
    margin: 0 auto;

    @media screen and (max-width: 360px) {
      transform: scale(0.6);
      transform-origin: 15% 0;
    }

    @media screen and (min-width: 361px) and (max-width: $breakpoint-tablet) {
      transform: scale(0.8);
      transform-origin: 15% 0;
    }
  }
}

#login_form.login_form #recaptcha {
  > div {

    @media screen and (max-width: $breakpoint-tablet) {
      transform: scale(0.9);
    }
  }
}

.g-recaptcha.error {
  border: solid 2px #c64848;
  padding: .2em;
  width: 19em;
}

#g-recaptcha-response-1 {
  display: block !important;
  position: absolute;
  margin: -78px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0;
}

/* layouts & responsive */

form {

  &#info {

    &.container {
      width: 90% !important;

      @media screen and (min-width: $breakpoint-tablet) {
        width: 100% !important;
        max-width: 100% !important;
      }

      .col-bijles {
        @media screen and (max-width: 480px) {
          width: 100% !important;
        }
      }
    }
  }
}

.card {
  &.action_bar, &.profile-header, &.demo-masked-input {
    background-color: $gray-light;
  }

  .page-calendar & {
    background-color: $gray-light;
  }
}

.btn.btn-warning {
  background-color: transparent;

  &:hover {
    color: #fff !important;
  }
}

.mapboxgl-canvas-container {
  display: none !important;
}

/* login styles */

body.login-body {
  .page-header {
    background-color: $white-dark;
    height: auto;
    padding: 0;
    margin: 0;

    &:before {
      background-color: transparent;
    }

   .container {
     height: auto;
     width: 90%;

     @media screen and (min-width: $breakpoint-tablet) {
       width: auto;
     }

     .login-container {
       padding: 30px 0 100px 0;
       height: auto;

       @media screen and (min-width: $breakpoint-screen) {
         height: 700px;

         &.login-container--sm-padding {
           padding-top: 8%;
         }

         &.login-container--md-padding {
           padding-top: 12%;
         }

         &.login-container--lg-padding {
           padding-top: 16%;
         }

       }

       .card-plain {
         @media screen and (min-width: $breakpoint-tablet) {
           width: 400px;
           max-width: 400px;
         }
       }
     }
   }
  }
}

.authentication {

  .card-plain {

    form.login-form {
      padding-top: 10px;
      padding-bottom: 25px;
      padding-left: 0;
      padding-right: 0;
      background-color: $gray-light !important; /* !!! remove important !!! */
      border-radius: 6px !important;
    }
  }
}

.ma-heading.login-form-header {
  color: $green !important;
  text-transform: capitalize;
  font-size: 21px !important;
  border-bottom: 1px solid #bbb;
  padding-bottom: 20px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.login-form-content {
  padding-bottom: 25px;
  width: 100%;
}

.login-form-content__group {
  margin-top: 20px;
  padding: 0 25px;
  position: relative;

  &:first-child {
    margin: 0;
  }
}

.login-form-footer {
  border-top: solid 1px $gray-medium;
  margin-top: 25px;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.login-form-footer__text {
  padding: 0;
  margin: 0 0 10px;
  text-align: center;
  font-weight: 500;
  line-height: 1em;
  font-size: 12px;
  color: $green-dark;

  &:first-of-type {
    margin-bottom: 20px;
  }

  &:last-child {
    margin: 0;
  }

  .login-form-footer__link {
    cursor: pointer;

    &:hover {
      text-decoration: underline !important;
    }
  }
}

.login-form-footer__link, .modal-content p.login-form-footer__text {
  @extend .login-form-footer__text;
  text-decoration: none;
  cursor: pointer;

  @media screen and (max-width: $breakpoint-tablet) {

  }

  &.PopupBtnRegister {
    cursor: pointer;
  }
}

.login-form__button-container {
  padding: 0 25px;
}

.btn.login-form-button, #login.btn.login-form-button, #login_form .btn.login-form-button {
  @include button-green--no-hover;
  margin: 0 !important;
  box-sizing: border-box;
  width: 100% !important;
  cursor: pointer;
  padding: 14px 0px;
  font-size: 16px !important;

  &:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17) !important;
  }
}

#login_form input.login-form-input, input.login-form-input {
  width: 100%;
  height: 45px;
  background-color: $white-dark !important;
  border: solid 1px $gray-medium !important;
  border-radius: 6px !important;
  margin: 0;
  font-size: 16px !important;
  padding: 7px 15px !important;
  color: #5a777b !important;
}

.input-group.input-lg.login-input-group {
  margin-top: 20px;
  padding: 0 25px !important;
  margin-bottom: 0;

  &:first-child {
    margin-top: 0;
  }
}

.authentication .card-plain  form.login-form .input-group-addon.inloggen-input-icon {
  padding: 0;
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 15px;
  right: 35px;
  border: none;
  overflow: hidden;
  display: block !important;
}

.login-form__text {
  font-size: 16px;
  text-align: center;
  padding-bottom: 5px !important;
  padding: 0 25px;

  &:last-of-type {
    padding-bottom: 0 !important;
  }
}

a.login-form__link {
  color: $green !important;

  &:hover {
    text-decoration: none;
  }
}

.login-form-label {
  padding: 0;
  margin: 0;
  font-size: 16px;
  text-align: left;
  float: left;
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}


.heading-green {
  color: $green;
}

.heading {
  padding-bottom: 10px;
}

section.content {
  .content{
    background-color: $gray-light;
    border: none;
    border-radius: 6px;
  }
}

.steps > ul > li:not(.current) a {
  border: 2px solid $gray-light;
  border-radius: 6px;
}

.input_distance {
  width: 50%;
}

.registration_submit {
  width: 47%;
}

.form-group.registration_buttons {
  overflow: hidden;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* calendar at al styles */
body section.content {
  padding-top: 0;
  margin-top: 50px !important;
}

.cal-row-head .cal-cell1:hover {
  background-color: transparent;
}

body .container1__card {
  box-shadow: none;
  border: 2px solid #F1F1F1;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 35px;

  .tutorprofile-title {
    float: left;
    border-bottom: solid 1px $green-dark;
    width: 75%;
  }

  .cal-month-box .cal-day-today span[data-cal-date] {
    color: $green-dark !important;
  }

  .tutorprofile_calendar {
    overflow: hidden;
    width: 100%;

    .card {

      .header {
        background-color: transparent;

        .page-header {
          height: auto !important;
          overflow: hidden;
          background-color: transparent;
          position: relative;
          margin-bottom: 0;

          .tutorprofile-titledate {
            overflow: hidden;
            margin-bottom: 10px;
          }

          .ma-subtitle {
            color: $green-dark !important;
            float: left;
          }

          .tutorprofile-titledate-note {
            float: left;
            padding: 0;
            margin: 0 0 0 20px;
          }

          .tutorprofile-next-prev {
            position: absolute;
            top: 0;
            right: 100px;

            button[data-calendar-nav='prev'] {
              border-right: 1px !important;
            }
          }

          .colorLegend {
            overflow: hidden;

            .colorLegend-p {
              padding: 0 25px 0 0;
              margin: 0;
              float: left;
            }

            span.color {
              padding: 0;
              margin: 0px 15px 0 0 !important;
              width: 30px !important;
              height: 24px !important;
              display: block !important;
              float: left;
            }
          }
        }
      }

      .cal-row-head {
        //border-top: solid 1px $green-dark;

        div[class*="cal-cell"] {
          background-color: #fff;
        }

        div[class*="cal-cell"]:hover {
          background-color: transparent;
        }
      }

      .cal-month-box {
        //border-right: solid 1px $green-dark;
        //border-bottom: solid 1px $green-dark;
        //border-left: solid 1px $green-dark;
      }
    }
  }
}

/* calendar fold out */
#calender_startTime, #calender_endTime{
  width: 100px;
  color: #486066 !important;
  border-radius: 6px;
  font-family: poppin !important;
  display:inline;
  margin-left: 5px;
}

#cal-slide-content {
  padding: 0 !important;
}

.fold-out {
}

.fold-out__item {
  padding: 20px 15px 15px 40px;

  &.calender_dropdownTime {
    border-top: solid 1px $green-dark;
  }
}

.fold-out__item, .fold-out-inner {
  overflow: hidden;
}

.fold-out__title {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
  font-style: normal;
  font-size: 21px;

  &.orange {
    color: $orange !important;
  }

  &.green {
    color: $green !important;
  }
}

.fold-out-inner__left {
  float: left;
}

.fold-out__time, .fold-out__name {

  span {
    display: inline-block;
    margin-left: 10px;
  }
}

.fold-out__name span {
  font-weight: bold;
}

.fold-out-inner__right {
  float: right;
  width: 30%;

  input.fold-out__button {
    width: 100%;
    float: none;

    &.green {
      background-color: $green;
      border: solid 2px $green !important;

      &:hover {
        background-color: transparent;
        color: $green !important;
      }
    }

    &.orange {
      background-color: $orange;
      border: $orange;
      border: solid 2px $orange !important;

      &:hover {
        background-color: transparent;
        color: $orange !important;
      }
    }
  }
}

.fold-out__button {
  width: 200px;
  float: left;
  display: block;
  padding: 6px 12px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  color: #fff !important;

  &.green {
    background-color: $green;
    border: solid 2px $green !important;

    &:hover {
      background-color: transparent;
      color: $green !important;
    }
  }

  &.orange {
    background-color: $orange;
    border: $orange;
    border: solid 2px $orange !important;

    &:hover {
      background-color: transparent;
      color: $orange !important;
    }
  }
}

.fold-out__bottom {
  overflow: hidden;
  border-top: solid 1px $green-dark;
  padding: 20px 30px 20px 40px;
}

#calender_startTime, #calender_endTime {
  float: left;
  margin-right: 20px;
  margin-top: 3px;
}

#calender_endTime {
  margin-right: 50px;
}

.fold-out__note {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
  font-style: normal;
  font-size: 21px;
  float: left;

  .calender_dropdownTime & {
    float: none;
  }
}

.fold-out__i {
  float: left;
  margin-left: 10px;
  border: solid 1px #000;
  padding: 0px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.fold-out__checkbox {
  float: right;
  display: block;
  font-weight: 400;
  font-size: 16px;

  input {
    float: right;
    margin-left: 20px;
  }
}
.fold-out__tick {
  color: #ffbd6b !important;
}
.fold-out__tick {
  background-color: #fafbfc !important;
}
.fold-out__tick {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 0;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
  outline: none;
}

.appointment-block {
 @include clear-fix;
}

.appointment-block__top-left {
  width: 100%;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.appointment-block__title {
  font-weight: 700;
  font-size: 22px;
}

p.appointment-block__text {
  padding-bottom: 10px;
}

.appointment-block__text--underline {
  text-decoration: underline;
  padding-bottom: 10px;
}

.appointment-block__link {
  color: $green !important;
}


.appointment-block__top-right {
  width: 100%;
  margin-bottom: 10px;

  @media screen and (min-width: $breakpoint-screen) {
    position: absolute;
    width: 40%;
    margin-top: 0;
    top: 10px;
    right: 0;
  }

  display: block;
  background-color: $gray-light;
  border-radius: 6px;
  padding: 10px 20px;
  margin-right: 10px;
}


.appointment-block__bottom {
  @include clear-fix;
  width: 100%;
  padding: 10px 10px 10px;
}

.appointment-block__startTime {
  display: inline-block !important;
  width: 190px !important;
  margin: 0 0 0 20px !important;

  #calender_startTime {
    margin: 0;
  }
}

.appointment-block__endTime {
  display: inline-block !important;
  width: 190px !important;
  margin: 0 !important;

  #calender_endTime {
    margin: 0;
  }
}

#appointment-block-button.appointment-block__button {
  @include button-green--no-hover;
  display: inline-block!important;
  width: 100% !important;
  vertical-align: top;
  margin-left: 0;
  height: 40px;

  @media screen and (min-width: $breakpoint-screen) {
    width: 300px !important;
    overflow: hidden;
  }
}

#cal-slide-box #cal-slide-tick {
  background-image: none;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid $green-dark;
  margin-left: -10px;
}

.availability-checkmark {
  @include clear-fix;
}

.availability-check {
  margin: 0 0 0 10px !important;
}

.availability-checkmark__title {
  width: 100%;
  padding: 3px 0 0 0;

  @media screen and (min-width: $breakpoint-screen){
    float: left;
    width: auto;
  }
}

.availability-checkmark__form {
  width: 100%;

  @media screen and (min-width: $breakpoint-screen){
    float: right;
    width: auto;
  }
}

.availability-checkmark__label {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}

#calender_startTime:focus, #calender_endTime:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.afwacht-block, .accept-block {
  @include clear-fix;
  padding: 20px 30px;
  border-bottom: solid 1px $green-dark;
}

.afwacht-block__left, .accept-block__left {
  @media screen and (min-width: $breakpoint-screen) {
    width: 60%;
    float: left;
  }
}

.afwacht-block__right, .accept-block__right {
  padding-top: 20px;

  @media screen and (min-width: $breakpoint-screen) {
    width: 40%;
    float: right;
    padding-left: 5%;
  }
}

.afwacht-block__title {
  color: $orange !important;
  font-weight: 700;
}

.accept-block__title {
  color: $green !important;
  font-weight: 700;
}

.afwacht-block__text, .accept-block__text {
  padding: 0;
}

.btn.afwacht-block__accept-btn {
  @include button-green--no-hover;
  margin: 0 0 10px 0 !important;
  width: 100% !important;
}

.btn.afwacht-block__reject-btn, .btn.accept-block__reject-btn {
  @include button-green--no-hover;
  background-color: $orange !important;
  border-color: $orange !important;
  margin: 0 !important;
  width: 100% !important;
}

.availability-checkmark__form #check {
  margin-left: 10px;
}

/* message & student list */

.student-list .content.inbox .student-list__body.body {
  min-height: 50vh;
  padding: 20px 40px !important;
  height: auto;

  .row {
    margin-bottom: 10px;
  }

  .col-md-6 {
    @media screen and (max-width: $breakpoint-tablet) {
      width: 100%;
      word-wrap: break-word;
    }
  }

  @media screen and (max-width: $breakpoint-tablet) {
    padding: 20px 20px !important;
  }
}

.student-list .content.inbox .message-card .body {
  @media screen and (max-width: $breakpoint-tablet) {
    padding: 20px 20px !important;
  }
}

.student-list__heading, .student-list__heading--span, .student-list__heading--link {
  font-size: 21px;
  color: $green !important;
}

.student-list__heading--span {
  font-weight: $weight-bold;
}

.content.inbox .message-card .header .ma-main-title {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
  font-size: 21px !important;
  text-align: left;

  &:before {
    display: none;
  }
}

.content.inbox .message-card {
  background-color: #FFFFFF;
  border: 2px solid
  #f1f1f1;
  border-radius: 6px;
}

.content.inbox .message-card .header {
  background-color: #F1f1f1 !important;
  padding: 20px 40px !important;
}

.content.inbox .message-card .body {
  padding: 20px 40px !important;
  height: auto;
  min-height: 200px;
}

.card .body {
  background-color: #FAFBFC !important;
  border: 2px solid #FAFBFC;
  border-radius: 6px;
}

.content.inbox .no-message.no-message--edit {
  font-size: 21px;
  padding-top: 70px;
}

.mail_list_link:hover {
  text-decoration: none;

  .media-heading__name {
    text-decoration: underline;

    .badge {
      text-decoration: none;
    }
  }
}

.media-heading__name {
  display: inline-block;
  width: 160px;
}

p.msg{
  float:left;
  margin-right: 80px;
  font-size: 16px;
}

p.msg_text {
  word-break: break-all;
  overflow: hidden;
  font-size: 16px;
}

/* modal, popups & diags */
.tooltip-inner {
  max-width: none;
  box-shadow: 0px 0px 5px #666 !important;
}

.tooltip {
  padding: 5px;
}

body {
  #appointment-delete-type, #availability-delete-type, #modal-information-type, #fullCalModal, #modal-delete-type {
    padding-right: 0 !important;
    padding-left: 0 !important;

    @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-screen) {
      padding-top: 45px !important;
    }
  }
}

body .modal {

  &#login-register-modal {
    input {
      -webkit-transform: translateZ(0px);
    }

    input[type="text"], input[type="tel"], input[type="password"], input[type="search"], input[type="email"], input[type="number"], input[type="date"], select, textarea {
      background-color: $white-dark !important;
    }

    #msform label {
      margin-left: 5%;
      @media screen and (max-width: 350px) {
        font-size: 14px !important;
      }
    }

    .modal-header {
      border-bottom: solid 1px $gray-medium !important;
      background-color: transparent !important;

      h2 {
        margin: 0;
        padding: 20px 0 20px 0 !important;
        text-align: center;
      }
    }

    .close {
      position: absolute;
      top: 8px;
      right: 11px;
      font-size: 30px;
      color: $green-dark !important;
      opacity: 0.5;
      font-weight: $weight-light;

      &:hover {
        opacity: 0.8;
      }
    }

    .registreren-modal-title {
      font-weight: $weight-bold;
      font-size: 24px !important;
    }

    .modal-content {
      overflow-y: scroll;
      background-color: $gray-light !important;
      border: none;

      &.modal--no-scroll {
        overflow-y: hidden;
      }

      p {
        font-weight: $weight-light;
        padding: 0 20px;
        margin: 10px 0;
      }
    }

    .modal-bottom__link {
      color: $green !important;
      text-align: center;
      font-weight: $weight-bold;
      padding: 20px 0;
      margin: 0;
      text-transform: uppercase;
      font-size: 14px !important;
    }

    .inloggen::after {
      display: none;
    }

    #next-part1, .action-button {
      @include button-green--no-hover;
      background-color: $green !important;
      width: 100%;
    }
  }

  &#student-first-book {
    @media screen and (min-width: $breakpoint-tablet) {
      padding-top: 250px;
    }

    .modal__content {
      overflow-y: hidden;
      max-height: none;
      padding: 0;
    }

    .modal__header .modal__title {
      font-size: 24px !important;

      .modal__title--name {
        text-transform: capitalize;
        color: $green !important;
        font-size: 24px !important;

        @media screen and (min-width: $breakpoint-tablet) {
          font-size: 36px !important;
        }
      }

      @media screen and (min-width: $breakpoint-tablet) {
        font-size: 36px !important;
      }
    }
  }

  .modal-dialog {
    margin: 0 !important;
    max-width: none !important;
    width: 100%;
    transform: none !important;
  }

  .modal__content {
    width: 90%;
    margin: 0 auto;
    background-color: $white-dark;
    border-radius: 6px;
    position: relative;

    @media screen and (min-width: $breakpoint-tablet){
      width: 500px;
    }
  }

  .modal-content {
    max-height: 88%;
    overflow-x: hidden;

    @media screen and (min-width: $breakpoint-tablet){
      width: 80%;
    }
  }

  .modal__header {
    padding: 20px 30px;
    border-bottom: solid 1px $gray-medium;

    .modal__title {
      font-size: 18px !important;
      font-weight: bold !important;
      text-transform: lowercase;
      text-align: center;
      color: $green !important;
      padding: 0;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    .close {
      z-index: 10;
      right: 12px !important;
      top: 6px !important;
    }

    .pad, .custom-padding {
      padding: 0 0 1rem 0 !important;
      margin-top: 1rem;
    }
  }

  .modal__body {
    padding: 30px;

    .btn {

      &.btn-success, &.btn-danger {
        margin: 0 2% !important;
        width: 45% !important;
        display: inline-block !important;
        padding-left: 15px;
      }
    }
  }

  .modal__text {

  }

  .modal__text--appointment-cancel, .modal__text--first-book {
    text-align: center;
    text-transform: none;
    padding: 0;
  }
}

.modal-content .modal-header button {
  right: 12px !important;
  top: 6px !important;
}

.custom-padding {
  padding: 0 0 1rem 0 !important;
  margin-top: 1rem;
}

.bs-example {
  .alert {
    &.alert-danger, &.alert-success {
    }
  }
}

.alert, .bs-example .alert {
  &.alert-danger, &.alert-success {
    font-size: 14px;
    color: #fff !important;

    @media screen and (min-width: $breakpoint-screen) {
      width: 400px;
      box-sizing: border-box;
      text-align: center;
      padding: 15px !important;
    }

    button.close, a.close {
      color: #fff !important;
      right: 10px !important;
      top: 10px !important;
      padding: 0;
      width: 15px;
      height: 15px;
      float: none;
      line-height: 14px;
      position: absolute !important;
      z-index: 1033 !important;
      transform: none;

      span {
        color: #fff !important;
      }
    }
  }

  &.alert-success{
    background-color: $green !important;
  }

  &.alert-danger{
    background-color: $red-alert !important;
  }
}

/* dashboard & calendar */
body.dashboard {
  .cal-day-outmonth.color-green--dark span[data-cal-date] {
    color: #486066 !important;
  }

  ul.unstyled.list-unstyled {
    padding-bottom: 0;
  }
}

body section.dashboard-content {
  display: flow-root;
  padding-top: 35px;
  overflow: visible;
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.dashboard-content-container, .student-profile-content-container {
  padding-bottom: 0;
}

section.dashboard-content .dashboard-header {
  height: auto !important;
  overflow: hidden;

  .colorLegend {
    overflow: hidden;
    float: left;

    @media screen and (max-width: $breakpoint-tablet){
      width: 70%;
    }

    .colorLegend-p {
      padding: 0 25px 0 0;
      margin: 0;
      display: inline-block;
    }

    span.color {
      padding: 0;
      margin: 0px 15px 0 0 !important;
      width: 30px !important;
      height: 24px !important;
      display: inline-block !important;
      vertical-align: middle;
    }
  }

  .pull-right {
    @media screen and (max-width: $breakpoint-tablet){
      margin-top: 20px;
    }
  }
}

.dashboard-header__titles {
  overflow: hidden;
}

.dashboard-header__heading {
  display: inline-block;

  &:before {
    display: none
  }
}

h3.dashboard-header__heading {
  text-transform: lowercase;
  margin-left: 5px;
}

.dashboard-header .btn-group > button:nth-child(2), .profile-detail-header .btn-group > button:nth-child(2), .registration-calendar .btn-group > button:nth-child(2), .student-profile-header .btn-group > button:nth-child(2) {
  display: none !important;
}

.dashboard-header .btn-group > button:first-child, .profile-detail-header .btn-group > button:first-child, .registration-calendar .btn-group > button:first-child, .student-profile-header .btn-group > button:first-child {
  border-radius: 100px 0px 0px 100px !important;
}

.dashboard-header .btn-group > button:nth-child(3), .profile-detail-header .btn-group > button:nth-child(3), .registration-calendar .btn-group > button:nth-child(3), .student-profile-header .btn-group > button:nth-child(3) {
  border-radius: 0px 100px 100px 0px !important;
}

.dashboard-calendar, .student-profile-content {
  #calendar {
    position: relative;
    border-top: solid 1px $green-dark;
    border-right: solid 1px $green-dark;
    border-left: solid 1px $green-dark;
    margin: 20px auto;
    width: 95% !important;
  }
}

.student-profile-body {
  #calendar {
    border-top: solid 1px $green-dark;
    border-right: solid 1px $green-dark;
    border-left: solid 1px $green-dark;
  }

  .colorLegend {
    overflow: hidden;
  }

  .colorLegend-p {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 20px !important;
    font-size: 16px;

    span.available {
      display: inline-block !important;
      width: 30px !important;
      height: 24px !important;
      border-radius: 6px !important;
      background-color: #a7ef9f !important;
      margin-right: 15px;
      vertical-align: middle;
    }

    span.request {
      display: inline-block !important;
      width: 30px !important;
      height: 24px !important;
      border-radius: 6px !important;
      background-color: #ffbd6b !important;
      margin-left: 25px;
      margin-right: 15px;
      vertical-align: middle;
    }

    span.appointment {
      display: inline-block !important;
      width: 30px !important;
      height: 24px !important;
      border-radius: 6px !important;
      background-color: #5cc75f !important;
      margin-left: 25px;
      margin-right: 15px;
      vertical-align: middle;
    }
  }
}

.dashboard-list {
  padding: 20px;
  overflow: scroll !important;
  overflow-x: hidden !important;
  height: 600px
}

.dashboard-content__section--cal, .dashboard-content__section--list {
  @include clear-fix;

  .dashboard-header {
    padding: 10px 10px 10px 20px;
  }
}

.dashboard-content__section--cal {
  width: 100%;
  height: auto;

  @media screen and (min-width: $breakpoint-screen) {
    float: left;
    width: 65%;
  }
}

.dashboard-content__section--list {
  width: 100%;

  @media screen and (min-width: $breakpoint-screen) {
    float: right;
    width: 30%;
  }
}

/* teacher slot creation */

[class^="time-range"] p:first-of-type {
  padding-bottom: 0;
}

[class^="time-range"] {
  padding-bottom: 10px;
}

.errorOverlap {
  color: red !important;
  font-weight: 700;
}

.saveError:empty, .errorlabel:empty {
  padding: 0;
}

/* teacher profile search */

.tutor__profile .round__off {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: .125rem;
  margin-left: 0;
  margin-right: 0;
}

.sticky-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000 !important;
  opacity: 0.3;
  font-size: 21px;
  font-weight: $weight-bold;
  display: none;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.teachers-profile__separator {

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 100;
    padding-left: 8%;
    padding-right: 8%;

    .sticky-close {
      display: block
    }

    @media screen and (max-width: 768px) {
      .neg-margin {
        margin: 0 !important;
      }

      .online__icon__large {
        font-size: 40px !important;
      }

      .sticky-close {
        opacity: 0.5;
        font-size: 25px;
        top: -70px;
        padding: 10px 0;
        right: -20px;
      }

      .text-primary-bold {
        margin: 0 !important;
        padding: 10px 0;
        font-size: 16px !important;
      }

      p, p a {
        font-size: 13px;
        margin: 0;
      }
    }

    @media screen and (min-width: 1300px) {
      padding-left: 12%;
      padding-right: 12%;
    }

    @media screen and (min-width: 1400px) {
      padding-left: 15%;
      padding-right: 15%;
    }

    @media screen and (min-width: 1500px) {
      padding-left: 18%;
      padding-right: 18%;
    }

    @media screen and (min-width: 1600px) {
      padding-left: 15%;
      padding-right: 15%;
    }

    @media screen and (min-width: 1700px) {
      padding-left: 21%;
      padding-right: 21%;
    }

    @media screen and (min-width: $breakpoint-wide) {
      padding-left: 22%;
      padding-right: 22%;
    }
  }
}

.teachers-profile2-buttons {
  position: absolute;
}

.teachers-profile2-buttons__overlay {
  position: absolute;
  background-color: rgba(255,255,255,0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.teachers-profile2-buttons__overlay-text {
  top: 15%;
  left: 15%;
  width: 70%;
  height: 100%;
  text-align: center;
  color: $green-dark;
  font-weight: $weight-bold;
  position: absolute;
  display: block;
}

.teachers-profile2__button--green {
  @include button-green;
  display: block;
  text-align: center;
  font-size: 13px !important;
  padding: 4px 8px !important;

  &:first-of-type {
    margin: 0 0 5px 0;
  }
}

.teachers-profile2__postcode {
  .input-group {
    margin-top: 0;
  }
}

.teachers-profile2__postcode-input {
  height: 42px !important;
  border: 1px solid #486066 !important;
  padding-left: 20px !important;
  color: $green-dark;
  border-radius:6px !important;
  background-color:#FAFBFC !important;
  float:left;
  width: 100%;
  display: inline-block;

  &::placeholder {
    opacity: 1;
  }
}

.docent_level_bottom .docent_level_bottom__title {
  font-weight: $weight-bold;
  padding: 0;
  display: inline-block;
  margin-bottom: 20px;
}

.docent_level_bottom .docent_level_bottom__cost {
  font-weight: $weight-medium;
  padding-right: 0;
  display: block;
  font-size: 16px;
}

.fa.alignment.tippy.docent_level_bottom__icon {
  position: relative;
  right: 0;
  top: 0;
  padding: 0 !important;
}

.teachers-profile__separator {
  background-color: $gray-light;
}

/* chat */

.chat {

  .chat-history {

    .auto-message-list-item {
      border-bottom: solid 1px #9e9e9e;
      margin-bottom: 30px;
      overflow: hidden;

      .message-data {
        margin: 0;
      }
    }

    .my-auto-message.message {
      background: none !important;
      color: $green-dark !important;
      width: 100%;
      text-align: center;
      border-radius: 0;
      margin-bottom: 0;
    }

    .other-auto-message.message {
      background: none !important;
      color: $green-dark !important;
      width: 100%;
      text-align: center;
      border-radius: 0;
      margin-bottom: 0;
    }
  }
}