// teacher & student edit profile block styles
.edit-profile {
  .edit-profile-header {
    margin-bottom: 0;

    @media screen and (max-width: $breakpoint-screen) {
      margin-bottom: 20px;
    }
  }

  .edit-profile-header__heading {
    margin: 0;
  }

  .edit-profile-content__section {
    padding-bottom: 30px;
  }

  .edit-profile-button--faux {
    &#sendRequest {
      width: 100% !important;
    }
  }

  .edit-profile-content__group--aligned {
    margin-right: 15px;
    position: relative;
    width: 100%;

    &:nth-of-type(1) {
      z-index: 20;
    }

    &:nth-of-type(2) {
      z-index: 15;
    }

    &:nth-of-type(3) {
      z-index: 10;
    }

    &:nth-of-type(4) {
      margin-top: 22px;
      z-index: 5;
    }

    @media screen and (min-width: $breakpoint-screen) {
      width: 22%;
      float: left;
    }
  }

  .dropdown-toggle {
    width: 100% !important;
  }

  .dropdown-menu {
    margin-top: 0 !important;
  }

  .edit-profile-information-box {
    &:last-of-type {
      margin: 0;
    }
  }
}

ul.dropdown-menu.inner {
  display: block;
}

@media screen and (min-width: 480px) and (max-width: 720px) {
  .edit-profile-content__image-container {
    float: none;
    width: 100%;
  }

  .edit-profile-content__information-container {
    float: none;
    width: 100%;
  }
}

.edit-profile-content--student {
  .edit-profile-content__section {
    padding-bottom: 0;
  }
}

#image-edit-submit-box {
  display: none;
  z-index: 1;
  position: relative;
  top: inherit;
}

#deresultcourse {
  display: block;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  z-index: 10000000;
  width: 200px;
  left: 0;
  right: 0;
}

span.bs-caret {
  display: none;
}

label {
  &#toggleText {
    font-weight: $weight-light;
    margin-top: 6px;
  }
  &#errorMessage3 {
    padding-bottom: 11px;
    color: $red !important;
    display: none;
  }
}

.chat-app {
  background-color: $gray-light;
  margin-bottom: 0;
}

.chat-message {
  #adminNote {
    background-color: $white;
    color: $black !important;
    height: 4rem;
  }
  #btnAdminNote {
    padding:0 18px;
    background-color: $white !important;
  }
}

table {
  .dataTable {
    font-size: 13px;
    width: 100%;
  }
}

.delete-record-course {
  font-weight: $weight-bold;
  color: $green !important;
}


// teacher edit profile table

th.sorting_asc:before {
  content: none !important;
}

th.sorting:before {
  content: none !important;
}

th.sorting_asc:after {
  content: none !important;
}

th.sorting:after {
  content: none !important;
}

.dataTables_length {
  display: none !important;
}

.dataTables_filter {
  display: none !important;
}

.dataTables_info {
  display: none !important;
}

.dataTables_paginate {
  display: none !important;
}

// radio button faux

#radioBtn .notActive {
  color: #5cc75f !important;
  background-color: #fff !important;
  border: 1px solid #bbb !important;
}

#radioBtn a.active {
  background-color: #5CC75F;
  border: 1px solid #bbb;
}

#radioBtn .radio-button-faux__option {
  display: inline-block;
  width: 50% !important;
}