/* tutor registration styles */

// layout
body.teacher-registration {
  > .content {
    margin: 0px; position:
          relative !important;
  }

  .block-header {
    .row {
      max-width: 100%;
    }

    .tutor_registration_main_title {
      text-align: center;
      color: $green !important;
      font-size: 36px;

      @media screen and (min-width: $breakpoint-tablet) {
        text-align: left;
      }
    }
  }

  label {
    display: block;

    &.error {
      color: $red;
      font-weight: $weight-bold;
      display: none;
    }

    &#errorMessage2, &#errorMessage3 {
      padding-bottom: 11px;
      color: $red;
      font-weight: $weight-bold;
      display: none;
    }

    &.registration-radio {
      display: inline-block;
      font-weight: $weight-medium;
    }
  }

  .dropdown-menu {
    margin-top: 0 !important;
  }

  .card {
    background: transparent;

    .body {
      overflow: visible !important;
      background-color: #F1F1F1 !important;
      border: none;
    }
  }

  .registration-distance {
    position: relative;
    margin: 0 0 2rem 0 !important;

    .registration-distance__input {
      display: inline-block;
      width: 88%;
      vertical-align: top;
      padding: 10px 18px 10px 18px;
      border-radius: 6px 0 0 6px;

      @media screen and (min-width: $breakpoint-tablet) {
        width: 94%;
      }

      &:focus {
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      }
    }

    .registration-distance__label {
      display: inline-block;
      width: 12%;
      vertical-align: top;
      padding: 9px 0px 9px 0px;
      border: solid 1px $green-dark;
      margin-left: -4px;
      text-align: center;
      border-radius: 0 6px 6px 0;
      border-left: none;

      @media screen and (min-width: $breakpoint-tablet) {
        width: 6%;
      }
    }
  }

  .tippy img {
    margin: 7px 7px 0 7px;
    height: 15px;
  }
}

#teacherRegistration > .content {
  border: none;
  margin-bottom: 50px;
  margin-top: 20px !important;
  border-radius: 6px;

  @media screen and (min-width: $breakpoint-tablet) {
    margin-top: 50px !important;
  }
}

#teacherRegistration-p-0, #teacherRegistration-p-1, teacherRegistration-p-2, teacherRegistration-p-3 {
  padding-bottom: 0;
}

// inputs
input.registration_form_input, .registration_form_input {

  &:focus {
    background-color: $gray-light !important;
  }

  &.form-control {
    border: solid 1px $gray-medium;
  }

  &#postcode2, &#huisnummer2, &#straatnaam2 {
    margin-bottom: 20px;
  }

  &#postcode2{
    width: 50%;
  }

  &#huisnummer2 {
    width: 35%;
    margin-left: 13%;

    @media screen and (min-width: $breakpoint-tablet) {
      margin-left: 14%;
    }
  }

  &.registration_form_input--address {
    display: inline-block;
  }
}

#motivation.registration_form_input, #dob.registration_form_input {
  background-color: $white-dark !important;

  &:focus {
    border-color: #66afe9 !important;
    background-color: $gray-light !important;
  }
}

// buttons
.btn.registration_form_button {
  @include button-green--no-hover;
  padding: 15px 20px;
  width: 100%;
  float: right;
}

button.btn.registration_progress_button, button.btn.registration_progress_button.btn-next {
  @include button-green--no-hover;
  padding: 15px 20px;
  width: 47% !important;
  float: left;

  &:nth-child(2) {
    float: right;
  }

  &#add-more-courses {
    width: 90% !important;
  }
}

#teacherRegistration-p-3 .registration-calendar-buttons {
  overflow: hidden;
  width: 90%;
  margin: 0 auto !important;

  @media screen and (min-width: $breakpoint-screen){
    width: 75%;
  }
}

// section one
#teacherRegistration-p-0 {
  padding-top: 30px;
  @media screen and (min-width: $breakpoint-tablet) {
    padding-top: 70px;
  }
}

#teacherRegistration-p-0 .form-group.form-float label {
  @media screen and (min-width: $breakpoint-tablet) {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  @media screen and (min-width: $breakpoint-screen) {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
}

#teacherRegistration-p-0 .form-group.form-float input {
  @media screen and (min-width: $breakpoint-tablet) {
    width: 80%;
    margin: 0 auto;
  }
  @media screen and (min-width: $breakpoint-screen) {
    width: 50%;
    margin: 0 auto;
  }
}

#teacherRegistration-p-0 .form-group.form-float button {
  @media screen and (min-width: $breakpoint-tablet) {
    width: 80% !important;
    margin: 0 auto;
    float: none !important;
  }
  @media screen and (min-width: $breakpoint-screen) {
    width: 50% !important;
    margin: 0 auto;
    float: none !important;
  }
}


// section two
.registration_progress {
  overflow: hidden;
  margin-top: 20px;
}

#teacherRegistration-p-1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

#dob.registration_form_input {
  padding: 10px 18px 10px 18px;
  line-height: 1.42857143 !important;
  height: auto !important;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;

  &:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
  }
}

.flatpickr-current-month {
  .flatpickr-monthDropdown-months, input.cur-year {
    background: transparent !important;
    border: none !important;
    box-sizing: border-box !important;
    font-family: inherit !important;
    outline: none !important;
    color: #5a777b !important;
  }

  .flatpickr-monthDropdown-months:hover {
    background: rgba(0, 0, 0, 0.05) !important;
  }
}

.flatpickr-day {
  color: #393939 !important;

  &.prevMonthDay, &.nextMonthDay {
    color: rgba(57,57,57,0.3) !important;
  }
}

.flatpickr-current-month .flatpickr-monthDropdown-months, .flatpickr-current-month select {
  appearance: menulist;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  height: auto;
  line-height: inherit;
  margin: -1px 0 0 0;
  outline: none;
  padding: 0 0 0 .5ch;
  position: relative;
  vertical-align: initial;
  -webkit-box-sizing: border-box;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  width: auto;
  background: transparent !important;
  border: none !important;
  box-sizing: border-box !important;
  font-family: inherit !important;
  outline: none !important;
  color: #5a777b !important;
}

// section three
.registration_form_input.registration_current_edu {
  margin-left: 20px;
  width: 85%;

  @media screen and (min-width: $breakpoint-tablet) {
    width: 340px;
  }
}

#teacherRegistration-p-2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

button.btn.dropdown-toggle {
  border: solid 1px $green-dark !important;
  background-color: $white-dark !important;
}

input#online-courses.registration_radio_tick, input#online-courses.registration_radio_tick:checked, .fold-out__tick, .fold-out__tick:checked, .availability-checkmark__form #check, .availability-checkmark__form #check:checked {
  background-color: $white-dark !important;
}

input#online-courses.registration_radio_tick, .fold-out__tick, .availability-checkmark__form #check
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: solid 1px $green-dark !important;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 7px;
}

.availability-checkmark__form #check {
  top: auto;
  vertical-align: middle;
}

input#online-courses.registration_radio_tick.green, .fold-out__tick {
  color: $green !important;
}

input#online-courses.registration_radio_tick.red, .availability-checkmark__form #check {
  color: #ffbd6b !important;
}

input#online-courses.registration_radio_tick:checked::before, .fold-out__tick:checked::before, .availability-checkmark__form #check:checked::before
{
  position: absolute;
  font: 22px/1 'Open Sans', sans-serif;
  left: 8px;
  top: 2px;
  content: '\02143';
  transform: rotate(40deg);
}

#newCourse {
  margin-bottom: 20px;
  z-index: 10;
  position: relative;

  #course-row1 {
    .form-group.form-float {
      margin-bottom: 0;
    }
  }

  .row {
    position: relative;
  }

  .row:nth-child(1) {
    z-index: 10;
  }

  .row:nth-child(2) {
    z-index: 9;
  }

  .row:nth-child(3) {
    z-index: 8;
  }

  .row:nth-child(4) {
    z-index: 7;
  }

  .row:nth-child(5) {
    z-index: 6;
  }

  .row:nth-child(6) {
    z-index: 5;
  }
}

#newCourse .row:not(:first-child) {
  padding-top: 10px;

  @media screen and (max-width: $breakpoint-screen) {
    margin-top: 20px;
    padding-top: 10px;
    border-top: solid 1px $green-dark;
  }
}

#newCourse div > div {
  @media screen and (max-width: $breakpoint-screen) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#newCourse div div > div {
  @media screen and (max-width: $breakpoint-screen) {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .registraion_progress.registraion_step_three {
    width: 74%;
    margin-left: 13% !important;
  }

  .registraion_progress.registraion_step_three.registration_step_three_first {
    width: 100%;
    margin-left: 0 !important;
  }

  .js-school-level--helper-message.js-desktop {
    padding: 20px 0 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .js-school-level--helper-message.js-desktop {
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .js-school-level--helper-message.js-desktop {
    display: none !important;
  }

  .d-md-none {
    display: block;
  }
}

.actions-btn.bs-select-all {
  font-size: 10px;
}

#newCourse .actions-btn.bs-select-all.btn.btn-default {
  width: 90% !important;
  color: #F1F1F1 !important;
  background-color: #5CC75F;
}

#newCourse .actions-btn.bs-deselect-all.btn.btn-default {
  display: none !important;
}

.js-school-level--helper-message {
  font-size: 12px;
  display: none;
}

// calendar section
.registration-calendar {
  border-top: 1px solid $green-dark;
  border-left: 1px solid $green-dark;
  border-right: 1px solid $green-dark;
  border-radius: 6px 6px 0 0;
  background-color: $white-dark;

  .pull-right {
    display: inline-block;

    @media screen and(min-width: $breakpoint-screen) {
      float: right;
      display: block;
    }
  }
}

.registration-calendar-header {
  padding: 25px 40px 25px 40px;
  overflow: hidden;

  @media screen and (min-width: $breakpoint-screen) {
    padding: 25px 130px 25px 100px;
  }
}

.registration-calendar-header__title {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 20px;
}

.registration-calendar-header__text {
  margin-bottom: 20px;
}

#teacherRegistration-p-3 {
  padding-top: 0;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
  background: none;
  border: none;

  .card {
    background-color: $white-dark;
    border: 1px solid $green-dark;
    border-radius: 6px 6px 0 0;
    background: none;

    .header {
      border: none;
      background-color: $white-dark;
      border-radius: 6px 6px 0px 0px;
      border-bottom: 1px solid $green-dark;
      overflow: hidden;
      padding: 0;

      .page-header {
        background: none;
        border: none;
        padding: 25px 130px 25px 100px;
        margin: 0;
        overflow: hidden;
        height: auto !important;

        h3 {
          font-weight: 600;
          font-size: 18px;
          padding-bottom: 20px;
        }
      }
    }

    .body {
      padding: 0;

      .cal-day-today {

        span[data-cal-date] {
          color: $green-dark !important;
        }
      }
    }
  }
}

.cal-row-head {
  background-color: $white-dark !important;
  border-bottom: solid 1px $green-dark;
}

.cal-row-head .cal-cell1 {
  padding: 10px 0 !important;

  &:hover {
    background-color: transparent;
  }
}

.cal-day-today {
  background-color: $gray-light !important;
}

.cal-cell1.cal-cell {
  border-right: solid 1px $green-dark !important;
  background-color: $gray-light;
  padding: 0;
}

.cal-year-box .row-fluid [class*="span"]:last-child, .cal-month-box .cal-row-fluid [class*="cal-cell"]:last-child {
  border-right: 0px !important;
}

.cal-year-box .row-fluid:last-child, .cal-month-box .cal-row-fluid {
  border-bottom: solid 1px $green-dark !important;
}

.cal-year-box .row-fluid:last-child, .cal-month-box .cal-row-fluid:last-child {
  border-bottom: solid 1px $green-dark !important;
}

.cal-row-fluid {
  border-bottom: solid 1px $green-dark;
}

#cal-slide-box {
  border-bottom: solid 1px $green-dark;
}

p.calendar_p {
  font-size: 16px;
  margin-bottom: 20px;
  float: left;
  padding: 0;
}

.calendar_legend {
  overflow: hidden;
  display: inline-block;

  @media screen and (min-width: $breakpoint-screen){
    float: left;
    display: block;
  }
}

.calendar_legend_block {
  background-color: $green;
  border-radius: 6px;
  width: 80px;
  height: 40px;
  float: left;
}

.calendar_legend p {
  font-size: 16px;
  padding: 8px 0 0 30px;
  float: left;
}

.content .teacher-registration-skype {
  width: 70%;
  margin: 30px 0 0 5%;

  @media screen and (min-width: $breakpoint-screen) {
    width: 40%;
    margin: 30px 0 0 40px;
  }

  label.teacher-registration-skype__title {
    font-size: 16px;
    font-weight: bold;
    padding-left: 0;
  }

  .teacher-registration-skype__input {
    padding: 10px 18px 10px 18px;
  }
}

#teacherRegistration-p-3 #calendar {
  border-top: solid 1px $green-dark;
  border-left: solid 1px $green-dark;
  border-right: solid 1px $green-dark;

  #cal-slide-content {
    border-bottom: solid 1px $green-dark;
  }
}

.cal-month-day {
  overflow: hidden;
  position: relative;

  @media screen and (min-width: $breakpoint-tablet) {
    &.color-green--light:not(.hoverOpen):hover, &.color-green--dark:not(.hoverOpen):hover, &.color-orange:not(.hoverOpen):hover {
      .hover-tick {
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid #486066;
        margin-left: -10px;
        bottom: 0;
        left: 50%;
        position: absolute;
      }
    }
  }

  &.color-gray {

    &:hover {

    }
  }

  &.color-green--light {
    background-color: $green-light;
    &:hover {
      filter: brightness(90%);
    }
  }

  &.color-green--dark {
    background-color: $green;
    &:hover {
      filter: brightness(90%);
    }
  }

  &.color-orange {
    background-color: $orange;
    &:hover {
      filter: brightness(90%);
    }
  }
}

#calendar {
  background-color: #fafafa !important;
}

.cal-month-day {
  color: black;
}

.cal-row-head {
  background-color: #fafafa !important;
}

#cal-slide-content {
  font-family: inherit;
  color: #bdbdbd;
}

// unsorted
.empty {
  background-color: white !important;
  border: 2px solid black;
}

.inline_time {
  color: #50d38a !important;
}

.inline_time_disabled {
  color: #6b7971 !important;
  margin-right: 20px;
}

.margintop {
  margin-top: 20px;
  color: #50d38a;
}

li.list-item {
  clear: both;
}

.inline-elem-updateButton {
  clear: both;
  display: block;
}

.marginTop {
  margin-top: 0px;
}

.btn-group {
  background: #30373e;
}

.inline-elem-button {
  margin-top: 20px;
}

.form-control, .btn-round.btn-simple {
  color: #ece6e6 !important;
}

.form-control {
  height: auto !important;
}

.input-group-addon {
  color: #ece6e6;
}

.text {
  color: black;
}

.margin-top {
  margin-top: 10px;
}

.checkbox {
  float: left;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: white;
}

.multiselect.dropdown-toggle.btn.btn-default {
  display: none !important;
}

.bootstrap-select[disabled] button {
  color: gray !important;
  border: 1px solid gray !important;
}

label#school-course1-error {
  margin-top: 25px;
}

ul.unstyled.list-unstyled {
  padding-bottom: 47px;
}

section.content {
  padding-top: 29px;
}

#fc_frame, #fc_frame.fc-widget-normal {
  bottom: 48px !important;
}

.btn-group {
  background: transparent;
}

.form-control, .btn-round.btn-simple {
  color: #486066 !important;
}

.btn.btn-simple {
  border-color: #486066 !important;
}

span.caret {
  display: none;
}

.custom-error label.error {
  color: #e45e5e !important;
  position: inherit;
  top: -21px;
}

#-error {
  float: right;
}

label#interview-error {
  float: right;
  margin-right: 56px;
}

.theme-green section.content:before {
  background-color: transparent !important;
}

input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control, input[type=month].form-control {
  line-height: 1.42857143 !important;
}

.dropdown-menu {
  margin-top: 0 !important;
}

.school-level-wrapper .dropdown-menu .inner {
  padding-bottom: 20px !important;
}

#teacherRegistration > .content.clearfix {
  border-radius: 6px;;
}

li.current > a > span {
  color: #FFF !important;
}

li.current > a {
  color: #FFF !important;
}

div#newCourse div p {
  padding-left: 20px;
}

.btn-round {
  border-radius: 6px !important;
}

textarea.form-control {
  border: 1px solid #bdbdbd !important;
  border-radius: 6px !important;
}

select:focus {
  border: 1px solid #bdbdbd !important;
  color: white !important;
  background: #30373e !important;
}

.inline-elem-updateButton {
  display: inline !important;
}

#calender_startTime option, #calender_endTime option {
  color: #fafbfc !important;
}

div.calender_dropdownText b {
  display: none;
}

div.calender_dropdown.calender_dropdownText:after {
  content: "Selecteer een gewenste begintijd";
  color: #486066 !important;
  font-size: 13px;
  font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: bold;
}

.deleteRow {
  /* color: #f44336 !important; */
  color: #5CC75F !important;
  font-size: 25px;
  vertical-align: baseline;
  margin: auto;
  margin-top: 23px;
  transition-duration: .2s;
  padding: 5px 4px 3px 5px;
  border-radius: 6px;
}

.deleteRow:hover {
  cursor: pointer;
  box-shadow: 1px 1px 6px lightgrey, 1px 1px 6px lightgrey;
}

li.dropdown-header {
  font-size: 16px !important;
  text-align: center;
}

button.actions-btn.btn.btn-default {
  width: 45% !important;
}

.calender-page-header .pull-right .btn-group {
  display: inherit !important;
}

.input-group > .form-control {
  width: 1%;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

// deprecated
.wizard > .steps > ul > li:not(.current) a {
  background-color: $white-dark;
  border: solid 1px $gray-light;
}

.wizard > .steps > ul > li {
  @media screen and (max-width: $breakpoint-tablet) {
    width: 100% !important;
  }
}

.page-header {
  height: 0 !important;
  padding-bottom: 0px;
  margin-top: -10px;
  border-bottom: 0px;
}

.page-calendar #calendar {
  max-width: 100%;
}

.wizard .content label.error {
  color: #e45e5e !important;
}

pre#coordinates {
  display: none;
}

._hide {
  display: none;
}

input {
  border: 1px solid #bdbdbd !important;
  color: white !important;
  background: #30373e !important;
}

select {
  border: 1px solid #bdbdbd !important;
  color: white !important;
  background: #30373e !important;
}

input:focus {
  background: transparent !important;
}

select:focus {
  background: transparent !important;
}

.wizard .content {
  /*overflow-y: hidden !important;*/
  overflow: hidden !important;
  min-height: 400px !important;
  margin-top: 25px !important;

}

.wizard .content label {
  color: #486066 !important;
  padding-left: 20px;
  padding-bottom: 10px;
}

.wizard > .steps .current a {
  background-color: #5CC75F !important;
  border-radius: 6px;
}

.wizard > .steps .done a {
  background-color: #E8E8E8 !important;
  border-radius: 6px;
}

.wizard .steps a, .wizard .steps a:hover {
  border-radius: 6px;
}

.row:before, .row:after {
  display: none !important;
}

.wizard > .actions a {
  background-color: #029898 !important;
}

.wizard > .actions .disabled a {
  background-color: #FAFBFC !important;
}

.btn.btn-simple {
  border-color: white !important;
}

table {
  color: white;
}

.navbar.p-l-5.p-r-5 {
  display: none !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: transparent !important;
}

.wizard .content .js-school-level--helper-message label {
  color: #5cc75f !important;
  position: relative;
  margin-top: -21px;
}

@media screen and (max-width: 767px) {
  .wizard .content .js-school-level--helper-message label {
    margin-top: 0;
  }
}

.wizard > .steps > ul > li:not(.current) a {
  border-radius: 6px;
}

.wizard > .actions {
  display: none;
}

.input-group-append {
  margin-left: -1px;
  display: flex;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: #555 !important; */
  text-align: center;
  white-space: nowrap;
  background-color: #efefef;
  border: 1px solid #486066;
  border-radius: 0 .25rem .25rem 0;
}
