/* teacher detailed view styles */

// profile top section
section.content {
  margin: 0px 0px 15px 0px !important;
  padding-top: 10px !important;
}

.main-row{
  display:flex !important;
  margin-bottom: 25px;
}

.main-row .profile-info{
  flex: 1 1 0;

  @media(max-width:992px) {
    margin-right: 0;
  }
  @media(min-width:992px) {
    margin-right: 20px;
  }
}

.w-100 {
  width: 100%;
}

.row.main-row, .row.w-100 {
  display: block;
  max-width: 100% !important;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

// profile component
.tutorprofile__subsection--top {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tutorprofile-subtitle {
  margin-top: 10px;
  border-bottom: 1px solid $green-dark !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 8px;
}

.tutorprofile-subtitle__name {
  float: left;
  font-size: 28px;
}

.tutorprofile-subtitle__level {
  float: right;

  > div {
    font-size: 21px;
  }
}

.tutorprofile-info {
  margin-left: 2px;
  float: left;
  display: flex;
  flex-direction: column;
}

.custom_info_bar {
  padding: 3px;
  font-family: poppins !important;
  display: inline-block;
  margin-bottom: 4px;
  margin-top: 2px !important;
  position: relative;
}

.tutormeta__avatar{
  margin-right: 20px;
  width: 160px;
  height: 160px;
  margin-top: 30px;
  float:left;

  @media only screen and (max-width:643px){
    margin-right: 20px;
    width: 170px;
    height: 170px;
    margin-top: 0;
  }
}

._link__more {
  color: $green !important;
}

.left-right {
  flex: 1 1 370px;
  margin-top: 3px;
  float: left;
}

.tutormeta__avatar .profileimage{
  width: 100%;
  height: 100%;
}

.profile-info .container1__card--tutor--profile {
  margin-bottom: 0px;
  overflow: hidden;
  min-height: 433px;

  @media screen and (max-width: 992px) {
    margin-bottom: 25px;
  }
}

.tutorprofile__subheader1 {
  border-bottom: 1px solid $green-dark;
  padding-bottom: 20px;
  margin-bottom: 25px;
  color: $green !important;
  font-size: 16px;
}

#aboutMeShort {
  display: inline-block;
}

#aboutMeFull {
  display: none;
}

.link__more {
  cursor: pointer;

  &#showLess {
    display: none;
  }
}

// message component
.open-message-modal{
  display: none;
  height: 52px;
  width: 100%;
  background-color: #5CC75F !important;
  font-size: 1.125rem;
  font-weight:600;
  color: #fafbfc !important;
  border-radius: 21px;
  margin: 0 auto 30px;
  cursor:pointer;
  justify-content: center;
  align-items: center;
}

.open-message-modal{
  @media only screen and (max-width:991px) {
    display: flex;
  }
}

.modal-container{
  display:none;
  justify-content:center;
  align-items:start;
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-color: rgba(0,0,0,0.3);
  z-index: 1500;
}
.modal-container.show-modal{
  display:flex;
}

.modal-container .modal-box{
  width: 80%;
  max-width: 500px;
  display:inline-block;
  opacity:0.2;
  transform: scale(0.5);
  box-shadow: 0 2px 16px 0 rgba(33,43,54,0.08),0 31px 41px 0 rgba(33,43,54,0.2);
  border-radius: 4px;
  background-color: #FFFFFF;
  transition: all 0.2s;
  position: relative;
  margin: auto;

}
.modal-container .modal-box i{
  position:absolute;
  left: 10px;
  top: 5px;
  cursor: pointer;
}
.modal-container.show-modal .modal-box{
  opacity:1;
  transform: scale(1);
}

.fixed-body{
  overflow:hidden !important;
}

.send-message-box{
  display:inline-flex;
  flex-direction: column;
  flex-basis : 288px;
  max-width: 500px;
  background-color: #f1f1f1 !important;
  border: 2px solid #F1F1F1;
  border-radius: 6px;
  padding: 20px !important;
}
.send-message-box.desktop {
  width: 320px;
  min-width: 320px;
  max-width: 320px;

  @media only screen and (max-width:991px){
    display:none;
  }
}
.send-message-box.desktop.send-message-box.desktop h3.box-title {
  white-space: unset;
}
.send-message-box.desktop textarea{
  min-height: 0;
}

.send-message-box.mobile{
  max-width: 100%;
  height: 80vh;
  max-height:500px;
}

.send-message-box h3.box-title{
  font-size: 21px;
  text-align: center;
  margin-bottom: 10px;
  font-weight:normal;
  white-space: nowrap;
  color: #486066 !important;
  margin-top : 0;
}

.send-message-box.mobile h3.box-title{
  white-space: normal;
}

.send-message-box .tutor-message{
  background: #ffbd6b;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 10px 15px;
}

.send-message-box .tutor-message p {
  margin:0;
  padding:0;
  font-size: 16px !important;
  color: white !important;
  line-height: 1.61em;
}

.send-message-box .message-area{
  width: 100%;
  resize: none;
  border-radius: 6px;
  border: 1px solid #bbb;
  transition: all 0.25s;
  padding: 8px 12px;
  margin-bottom: 10px;
  flex: 1 1 0;
}
.send-message-box .message-area:focus{
  border-color: #2d3940;
}
.send-message-box button.send-button{
  border-radius: 22px !important;
  border: solid 2px #5CC75F !important;
  font-size: 14px;
  padding: 10px 16px;
  font-weight: 600 !important;
  transition: all 0.2s;
  display: block;
  width: 100%;
  background-color: #5CC75F;
  cursor: pointer;
  color: #FFFFFF !important;
}

.send-message-box button.send-button:hover{
  color: #5CC75F !important;
  background-color: #F1F1F1 !important;
}

// calendar section
.profile-detail-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  max-width: 100%;
}

.profile-detail-section {
  border: solid 2px $gray-light;
  border-radius: 6px;
  padding: 20px;

  .colorLegend {
    overflow: hidden;
    float: left;
  }

  .colorLegend-p {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 20px !important;
    font-size: 16px;

    span.available {
      display: inline-block !important;
      width: 30px !important;
      height: 24px !important;
      border-radius: 6px !important;
      background-color: $green-light !important;
      margin-right: 15px;
      vertical-align: middle;
    }
  }
}

.profile-detail-title.ma-subtitle, .ma-subtitle.profile-detail-date__heading {
  color: $green !important;
  margin-bottom: 20px !important;
}

.profile-detail-title.ma-subtitle {
  font-size: 28px !important;
}

.ma-subtitle.profile-detail-date__heading {
  font-size: 21px !important;
}

.profile-detail-header {
  padding: 0 20px;
  overflow: hidden;
}

// unsorted
.modal h6{
  text-transform: lowercase;
}
.modal .modal-title{
  font-size: 18px !important;
  font-weight: bold !important;
}

.modal .modal-text{
  padding: 0 20px 27px 20px;
}

.modal-content .modal-header button {
  right: 12px !important;
  top: 6px !important;
}

.modal-content .modal-header button {
  position: absolute;
  right: 0px !important;
  top: 0px !important;
}

// not available overlay
.unavailable-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  .unavailable-modal {
    width: 50%;
    margin: 15% auto;
    background-color: $gray-light;
    border-radius: 6px;

    @media screen and (max-width: $breakpoint-tablet) {
      width: 90%;
    }

    @media screen and (max-width: $breakpoint-screen) {
      width: 70%;
    }
  }

  .unavailable-modal__title {
    text-align: center;
    color: $green !important;
    font-weight: $weight-bold;
    font-size: 24px;
    border-bottom: solid 1px $green-dark;
    margin: 0;
    padding: 18px 20px;
  }

  .unavailable-modal__content {
    text-align: center;
    padding: 20px 30px 30px;
    color: $green-dark;

    .chat-focus {
      color: $green !important;
    }
  }
}