<!-- new fold out static -->
<div class="fold-out">
    <div class="fold-out__item">
        <h3 class="fold-out__title orange">Bijlesveroek:</h3>
        <div class="fold-out-inner">
            <div class="fold-out-inner__left">
                <div class="fold-out__time">Tijd:<span class="fold-out__date">10.15 - 13.45</span><span class="fold-out__date">12 juni</span></div>
                <div class="fold-out__name">Naam leerling:<span>Florian</span></div>
                <div class="fold-out__address">Adres: Buzziburgiaan</div>
            </div>
            <div class="fold-out-inner__right">
                <input type="button" class="fold-out__button green" value="Accepteren">
                <input type="button" class="fold-out__button orange" value="Weigeren">
            </div>
        </div>
    </div>
    <div class="fold-out__bottom">
        <h3 class="fold-out__note">Beschikbaarheid:</h3>
        <div class="fold-out__i">i</div>
        <label class="fold-out__checkbox">
            <input type="checkbox"
                   name="checkbox"
                   class="fold-out__tick"
                   value="niet">
            Niet beschikbaar op deze dag
        </label>
    </div>
</div>