/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000 !important; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif !important;

  }
  
  /* Modal Content */ 
  .modal-content { 
    position: absolute;
    background-color: #FAFBFC !important;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  @media only screen and (max-width: 768px) {
    .modal-content{
      width: 80%;
    }
  }

  .modal-content p{
    color: #486066 !important;
    font-size: 16px;
    font-weight: bold;
    margin-top: 28px;
    text-align: center; 
  }

  .modal-btn{
    width: 90%;
    background-color: #5CC75F;
    color: white !important;
    display: block;
    margin: 38px auto;
    text-align: center;
    padding: 14px;
    border-radius: 6px;
    font-size: 16px;
  }

  .inlog-btn{
    margin: 0 auto;
    color: #5CC75F !important;
    width: 68px;
    display: block;
    font-weight: bold;
    padding-bottom: 38px;
    font-size: 16px;
  }

  .registeren h2{
      padding-top: 25px !important;
      padding-bottom: 10px !important;
  }

  .registeren p{
    margin-top: 0 !important;
    font-size: 16px !important;
    padding-bottom: 10px !important;
}
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
   
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close { 
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px !important;
    background-color: #FAFBFC !important;
    color: white;
    text-align: center;
    border-bottom: solid 1.5px #486066 !important;
  }
  
  .modal-header h2{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif !important;
    color: #5CC75F !important;
    padding: 50px;
    font-size: 36px !important;
  }
  
  .modal-body {padding: 2px 16px !important; }
   
  .modal-footer {
    padding: 2px 16px;
    background-color: #FAFBFC;
    color: white;
  }

.inloggen, .modal-inloggen, .modal-register, .registeren, .login-Succes, .inlog-error, .register-error, .register-Succes, .register-duplicate{
    display: none; 
}

#login_form input{
  width: 100%;
  height: 41px;
  background: white; 
  padding-left: 20px;
  border: #486066 solid 2px;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 16px !important;
}

#login_form label{
  margin-top: 10px;
  display: block;
  margin-left: 20px;
  color: #486066;
  font-weight: bold;
  font-size: 16px !important;
}

.h5_text{
  cursor: pointer;
}

#login_form button{
  width: 100%;
  background: #5CC75F;
  font-weight: bold;
  color: white !important;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 14px 0px;
  margin: 10px 0px;
  border-radius: 6px;
}

#login_form h5{
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif !important;

}

.inlog-error{
  color: red !important;
}

/*form styles*/
#msform {
	margin: 20px auto;
	position: relative; 
}
#msform fieldset {
	border: 0 none;
	border-radius: 3px; 
	/* padding: 20px 30px; */
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	/*stacking fieldsets above each other*/
	position: relative;
}
.active{
    background-color: #5CC75F !important;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 10px;
  padding-left: 20px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50 !important;
  font-size: 16px;
  margin-top: 10px;
  border: #486066 solid 2px !important;
  border-radius: 6px !important;
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif !important;

}
/*buttons*/
#msform .action-button {
    width: 45%;
    background: #5CC75F;
    font-weight: bold;
    color: white !important;
    border: 0 none !important;
    border-radius: 6px !important;
    cursor: pointer;
    padding: 14px 0px;
    margin: 10px 0px;
 } 

#msform label{
  margin-left: 20px;
  color: #486066;
  font-weight: bold;
  font-size: 16px !important;
}

/*headings*/
.fs-title {
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
    counter-reset: step;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 25px !important;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 50%;
	float: left;
  position: relative;
  background-color: white;
  margin-left: -1px;

}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 0px;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	color: white;
}

.help-block {
  font-size: .8em;
  color: #7c7c7c;
  text-align: left;
  margin-bottom: .5em;
}

.register-Succes h2{
  color: #5CC75F;
  text-align: center;
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif !important;
  padding-top: 38px;
}

.register-Succes p{
  font-size: 16px;
} 


.mapboxgl-ctrl-attrib, .mapboxgl-ctrl-logo{display:none !important;}	
.mapboxgl-ctrl-geocoder li > a {color: black !important;}
.mapboxgl-ctrl-geocoder input {color: black !important}
#map {  top:0; bottom:0; width:75%; height: 80px !important; transition: all 0.3s; border-radius: 6px; border: solid 1px #486066;}
.button { color: #fff; background-color: #555; padding: 1em; margin: 1em; position: absolute; right: 1em; top: 1em; border-radius: 0.5em; border-bottom: 2px #222 solid; cursor: pointer; }
#resizeMap { top: 5em; }	  

.wizard .content
{
  overflow: visible !important;
  /*height: 370px !important; */
  min-height: 500px !important; 
  margin-top: 50px !important;
}

.wizard .content label {

  color:  #486066 !important;
  font-weight: bold;
}

.wizard>.steps .current a 
{
  background-color: #5CC75F !Important;
  border-radius:6px;
}
.wizard>.steps .done a
{
  background-color: #E8E8E8  !Important;
  border-radius:6px;
}
.wizard .steps a, .wizard .steps a:hover {border-radius:6px;}

.wizard>.actions a
{
  background-color: #029898 !Important;
}
.wizard>.actions .disabled a
{
  background-color: #FAFBFC !important;
}


.btn.btn-simple{
  border-color: white !important;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: white;
}
.navbar.p-l-5.p-r-5
{
  display: none !important;
}
.mapboxgl-canvas	
{
position: absolute; width: 610px; height: 200px;
}

.wizard .content label.error {
  color: #e45e5e !important;
}
#-error{    
  display: block;
  margin-top: 223px;
}
section.content {
  padding-top: 29px;  
}
#fc_frame, #fc_frame.fc-widget-normal {
  bottom: 15px !important;
}
.custom-error label.error
{
  color: #e45e5e !important;
  position: inherit;	
  top: -21px;

}
#-error {
  float: right;
}	
.mapboxgl-canvas {
left: 0;
}

.theme-green section.content:before {
   background-color: transparent !important; 
}

.modal-content #msform .error{
  border: solid 2px red !important;
}