<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<%  var isempty = false;
			var time = events[0].timeRange;
			var counter = '0';
			var i = 0;
			_.each(events, function(event) { 
		   		//either the slot is a "request"=>1 or a "session"=>2 
				var slotType = (event['class'] == "event-info")? 1: (event['class'] == "event-warning")? 2 : 0;
				var designation = (typeof(event.designation) === "undefined")? "" : event.designation;
				var status = (typeof(event.status) === "undefined")? 1 : event.status;
				var title_desc = (typeof(event.title_desc) === "undefined")? event.title : event.title_desc;
				var event_id = (event['accepted']['id'])? event['accepted']['id'] : event['pending']['id'] 
		   %>
		  	 <% if(event['accepted']['0']){ %>
				<% _.each(event['accepted'], function(accepted) {  %>
					<li class="list-item" data-event="<%= event['class'] %>" onclick="__onclick(this)"></li>
						<span data-event-id="<%= event_id %>" data-event-class="<%= event['class'] %>" class="event-item" data-date="<%= event.date %>">
							<div class="accept-block">
								<div class="accept-block__left">
									<h3 class="accept-block__title">Afspraak:</h3>
									<p class="accept-block__text">Tijd: <% print(accepted['begin']); %> - <% print(accepted['end']); %></p>
									<p class="accept-block__text" class="firstname">Naam leerling: <% print(accepted['forename']); %> <% print(accepted['surname']); %></p>
									<p class="accept-block__text">Adres: <% print(accepted['address']) %></p>
								</div>
								<div class="afwacht-block__right">
									<% if(event['past'] == 'past'){ %>
									<button type="button" class="btn afwacht-block__reject-btn"
										value="cancel" onclick="reject(<%= accepted['id'] %>,1)">
										Verwijderen
									</button>
									<% }else{ %>
									<button type="button" class="btn afwacht-block__reject-btn"
										value="cancel" onclick="reject(<%= accepted['id'] %>,1)">
										Annuleren
									</button>
									<% } %>
								</div>
							</div>
						</span>
					</li>
				<% }) %>
			<% } %>
			<% if(event['pending']['0']){ %>
				<% _.each(event['pending'], function(pending) {  %>
					<li class="list-item" data-event="<%= event['class'] %>" onclick="__onclick(this)"></li>
						<div data-event-id="<%= event_id %>" data-event-class="<%= event['class'] %>" class="event-item" data-date="<%= event.date %>">
							<div class="afwacht-block">
								<div class="afwacht-block__left">
									<h3 class="afwacht-block__title">Bijlesverzoek:</h3>
									<p class="afwacht-block__text">Tijd: <% print(pending['begin']); %> - <% print(pending['end']); %></p>
									<p class="afwacht-block__text">Naam leerling: <% print(pending['forename']); %> <% print(pending['surname']); %></p>
									<p class="afwacht-block__text">Adres: <% print(pending['address']) %></p>
								</div>
								<div class="afwacht-block__right">
									<button type="button" class="btn afwacht-block__accept-btn" id="" name="" onclick="acceptPending(this, <%= pending['id'] %>)">Accepteren</button>
									<button type="button" class="btn afwacht-block__reject-btn" onclick="reject(<%= pending['id'] %>,2)">Weigeren</button>
								</div>
							</div>
						</div>
					</li>
				<% }) %>
			<% } %>
		<%	if(counter == 0){ %> 
			<%	counter++; %>
			<li class="list-item" data-event="<%= event['class'] %>" onclick="__onclick(this)">
				<div class="availability-checkmark">
					<h3 class="availability-checkmark__title">Beschikbaarheid:</h3>
					<form class="availability-checkmark__form">
						<label class="availability-checkmark__label">Niet beschikbaar op deze dag</label>
						<input type="checkbox" id="check" class="" <% if(event['absent']){ %> checked onchange='availability("<%= event['id'] %>",0,"checked")' <% }else{ %> onchange='availability("<%= event['id'] %>",1,"unchecked")' <% } %> />
					</form>
				</div>
			</li>  
			<% } %>  
		<% }) // ends _.each() %>
	</ul>
</div> 
 