<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<%  var isempty = false;
		   	var time = events[0].timeRange;
			_.each(events, function(event) { 
		   		//either the slot is a "request"=>1 or a "session"=>2 
		   		var slotType = (event['class'] == "event-info")? 1: (event['class'] == "event-warning")? 2 : 0;
		   %>
			<li class="list-item" data-event="<%= event['class'] %>" onclick="__onclick(this)" onmouseenter='addButton<%= event["onHoverBtn"] %>' onmouseleave='removeButton<%= event["onHoverBtn"] %>'>
			<% 
				var designation = (typeof(event.designation) === "undefined")? "" : event.designation;
				var status = (typeof(event.status) === "undefined")? 1 : event.status;
				var title_desc = (typeof(event.title_desc) === "undefined")? event.title : event.title_desc;
			   
			   	if(title_desc != "Beschikbaar"){
			   
			%>
				
				
				    <span class="pull-left event <%= event['class'] %>"></span>&nbsp;
					<span data-event-id="<%= event.id %>"
						data-event-class="<%= event['class'] %>" class="event-item" data-date="<%= event.date %>">
						<span class="inline_time">
						<% print(event['time']); %> : 
						</span>
							<% print(title_desc) %>
						</span>
			

			</li>
		<% } // ends (title_desc == "Beschikbaar")
		   
		   }) // ends _.each()
		   %>
			<li> 
				<div class="calender_dropdownTime">
					
					<div class="calender_dropdown calender_dropdownText">
						<b>Selecteer een gewenste begin - en eindtijd:</b>
					</div>
						
						<div class="calender_dropdown calender_dropdownStartTime"> <select id="calender_startTime"><option value=""></option></select></div>
						<!-- <div class="calender_dropdown calender_dropdownEndTime"><label>Einde Bijles : </label> <select id="calender_endTime"><option value=""></option></select></div> -->
					<!-- <div class="calender_dropdown calender_dropdownButton"><input type="button" name="update" value="Reserveer dit tijdstip" class="btn btn-raised btn-primary btn-round waves-effect inline-elem-updateButton bookSlots _hide" onclick="booking()"/></div> -->
					
		
				</div>
			</li>
	</ul>
</div>
 