<%
	var grey = "color-gray";// unavailable for tutoring;
	var dimGreen = "color-green--light";//available for tutoring;
	var darkGreen = "color-green--dark"; // appointment (confirm tuition session)
	var orange = "color-orange"; // request (pending tution session)
	var className= grey;
	var orangeclass = false;
	var darkGreenclass = false;
	var dimGreenclass = false;
%>
<% if (events.length > 0) { 
			 _.each(events, function(event) {
	
				if(event['class'] == "event-warning"){
					orangeclass = true;			
					return;
				}
	
				if(event['class'] == "event-info"){
					darkGreenclass = true;		
					console.log("Dim green ");
				}
	
				if(event['class'] == "event-inverse"){
					dimGreenclass = true;					
				}
	
				
				
			 }); 
	
			if(orangeclass)
				className = orange;
			else if(darkGreenclass)
				className = darkGreen;
			else if(dimGreenclass)
				className = dimGreen;
	}else{
		className ="";
	}
%>
<div class="cal-month-day <%= className %> <%= cls %>">
	<span class="hover-tick"></span>
	<span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="day"><%= day %></span>
		<% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>"></div>
		<% } %>
</div>
			
			
<!--original template 

<div class="cal-month-day <%= cls %>">
	<span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>
	<% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
			<% _.each(events, function(event) { %>
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
					class="pull-left event <%= event['class'] %>" data-toggle="tooltip"
					title="<%= event.title %>"></a>
			<% }); %>
		</div>
	<% } %>
</div>

-->