.template-section {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 2px 2px 8px lightgrey;
}
.template-section__title {
  margin-bottom: 9px;
}
.template-section__parameters-wrapper {
  display: inline-block;
  width: calc(33.3% - 14px);
}
.template-section__parameters-wrapper img {
  width: 200px;
}
.template-section__parameters-wrapper label {
  display: block;
}
input.template-section__parameters-input,
select.template-section__parameters-input {
  width: 95%;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  /* margin-left: 10px; */
  padding: 3px 9px;
  color: rgba(0, 0, 0, 0.8);
}
input.template-section__parameters-input.template-section__parameters-input--position {
  width:60px;
}
input[type="checkbox"].template-section__parameters-input {
  box-shadow: none;
}
.select-wrapper {
  display: inline-block;
}
.select-wrapper:nth-child(2) {
  margin-left: 15px;
}
.selected-option {
  background-color: #5cc75f !important;
  color: #fff !important;
}
#create-layout {
  display: inline-block;
  margin-left: 15px;
  background-color: #fff;
  border: 0.5px solid lightgray;
}
#layout-options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: last baseline;
  justify-items: flex-end;
  margin-bottom: 29px;
}
#layout-options > div {
  flex: 1;
}
#layout-options > input {
  flex: 0 0 25%;
}
#layout-options > div > * {
  width: 100%;
}
#page-options {
  position: sticky;
  width: 97%;
  display: flex;
  align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  padding-left: 15px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.16);
  border-radius: 9px 9px 0 0;
  margin: 0 1.5%;
}
#page-options > div {
  padding: 15px;
}
.add-section {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.add-section-option {
  flex: 1;
  background-color: #fff !important;
  border: 0.5px solid lightgray;
  color: #486066 !important;
}
.btn.btn-secondary {
    color: #292b2c !important;
    background-color: #fff;
    border-color: #ccc;
}
.btn.btn-secondary.btn-border--halfradius {
  border-radius: 24%;
  border-width: 2px;
  border-style: solid;
}
@media screen and (max-width: 480px) {
  #create-layout {
    margin: 0;
    width: 100%;
  }
  .container-fluid,
  .container-fluid .col-xl-12.col-lg-12.col-md-12 {
    padding-right: 0;
    padding-left: 0;
  }
  .select-wrapper,
  .select-wrapper select {
    width: 100%;
  }
  .select-wrapper:nth-child(2) {
    margin-left: 0;
  }
  #layout-options {
    display: block;
  }
  #layout-options > div,
  #layout-options > input {
    margin-top: 15px;
  }
}
