@import "../../snippets/scss/defaults.scss";
@import '../../snippets/scss/mixins.scss';

.student-list__card {  
  p {
    margin: 0 0 5px;
    font-family: $font;
    color: $darkgray;

    @include middle(){
      display: flex;
      margin: 0;
    }

    span {
      flex: 1;
      display: block;

      &:first-child {
        font-weight: $bold;
      }
    }
  }
}

.student-list__link {
  @include button-base-styles();
  max-width: 200px;
  margin-top: 10px;
  padding: 15px 20px;
  @include button-hover($primaryColor);
}