@import '../../snippets/scss/defaults.scss';
@import '../../snippets/scss/mixins.scss';

.chat-message,
.chat-message__own {
  padding-bottom: 20px;
  font-family: $font;
  font-size: 14px;
  color: $darkgray;
  
  @include middle() {
    display: flex;
    padding-bottom: 30px;
    font-size: $font-size-base;
  }
}

.chat-message__wrapper {
  @include middle(){
    flex: 0 0 50%;
  }
}

.chat-message__info {
  display: flex;
  margin-bottom: 15px;
}

.chat-message__username {
  margin: 0;
  padding-left: 10px;
  font-weight: $bold;
}

.chat-message__text {
  position: relative;
  margin: 0;
  padding: 15px;
  border-radius: 7px;
  background-color: $orange;

  @include middle() {
    padding: 20px;
  }

  &:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $orange transparent;
  }
}

.chat-message__own {
  @include middle() {
    justify-content: flex-end;
  }

  .chat-message__info {
    justify-content: flex-end;
  }

  .chat-message__text {
    background-color: #455a64;
    color: $white;

    &:after {
      left: auto;
      right: 20px;
      border-color: transparent transparent #455a64 transparent;
    }
  }
}