@import "../../snippets/scss/defaults.scss";
@import "../../snippets/scss/mixins.scss";

.dashboard-appointment {
  display: flex;
  min-height: 250px;
  padding: 30px 0;
  font-family: $font;
  border-top: 1px solid $darkgray;
  color: $darkgray;
  
  &:first-child {
    margin-top: 10px;
    border-top: none;
  }
}

.dashboard-appointment__item {
  display: flex;
  padding: 20px 0;
  flex: 1 0 100%;
  border-left: 2px solid $orange;
}

.dashboard-appointment__date {
  display: flex;
  flex-direction: column;  
  align-items: center;
  
  padding: 0 20px;

  @include middle() {
    flex-basis: 20%;
  }
  @include large {
    flex-basis: 10%;
  }

  p {
    margin: 0;
    font-size: 15px;

    &.date-day {
      font-size: 30px;
      line-height: 1;
    }
  }
}

.dashboard-appointment__info {
  @include middle() {
    flex-basis: 80%;
  }
  @include large {
    flex-basis: 90%;
  }

  display: flex;
  flex-direction: column;
  padding: 0 20px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 4px 0;
    font-size: 15px;
    color: inherit;

    &:first-child {
      padding-bottom: 0;
    }

    .icon-semicircle {
      font-family: $font;
      font-size: 18px;
      font-style: normal;
      font-weight: $bold;
    }

    i {
      margin-right: 10px;
    }
    
    a {
      color: currentColor;
    }
  }
}

