@import '../../snippets/scss/defaults.scss';

#footer {
  background-color: #eaeaea !important;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
}
.footer__container {
  display: flex;
  width: 80%;
  align-items: start;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: -1px;
  margin-left: 10%;
}
.footer__social-media {
  justify-content: unset;
  font-size: 32px;
  & a {
    margin: 0 3px;
  }
}
.footer__copyright {
  color: $primaryColor;
  padding-bottom: 30px;
  & p {
    margin: 0 auto;
    text-align: center;
    display: block;
  }
}
.footer__list {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  & li {
    margin: 12px 0;
  }
  &--title {
    font-size: 17px;
    font-weight: 600;
    color: $darkgray;
  }
  & li a {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: $primaryColor;
    text-decoration: none;
  }
}
.footer__list__people {
  &-item {
    display: flex;
  }
  &-img {
    margin-right: 12px;
  }
  &-img img {
    border-radius: 50%;
  }
  &-name {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 14px;
    color: $primaryColor;
    font-weight: 600;
  }
  &-description {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-size: 14px;
    color: $darkgray;
    font-weight: 600;
    padding-top: 5px;
    text-decoration: underline;
  }
}
.footer__list__team--bottom {
  display: none;
}
.version-number {
  color: gray;
  font-size: 10px;
}
@media (min-width: $middle) and (max-width: $large) {
  .footer__container {
    width: 95%;
    margin-left: 2.5%;
  }
}
@media (min-width: $small) and (max-width: $middle) {
  .footer__container {
    width: 90%;
    margin-left: 5%;
  }
  .footer__list__team {
    &--top {
      display: none;
    }
    &--bottom {
      display: flex;
    }
  }
}
@media (max-width: $middle) {
  .footer__social-media {
    align-items: center;
    & div {
      margin: 0 auto;
    }
  }
}
@media (max-width: $small) {
  .footer__container {
    flex-wrap: wrap;
  }
  .footer__list {
    width: 50%;
  }
}
