@import "../../snippets/scss/defaults.scss";
@import "../../snippets/scss/mixins.scss";

$paddings: 20px 25px 25px;

.info-page__header {
  @include flex-center;
  min-height: 80px;
  padding: 0 20px;
  border-bottom: 1px solid $gray-medium;

  p {
    margin: 20px 0 0;
    font-size: $font-size-lg;
    color: $primaryColor;
    text-align: center;
    text-transform: capitalize;
  }
}

.info-page__body {
  padding: $paddings;
  
  p {
    font-size: $font-size-base;
    text-align: center;
  }
}

.info-page__footer {
  @include flex-center;
  flex-direction: column;
  padding: $paddings;
  border-top: 1px solid $gray-medium;
  font-size: $font-size-sm;
  text-align: center;

  a {
    font-size: $font-size-xs;
    line-height: 1em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: currentColor;

    @include line-hover;
  }
}

.link-divider {
  padding: 0px;
  font-size: $font-size-sm;
}
