@import '../../snippets/scss/defaults.scss';

#ui-datepicker-div {
  z-index: 350 !important;
}

body {
  background-color: $lightgray !important;
}

.hide {
  display: none;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="number"],
input[type="date"],
select,
textarea {
  font-family: poppins;
  font-size: 16px;
  font-weight: normal;
  background-color: $lightgray !important;
  border-radius: 6px;
  color: #5a777b !important;
}

#profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: $gray;
  font-size: 35px;
  color: $darkgray;
  text-align: center;
  line-height: 106px;
  margin: Auto;
  margin-bottom: 13px;
}

#profileImageMini {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $gray;
  font-size: 15px;
  color: $darkgray !important;
  text-align: center;
  line-height: 41px;
  margin: Auto;
  margin-right: 10px;
}

li.list-group-item {
  background-color: #e8e8e8 !important;
}

.chat .chat-history .other-message {
  background: #d6d6d6 !important;
}

.leftSlot {
  font-size: 12px;
  line-height: 11px;
  color: white !important;
  background-color: #61a1de;
  border-radius: 30%;
  display: inline-block;
  height: 20px;
  padding: 5px 10px;
  position: relative;
  top: -5px;
}

div.btn-group > button.btn.btn-default {
  color: $primaryColor;
}

a.sidemenu_a span:hover {
  color: $primaryColor !important;
}

a,
img {
  box-shadow: 0 0 0 0 !important;
}

/* * {
	color: $darkgray;
	font-size: 16px;
	font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
} */

.bg-green {
  background: transparent !important;
  color: $primaryColor !important;
  border: 2px solid $primaryColor !important;
  border-radius: 22px !important;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

table.dataTable {
  border-collapse: collapse !important;
}

a.page-link {
  background-color: grey !important;
}

.event-inverse {
  background-color: #696767 !important;
}

span.event-item {
  color: #b3afaf !important;
}

span.pull-left.event {
  margin-left: 13px;
}

.alert.alert-danger {
  background-color: rgba(255, 54, 54, 0.8) !important;
}

hr {
  border-top: 1px solid $darkgray !important;
}

.page-calendar .event-name:hover {
  background: #ededed !important; /*#d0d0d0*/
}

/*<!-- Calendar month-day color --->*/
.cal-month-day.red.cal-day-inmonth {
  background-color: #e0080873 !important;
}

.cal-month-day.green.cal-day-inmonth {
  background-color: #08e00873 !important;
}

/*<!-- Calendar month-day color --->*/

/*<!-- Calendar DAY month-day color --->*/
.cal-cell1 {
  font-size: 18px;
}

/*<!-- Calendar DAY month-day color --->*/

/*<!-- Calendar pre/next button --->*/
div.calendar-page-header > div.pull-right > div.btn-group > button:nth-child(1) {
  border-radius: 100px 0px 0px 100px !important;
}

div.calendar-page-header > div.pull-right > div.btn-group > button:first-child {
  border-radius: 100px 0px 0px 100px !important;
}

div.calendar-page-header > div.pull-right > div.btn-group > button:nth-child(2) {
  display: none !important;
}

div.calendar-page-header > div.pull-right > div.btn-group > button:nth-child(3) {
  border-radius: 0px 100px 100px 0px !important;
}

/*<!-- End Calendar pre/next button -->*/
div.colorLegend {
  & span.color {
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 6px !important;
  }
  & span.available {
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 6px !important;
    background-color: #a7ef9f !important;
    margin-left: 10px;
  }
  & span.request {
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 6px !important;
    background-color: #ffbd6b !important;
    margin-left: 10px;
  }
  & span.appointment {
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 6px !important;
    background-color: #5cc75f !important;
    margin-left: 10px;
  }
}
.cal-event-list .event.pull-left {
  margin-top: 5px;
}

ul.pagination {
  & > li > a.page-link {
    color: $primaryColor !important;
    background-color: transparent !important;
    border: 2px solid $primaryColor !important;
  }

  & li a.page-link:hover {
    color: white !important;
    background-color: #5cc75f !important;
    border: 2px solid #50d38a !important;
  }

  & > li > a.page-link.active {
    color: white !important;
    background-color: #5cc75f !important;
    border: 2px solid #50d38a !important;
  }
}
.page-calendar .b-primary {
  border-color: #ff9d00 !important;
}

.b-warning {
  border-color: #ff0 !important;
}

.b-special {
  border-color: #18ce0f !important;
}

.theme-green .page-loader-wrapper {
  background: $lightgray;
}

.theme-green .page-loader-wrapper .loader p {
  color: $lightgray !important;
  &:after {
    color: $darkgray !important;
    margin-left: -100px;
    content: "Even geduld aub...";
  }
}
.dropdown-menu {
  margin-top: 11px !important;
}

.btn-primary {
  background: transparent !important;
  color: $primaryColor !important;
  border: 2px solid $primaryColor !important;
  border-radius: 22px !important;
  letter-spacing: 0;
  font-size: 14px;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

.btn-primary:hover,
.theme-green .btn-primary:focus {
  color: $gray !important;
  background-color: $primaryColor !important;
}

/* Dailog Box style Ja/Nae */

.btn-success {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
  color: $lightgray !important;
  font-family: Poppins !important;
  font-size: 16px !important;
}

.btn-danger {
  background-color: #ffbd6b !important;
  border-color: #ffbd6b !important;
  color: $lightgray !important;
  font-family: Poppins !important;
  font-size: 16px !important;
}

/* showNotification */
.alert.alert-success {
  background-color: #5cc75ffa;
  & > span {
	color: $lightgray !important;
  }
  & > button.close {
	color: $lightgray !important;
  }
}

.alert.alert-danger {
  background-color: #ffbd6b;
  & > span {
	color: $lightgray !important;
  }
  & > button.close {
	color: $lightgray !important;
  }
}

.calender_dropdown {
  margin-left: 20px;
  display: inline;
}

.calender_dropdownText {
  display: block;
  text-decoration: underline;
}

/* .theme-green section.content:before {
    background-color: transparent !important;
} */
