@import '../../snippets/scss/defaults.scss';
@import '../../snippets/scss/mixins.scss';

.message-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  min-height: 90px;
  border-left: 3px solid $primaryColor;
  background-color: #e8e8e8;
  font-family: $font;
  font-size: $font-size-base;
  color: $darkgray;

  @include middle {
    padding: 15px;
  }

  p {
    margin: 0;
  }

  @include hover {
    text-decoration: none;
    color: inherit;
  }
}

.message-profile-image,
.message-profile-default-image {
  display: block;
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 20px;

  @include middle {
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    border-radius: 30px;
  }
}

.message-profile-image {
  object-fit: cover;
}

.message-profile-default-image {
  @include flex-center;
  background-color: #61a1de;
  overflow: hidden;

  i {
    font-size: 20px;
    color: $lightgray;

    @include middle {
      font-size: 40px;
    }
  }
}

.message-body {
  width: 100%;
  padding-left: 10px;
  align-items: center;

  @include middle {
    padding-left: 20px;
  }
}

.message-name {
  font-size: 16px;
  font-weight: $bold;
  white-space: nowrap;

  width: 100%;
  display: flex;
  justify-content: space-between;

  @include middle {
    width: auto;
    font-size: 18px;
  }
}

.message-date {
  font-size: 13px;
}

.message-row {
  display: flex;
  align-items: center;

  &:first-child {
    justify-content: space-between;
  }

  &:last-child {
    display: block;

    @include middle {
      display: flex;
    }
  }
}

.message-new-label {
  margin: 4px 0px;
  padding: 2px 5px;
  font-size: 10px;
  color: #fff;
  background-color: $primaryColor;
  text-transform: uppercase;
  border-radius: 20px;
}

.message-text {
  padding-top: 1px;
  height: 25px;
  overflow: hidden;
  font-size: $font-size-base;
}

.message-date {
  display: none;
  
  @include middle {
    display: block;
  }
}

.message-name span:first-child,
.message-contact-type {
  @include middle {
    min-width: 160px;
  }
}
