@import '../../snippets/scss/defaults.scss';

.tippy-popper {
  z-index: 2000000001 !important;
  max-width: 80%;
  /* margin-right: 10%; */
  & .tippy-tooltip {
    background-color: #ffffff !important;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4) !important;
    line-height: 1.6 !important;
  }

  & .tippy-tooltip * {
    text-align: left;
  }

  & .tippy-tooltip a {
    color: $primaryColor !important;
  }

  & .tippy-backdrop {
    display: none;
  }
}
.tippy-content {
  color: $darkgray;
}

.cursor {
  cursor: pointer;
}

.width {
  width: 90% !important;
  margin: auto !important;
}

.login_form_footer {
  border: none;
}

#login-register-modal {
  display: none;
  align-items: center;
  position: fixed;
  z-index: 12;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.bijles-modal__wrapper {
  max-height: 95vh;
  margin: auto;
  overflow-y: auto;
  /* position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
}
.bijles-modal__content {
  position: relative;
  overflow-y: auto;
  margin: auto;
  background-color: $lightgray;
  border-radius: 6px;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.bijles-modal__header {
  border-bottom: solid #dee2e6 1px !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: block;
  padding: 2px 16px !important;
  background-color: $lightgray !important;
  color: white;
  text-align: center;
  /* border-bottom: solid 1.5px $darkgray !important; */
  & h2 {
    color: $primaryColor;
    padding: 1rem !important;
    text-align: center;
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif !important;
    color: $primaryColor !important;
    padding: 50px;
    font-size: 36px !important;
  }
}
.inlog-error {
  display: none;
}
#login_form label {
  margin-top: 10px;
  display: block;
  margin-left: 20px;
  color: $darkgray;
  font-weight: bold;
  font-size: 16px !important;
}
#login_form button {
  width: 100%;
  background: $primaryColor !important;
  font-weight: bold !important;
  color: white !important;
  border: 0 none !important;
  cursor: pointer;
  padding: 14px 0px;
  margin: 10px 0px;
  border-radius: 6px !important;
  font-size: 16px !important;
}
/*.bijles-modal__-content {*/
/*    -webkit-animation-name: none !important;*/
/*    -webkit-animation-duartion: none !important;*/
/*    animation-name: none !important;*/
/*    animation-duration: 0ms !important;*/
/*    border-radius: 6px;*/
/*    border: none !important;*/
/*    width: 65%;*/
/*    height: auto !important;*/
/*    max-height: 95%;*/
/*    overflow-y: auto;*/
/*    overflow-x: hidden;*/
/*    !* margin: 2rem 0; *!*/
/*}*/

.border__top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.border__bottom {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.bijles-modal__content .btn {
  display: block !important;
  margin: auto !important;
  width: 90% !important;
}

.border__line {
  width: 100%;
  margin-bottom: 2.375rem;
  border: 1px solid #bbb;
}

.modal-btn {
  background-color: #ffbd6b !important;
  color: #ffffff !important;
}

.m-16 {
  padding-top: 1rem;
  margin-bottom: -1rem;
  text-align: center;
  font-weight: bold;
}

.login_form_btn {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bijles-modal__body {
  padding: 2px 16px !important;
  background-color: $lightgray !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.bijles-modal__content h2 {
  padding: 1.5rem 0 1.5rem 0 !important;
}

.h {
  height: 21px;
}

@media screen and (max-width: 480px) {
  .bijles-modal__wrapper {
    width: 80% !important;
  }

  .bijles-modal__header {
    padding: 2px 0 !important;
  }
}

@media screen and (max-width: 375px) {
  .bijles-modal__header {
    padding: 5px 0 !important;
  }
}

@media screen and (min-width: 480px) and (max-width: 576px) {
  .bijles-modal__wrapper {
    width: 60% !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 680px) {
  .bijles-modal__wrapper {
    width: 50% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .bijles-modal__wrapper {
    width: 45% !important;
  }
}

@media screen and (min-width: 970px) and (max-width: 2000px) {
  .bijles-modal__wrapper {
    width: 40% !important;
  }
}

@media screen and (min-width: 2000px) and (max-width: 3000px) {
  .bijles-modal__wrapper {
    width: 25% !important;
  }
}

@media screen and (max-width: 1024px) {
  .bijles-modal__wrapper h2 {
    text-align: center;
  }
}

.border-top {
  border-top: 1px solid #bbb;
}

.m-t-38 {
  margin-top: 38px;
}

.no-t-m {
  margin-top: 0 !important;
}

.m-b-28 {
  margin-bottom: 1.75rem;
}

.mar {
  margin-top: 1rem;
}

.pad {
  padding: 2rem 0;
}

.bijles-modal__bottom {
  padding-top: 15px;
  border-top: 1px solid #dee2e6;
  text-align: center;
  font-weight: 500;
  line-height: 1em;
  font-size: 12px;

  & a {
    color: $darkgray;
    text-decoration: none;
    &:hover {
      color: $darkgray;
      text-decoration: none;
    }
  }
}
#bijles-modal__content__register .bijles-modal__bottom {
  display: none;
}
/* .modal-title {
    font-size: 24px;
    padding: 0 1rem !important;
    text-align: center;
    color: $primaryColor !important;
} */

.form-group {
  margin: 2rem 0 !important;
}

@media only screen and (max-width: 767px) {
  /* .modal-title {
        padding: 0 1.75rem !important;
    } */

  .margin-top {
    margin-top: 2rem !important;
  }
}

@media only screen and (max-width: 375px) {
  .pad {
    padding: 2.5rem 0;
  }
}

.tooltip.fade,
.ui-tooltip {
  z-index: 2000000001 !important;
  opacity: 1;
  display: none;
}

.tooltip-inner {
  background-color: #ffffff !important;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4) !important;
}

.bijles-modal__register p.form-error,
.login_form p.form-error {
  color: #e45e5e !important;
}

.inlog-btn {
  padding-bottom: 0;
}

.inlog-btn-text {
  color: $primaryColor !important;
}

.container {
  width: 100%;
}

#login_form .recaptcha-input {
  padding: 0 14px !important;
}

/* Maybe there is a reason for adding .input-lg, but it has a fixed height property */
.input-group.input-lg.login-input-group {
  height: auto !important;
  padding: 0 !important;
}

/* Maybe there is a reason for adding .input-lg, but it has a fixed height property */
#login_form .input-lg.recaptcha-input {
  height: auto !important;
}

.g-recaptcha {
  padding-left: 8px;
  max-width: 304px;
}

@media screen and (max-width: 400px) {
  .g-recaptcha {
    padding-left: 0 !important;
  }

  #login_form .content {
    padding: 0px 0 20px 0px;
  }

  #login_form .input-lg.recaptcha-input {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -78px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0;
}

.modal--h5_text {
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 10px !important;
  font-size: 16px !important;
}

.bijles-modal__content .btn {
  margin: 0 auto 1rem auto !important;
}

.bijles-modal__bijles-modal__register-successs p {
  font-weight: normal;
}

.bijles-modal__content .form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  border: 1px solid #bdbdbd !important;
}

.bijles-modal__content .name-input-wrapper {
  display: flex;
}

.bijles-modal__content .name-input-wrapper #first-name,
.bijles-modal__content .name-input-wrapper #parent-first-name {
  margin: 0 2.5% 0 0 !important;
}

.bijles-modal__content .name-input-wrapper input {
  max-width: 47.5% !important;
}

.bijles-modal__content .msg-error {
  margin: 0;
}

.modal-info-icon {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* Override main.css for modal layout*/
.bijles-modal__content .input-group,
.bijles-modal__content .form-group {
  margin-bottom: 0px;
}

.bijles-modal__content input::placeholder {
  color: #2c3e50 !important;
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .bijles-modal__content .name-input-wrapper {
    display: block;
  }

  .bijles-modal__content .name-input-wrapper #last-name,
  .bijles-modal__content .name-input-wrapper #parent-last-name {
    margin-top: 10px !important;
  }

  .bijles-modal__content .name-input-wrapper input {
    max-width: 100% !important;
    width: 100% !important;
  }

  #msform label {
    margin-left: 0;
  }

  .warningmsg {
    color: red !important;
    display: none !important;
  }
}

/* divi modal */
@media only screen and (max-width: 938px) {
  .bijles-modal__wrapper {
    width: 70%;
  }
}

@media only screen and (max-width: 1238px) {
  .bijles-modal__content .container {
    width: 100% !important;
  }
}

@media only screen and (min-width: 3000px) {
  .bijles-modal__wrapper {
    width: 30% !important;
  }
}

.bijles-modal__keuze1 .container {
  width: 100%;
}

.bijles-modal__content p {
  color: $darkgray !important;
  font-size: 16px;
  font-weight: bold;
  margin-top: 28px;
  text-align: center;
}

.modal-btn {
  width: 90%;
  background-color: $primaryColor;
  color: white !important;
  display: block;
  margin: 38px auto;
  text-align: center;
  padding: 14px;
  border-radius: 6px;
  font-size: 16px;
}

.account-btn {
  width: 90%;
  background-color: $primaryColor;
  color: white !important;
  display: block;
  margin: 38px auto;
  text-align: center;
  padding: 14px;
  border-radius: 6px;
  font-size: 16px;
}

.inlog-btn {
  margin: 0 auto;
  color: $primaryColor !important;
  width: 68px;
  display: block;
  font-weight: bold;
  padding-bottom: 38px;
  font-size: 16px;
}

.bijles-modal__register {
  & h2 {
    padding-top: 25px !important;
    padding-bottom: 10px !important;
  }

  & p {
    margin-top: 0 !important;
    font-size: 16px !important;
    padding-bottom: 10px !important;
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.bijles-modal__content .close {
  color: rgba(0, 0, 0, 0.3);
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
  }
}

.bijles-modal__footer {
  padding: 2px 16px;
  background-color: $lightgray;
  color: white;
}

#login_form input {
  width: 100%;
  height: 45px;
  background: white;
  padding-left: 20px;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 16px !important;
}
#login_form .recaptcha-input {
  padding: 14px !important;
}
#login_form label {
  margin-top: 10px;
  display: block;
  margin-left: 20px;
  color: $darkgray;
  font-weight: bold;
  font-size: 16px !important;
}

#login_form .centeer {
  width: 100% !important;
}

#login_form #recaptcha {
  margin: 0 auto !important;
}

.bijles-modal__content .h5_text {
  cursor: pointer;

  & a {
    font-size: 16px !important;
  }
}

.bijles-modal__content .login_form_footer {
  padding-bottom: 10px;
}

#login_form button {
  width: 100%;
  background: $primaryColor !important;
  font-weight: bold !important;
  color: white !important;
  border: 0 none !important;
  cursor: pointer;
  padding: 14px 0px;
  margin: 10px 0px;
  border-radius: 6px !important;
  font-size: 16px !important;
}

#login_form button:hover {
  background: $primaryColor !important;
  color: white !important;
}

#login_form .inloggen-input-icon {
  display: none;
}

.bijles-modal__content .inloggen:after {
  display: none !important;
}

#login_form h5 {
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif !important;
}

#login_form .content {
  width: 100% !important;
  padding: 0px 20px 20px 20px;
}

.bijles-modal__content .inlog-error {
  color: red !important;
  font-size: 16px !important;
}

.bijles-modal__content .active {
  background-color: $primaryColor !important;
}

/*form styles*/
#msform {
  margin: 20px auto;
  position: relative;
  & i {
    font-family: "Font Awesome 5 Free" !important;
  }
  & fieldset {
    border: 0 none;
    border-radius: 3px;
    /* padding: 20px 30px; */
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    /*stacking fieldsets above each other*/
    position: relative;
  }
  /*Hide all except first fieldset*/
  & fieldset:not(:first-of-type) {
    display: none;
  }
  /*inputs*/
  & input,
  & textarea {
    padding: 10px;
    padding-left: 20px;
    /* margin-bottom: 10px; */
    /* width: 100%; */
    box-sizing: border-box;
    color: #2c3e50 !important;
    font-size: 16px;
    /* margin-top: 10px; */
    /* border: $darkgray solid 2px !important; */
    border-radius: 6px !important;
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif !important;
    min-height: 45px;
  }
  & input {
    border: 1px solid #bdbdbd !important;
  }
  /*buttons*/
  & .action-button {
    width: 45%;
    background: $primaryColor !important;
    font-weight: bold;
    color: white !important;
    border: 0 none !important;
    border-radius: 6px !important;
    cursor: pointer;
    padding: 14px 0px;
    margin: 10px 0px;
  }

  & label {
    margin-left: 20px;
    color: $darkgray;
    font-weight: bold;
    font-size: 16px !important;
  }
  & .error {
    border: solid 2px red !important;
  }
}
/*headings*/
.bijles-modal__content .fs-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.bijles-modal__content .fs-subtitle {
  font-weight: normal;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
.bijles-modal__content #progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 25px !important;

  & li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 50%;
    float: left;
    position: relative;
    background-color: white;
    margin-left: -1px;
    border-radius: 0px 6px 6px 0px;
    background-color: #a7ef9f54;
    &:first-of-type {
      border-radius: 6px 0px 0px 6px !important;
    }

    &:before {
      content: counter(step);
      counter-increment: step;
      width: 20px;
      line-height: 20px;
      display: block;
      font-size: 0px;
    }
    /*progressbar connectors*/
    &:after {
      content: "";
      width: 100%;
      height: 2px;
      background: white;
      position: absolute;
      left: -50%;
      top: 9px;
      z-index: -1; /*put it behind the numbers*/
    }
    &:first-child:after {
      /*connector not needed before the first step*/
      content: none;
    }
    /*marking active/completed steps green*/
    /*The number of the step and the connector before it = green*/
    &.active:before,
    &.active:after {
      color: white;
    }
  }
}
.help-block {
  font-size: 0.8em;
  color: #7c7c7c;
  text-align: left;
  margin-bottom: 0.5em;
}

.bijles-modal__register-success {
  & h2 {
    color: $primaryColor;
    text-align: center;
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif !important;
    padding-top: 38px;
  }

  & p {
    font-size: 16px;
  }
}

.bijles-modal__content .mapboxgl-ctrl-attrib,
.bijles-modal__content .mapboxgl-ctrl-logo {
  display: none !important;
}
.bijles-modal__content .mapboxgl-ctrl-geocoder li > a {
  color: black !important;
}
.bijles-modal__content .mapboxgl-ctrl-geocoder input {
  color: black !important;
}
.bijles-modal__content #map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: all 0.3s;
}
.bijles-modal__content .button {
  color: #fff;
  background-color: #555;
  padding: 1em;
  margin: 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  border-radius: 0.5em;
  border-bottom: 2px #222 solid;
  cursor: pointer;
}
.bijles-modal__content #resizeMap {
  top: 5em;
}

.wizard {
  & .content {
    overflow: visible !important;
    /*height: 370px !important; */
    min-height: 500px !important;
    margin-top: 50px !important;
    & label {
      color: $darkgray !important;
      font-weight: bold;
      &.error {
        color: #e45e5e !important;
      }
    }
  }

  & > .steps .current a {
    background-color: $primaryColor !important;
    border-radius: 6px;
  }
  & > .steps .done a {
    background-color: #e8e8e8 !important;
    border-radius: 6px;
  }
  & .steps a,
  & .steps a:hover {
    border-radius: 6px;
  }

  & > .actions a {
    background-color: #029898 !important;
  }
  & > .actions .disabled a {
    background-color: $lightgray !important;
  }
}
.bijles-modal__content .btn.btn-simple {
  border-color: white !important;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder {
  color: white;
  &:hover,
  &:focus {
    color: white;
  }
}
.bijles-modal__content .mapboxgl-canvas {
  position: absolute;
  width: 610px;
  height: 200px;
}

#-error {
  display: block;
  margin-top: 223px;
}
.bijles-modal__content section.content {
  padding-top: 29px;
}
#fc_frame,
#fc_frame.fc-widget-normal {
  bottom: 15px !important;
}
.bijles-modal__content .custom-error label.error {
  color: #e45e5e !important;
  position: inherit;
  top: -21px;
}
#-error {
  float: right;
}
.bijles-modal__content .mapboxgl-canvas {
  left: 0;
}

.theme-green .bijles-modal__content section.content:before {
  background-color: transparent !important;
}

.bijles-modal__content .form-float {
  padding-bottom: 13px;
}
.register-error {
  display: none;
}
/* tooltip */

/* START TOOLTIP STYLES */
[tooltip] {
  position: absolute;
  float: left;
  left: 0;
  text-align: center;
  margin-left: -16px;

  /* Applies to all tooltips */
  &::before,
  &::after {
    text-transform: none; /* opinion 2 */
    font-size: 0.9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  &::before {
    content: "";
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
  }
  &::after {
    content: attr(tooltip);
    text-align: center;
    overflow: hidden;
    padding: 1ch 1.5ch;
    border-radius: 0.3ch;
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
    width: 100%;
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif !important;
    font-size: 16px;
  }

  /* Make the tooltips respond to hover */
  &:hover::before,
  &:hover::after {
    display: block;
  }

  /* don't show empty tooltips */

  /* FLOW: UP */
  &:not([flow])::before,
  &[flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }
  &:not([flow])::after,
  &[flow^="up"]::after {
    bottom: calc(100% + 5px);
  }
  &:not([flow])::before,
  &:not([flow])::after,
  &[flow^="up"]::before,
  &[flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -0.5em);
  }

  /* FLOW: DOWN */
  &[flow^="down"] {
    &::before {
      top: 100%;
      border-top-width: 0;
      border-bottom-color: #333;
      transform: translate(-50%, 0.5em);
      left: 50%;
    }
    &::after {
      top: calc(100% + 5px);
      transform: translate(-50%, 0.5em);
      left: 50%;
    }
  }
  /* FLOW: LEFT */
  &[flow^="left"] {
    &::before {
      top: 50%;
      border-right-width: 0;
      border-left-color: #333;
      left: calc(0em - 5px);
      transform: translate(-0.5em, -50%);
    }
    &::after {
      top: 50%;
      right: calc(100% + 5px);
      transform: translate(-0.5em, -50%);
    }
  }
  /* FLOW: RIGHT */
  &[flow^="right"] {
    &::before {
      top: 50%;
      border-left-width: 0;
      border-right-color: #333;
      right: calc(0em - 5px);
      transform: translate(0.5em, -50%);
    }
    &::after {
      top: 50%;
      left: calc(100% + 5px);
      transform: translate(0.5em, -50%);
    }
  }
}
[tooltip=""]::before,
[tooltip=""]::after {
  display: none !important;
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

@media only screen and (max-width: 768px) {
  .modal-tooltip img {
    float: right;
    margin-right: 50px;
  }
}

/* css for the map in the popup */
.bijles-modal__content .mapboxgl-ctrl-attrib,
.bijles-modal__content .mapboxgl-ctrl-logo {
  display: none !important;
}
.bijles-modal__content .mapboxgl-ctrl-geocoder li > a {
  color: black !important;
}
.bijles-modal__content .mapboxgl-ctrl-geocoder input {
  color: black !important;
}
.bijles-modal__content #map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: all 0.3s;
}
.bijles-modal__content .button {
  color: #fff;
  background-color: #555;
  padding: 1em;
  margin: 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  border-radius: 0.5em;
  border-bottom: 2px #222 solid;
  cursor: pointer;
}
.bijles-modal__content #resizeMap {
  top: 5em;
}
.bijles-modal__content .mapboxgl-ctrl-geocoder li > a {
  color: black !important;
}
.bijles-modal__content .mapboxgl-ctrl-top-right {
  width: 100% !important;
}
.bijles-modal__content .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  width: 100% !important;
  margin: 0px !important;
  float: none !important;
  max-width: none !important;
  min-width: none !important;
}
.bijles-modal__content .mapboxgl-canvas {
  width: 100% !important;
  height: 312px !important;
}

.bijles-modal__content .geocoder-icon {
  display: none !important;
}

.bijles-modal__content .mapboxgl-ctrl input {
  margin: 0 !important;
}

/* changes login page */

.login_form_header {
  padding: 50px !important;
  font-size: 36px !important;
}

.login-form-old .content,
.login_form_btn {
  padding: 2px 16px !important;
  padding-bottom: 20px;
}

.login-form-old .g-recaptcha {
  padding-top: 20px;
}

.login-form-old label {
  float: left !important;
}
