@import '../../snippets/scss/defaults.scss';

.zmdi{
	font: normal normal normal 14px/1 'Material-Design-Iconic-Font' !important;
}
.glyphicon{
	font-family: 'Glyphicons Halflings' !important;
}
.form-control{
	background-color: transparent !important;
}
.ma-main-title{
	font-size: 36px !important;
	color: $primaryColor !important;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.ma-subtitle{
	font-size:21px !important; 
	color: $primaryColor !important;
	font-family: 'Poppins', sans-serif !important;
	font-weight: 600;
    font-style: normal;
	
}
.block-header{
    padding: 5px !important;
}
#leftsidebar{
	margin-top: 119px;
}
#leftsidebar .user-info{padding-top: 20px;}
/* section.content{margin-top: 119px !important;} */


/*Tob Bar*/
#top-header{
    z-index: 9999; 
    width: 100%;
	position: absolute;
    top: 0;
}
#top-header .container{
    padding-top: 9px;
    font-weight: 600;
    line-height: 11px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
#et-info{
	float: left;
    display: block;
}
#et-info, #et-secondary-menu>ul>li a{
	padding-bottom: 0 !important;
}
#et-info-phone,#et-info-phone span{font-size:12px; color: #fff !important;}
#et-info-phone i{margin-right: 2px; color: #fff !important;}
#et-secondary-menu{float: right;}
#et-secondary-nav{list-style: none;}
#et-secondary-nav, #et-secondary-nav li{
	display: inline-block;
	margin-bottom: 0;
}
#et-secondary-nav li{
	text-align: right;
	margin-right: 15px;
}
#et-secondary-nav li a{font-size: 12px; color: #fff !important;}


/* Navigation */

.navbar-default{
	margin-top:32px;
}
.navbar{
	width:100%;
	background-color: #fff !important;
	border-radius: 0px;
	position:relative;
	z-index:99;
	display:block;
}
.navbar-nav{
	display:inline-block;
	float: right;
	margin-right: 0px;
    margin-top: 20px;
}
.navbar-brand{
	width: 224px;
    height: 85px;
}
.navbar-brand img{width:100%;}

.navbar a:not(.btn):not(.dropdown-item){
	    color: $darkgray !important;
}
.navbar a:not(.btn):not(.dropdown-item):hover{
	    color: $primaryColor !important;
}
.nav.navbar-nav li a.active-nav-item {
    color: $primaryColor!important;
}
.active-nav-item::after {
    background: $primaryColor!important;
    display: inline-block;
    height: 4px;
    width: 100%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar-default .navbar-nav>li>a{
	padding: 12px 15px; 
    font-size: 16px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
}
.navbar-collapse .navbar-nav .nav-item>a{
	padding: 10px 0px !important;
}
.navbar .navbar-toggle{
	width: 42px;
    height: 38px;
    margin-top: -4px;
    margin-right: 17px;
}
.navbar-default .navbar-toggle::before{
	display: none;
}

.initials{
    height: 55px !important;
    width: 55px;
    margin-top: -5px;
    margin-left: 10px;
    min-height: 110% !important;
}
.initials .circle{
    background-color: #eaeaea;
    border-radius: 100%;
    padding: 30px 30px !important; 
    font-size: 25px !important;
    text-align: center;
    float: left;
}
.initials .circle:hover{
    color: $darkgray !important;
    background-color: #eaeaea !important;
}
.initials .dropdown-menu{
    padding: 0 !important;
}
.initials .dropdown-menu li a{
    line-height: 30px;
}
.initials i{
    padding-right: 10px;
}
.profilepic i{
    opacity: 0;
}
.profile-picture {
    position: absolute;
    top: 21px;
    left: 0;
    right: 0;
}
.nav li li{
    padding: 0 0 !important;
    border-color: rgba(0, 0, 0, 0.05);
    border-style: solid;
    border-width: 0 0 1px 0; 
}
.leftSlot{
    background-color: #FE5D5D  !important; 
}
.leftSlot:hover{
    color: white !important;
}
.inloggen:after{
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background: url(/s3/content/user-1.png);
    background-size: 100% 100%;
    margin-left: 5px;
}
.ma-dropdown li:last-of-type{
    border-bottom: none;
}
 
/*responsive*/
@media (max-width: 1168px){
    .ma-sidebar-container{
        margin-top: 50px !important;
    }
}


@media (max-width: $large){
    #logo{
        width: 100% !important;
    }
	.navbar-nav{
		margin-right: 10px;
	}
	.navbar-default .navbar-nav>li>a{
		padding: 15px 10px;
	}
	#et-info{
		padding-top: 0 !important;
	}
	#et-secondary-menu, #et-secondary-nav{
		display: block !important;
	}
}

@media (min-width: 1070px){
    #top-header .container{
        width: 90% !important;
        max-width: 100% !important;
    }
}

.mob-caret{ 
      display: none;
      position: absolute;
  }

.meer-mob{
    display: none;
}
@media (max-width: 1070px){
    .navbar.navbar-default > .container {
        padding-right: 0 !important;
    }
    .navbar-collapse {
        margin-top: 1px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    ul.nav.navbar-nav.navbar-right {
       height: 100% !important;
    }
    .container>.navbar-collapse, .container>.navbar-header {
        margin-right: -15px;
        margin-left: -15px;
    }
    .navbar-toggle { 
        display: block !important;
    }
  .meer-mob{
      display: inline-block;
  }

  .mob-caret{
      display: inline-block ;
      position: relative;
  }

  .initials .circle{
    background: none !important;
    text-align: left !important;
    float: none !important;
    border-radius: 0px !important; 
    font-size: 16px !important;
  }

  .initials .circle:hover{
      background: none !important;
      color: $primaryColor;
  }
  

  .profile-picture{
      display: none;
  }
    .navbar-collapse{
        text-align: left !important;
        width: 100%;
        position: absolute;
        background: white;
        padding-left: 65px !important;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 35px !important; 

    }
	.navbar-header{
		width:100%;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		display: block;
		width: 240px;
		height: 75px;
		margin: 5px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		text-align: center;
	}
	.navbar-nav{
		display: inline-block;
		float: none !important;
		margin-right: 0px;
		margin-top: 0;
		margin-bottom: 0;
        width: 100%;
	}
	.navbar .navbar-toggle {
		position: relative;
		margin-right: 25px;
		margin-top: 28px; 
	}
    .initials{
        margin-top: 5px;
    }
    nav .dropdown:hover ul{ 
        display: contents !important;  
    }
    nav .dropdown{
        width: 100%
    } 
    nav .dropdown-menu{
        width: 100% !important;
    }
    nav .dropdown-menu a{
        font-size: 16px !important;
    }
    nav .profilepic i{
        opacity: 1;
        float: right;
    }
    nav .dropdown .dropdown-menu li a{
        padding: 10px 0px !important;
        border-bottom: solid 1px rgba(0, 0, 0, 0.05) !important;
    }
 
    .navbar-toggle{
        border: none !important;
    }
    .navbar-toggle{
        border: none !important;
    }
    .ma-dropdown-menu .container{ 
        display: contents;
    }
    .ma-dropdown-menu .row{
        display: contents;
    }
    .ma-dropdown-menu .ma-left, .ma-right{
        width: 100% !important; 
        padding-left: 0 !important;
    }
    .navbar-right li{
        display: contents !important;     
    }
    .ma-dropdown h3{
        margin-top: 20px;
    }
    nav .dropdown .ma-dropdown li a{ 
        padding-left: 0px !important;
        border-bottom: solid 1px rgba(0, 0, 0, 0.05) !important;
    }
    
}
@media (max-width: 556px){
    #logo{
        width: 70% !important; 
        margin-left: -40px;
    }
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
		width: 205px;
		height: 65px;
	}
	.navbar .navbar-toggle{
		margin-right: 2em;
		margin-top: 23px;
	}
	#et-secondary-menu{display: none !important;}
	#et-info{width: 100%; text-align: center !important;}
}

.ma-group-addon{
	padding: 6px 8px !important;
    text-align: center !important;
}
.logo_container{
    width: 250px;
    display: inline-block;
    vertical-align: middle;
}
#et-top-navigation{
    position: absolute;
    right: 0;
    top: 43%;
}
span.logo_helper{
    display: block !important;
}
#top-header, #et-secondary-nav li ul{
    background-color: $primaryColor !important;
}




/** PBE CSS **/
.page-template-page-template-blank.pbe-above-header #pbe-above-header-wa-wrap,
.page-template-page-template-blank.pbe-below-header #pbe-below-header-wa-wrap,
.page-template-page-template-blank.pbe-footer #pbe-footer-wa-wrap {
    display:none !important;
}
#pbe-above-content-wa-wrap .et_pb_widget {
    display: block;
    width: 100%;
    position: relative;
    /*margin-top: -15px;*/
    margin-bottom: 50px;
}

#pbe-above-content-wa-wrap .et_pb_section {
    z-index: 99;
}

#pbe-below-content-wa-wrap .et_pb_widget {
    display: block;
    width: 100%;
    position: relative;
    /*margin-top: -15px;*/
}

#pbe-below-content-wa-wrap .et_pb_section {
    z-index: 99;
}

#main-header .et_pb_widget, #content-area .et_pb_widget {
    width: 100%;
}

#main-header .et_pb_widget p {
    padding-bottom: 0;
}

#pbe-above-header-wa .widget-conditional-inner {
    background: #fff;
    padding: 0;
    border: none;
}

#pbe-above-header-wa select {
    background: $gray;
    box-shadow: none;
    border-radius: 3px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

#pbe-above-header-wa .et_pb_widget
{
    float:none;
}

#pbe-footer-wa-wrap .et_pb_widget {
    width: 100%;
    display: block;
}

.page-container form input[type=text] {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    background: $gray;
    padding: 10px 20px;
    box-shadow: none;
    border: none;
    font-weight: 700;
}

.page-container form p {
    font-size: 14px;
}

.page-container form {
    padding: 10px 20px;
}

#pbe-footer-wa-wrap {
    position: relative;
    /*top: -15px;*/
}

#pbe-above-header-wa-wrap,
#pbe-below-header-wa-wrap,
#pbe-above-content-wa-wrap,
#pbe-below-content-wa-wrap,
#pbe-footer-wa-wrap {
    position: relative;
    z-index: 9;
}
/* Fixes issues with overlapping widget areas */
.pbe-above-header #main-header .container,
.pbe-below-content #main-content article,
.pbe-footer #main-footer { 
    clear: both;
 }
 .pbe-below-content #main-content {
    float: left;
    display: block;
    width: 100%;
}
.pbe-below-content #main-footer {
    float: left;
    width: 100%;
}


/*footer*/
.et_pb_column_1_3 h4, .et_pb_column_1_4 h4, .et_pb_column_1_5 h4, .et_pb_column_1_6 h4, .et_pb_column_2_5 h4{
	font-size: 18px;
}
et_pb_text_inner p{padding-bottom: 1em;}
.et_pb_widget a{
	color: #666;
    text-decoration: none; 
}
ul.et_pb_social_media_follow{
	margin: 0 0 22px;
    padding: 0;
    list-style-type: none!important;
	    margin-top: 25px !important;
}
.et_pb_social_media_follow li{
	display: inline-block;
    position: relative;
}
.et_pb_blurb_position_left .et_pb_blurb_content{
	position: relative;
    max-width: 550px;
    margin: 0 auto;
    text-align: left;
}
.et_pb_main_blurb_image{
	    display: inline-block;
    max-width: 100%;
    margin-bottom: 30px;
    line-height: 0;
}
.et_pb_blurb_position_left .et_pb_main_blurb_image, .et_pb_blurb_position_right .et_pb_main_blurb_image{
display: table-cell;
    width: 32px;
    line-height: 0;	
}
.et_pb_blurb .et_pb_image_wrap{
	display: block;
    margin: auto;
}
.et_pb_blurb_position_left .et_pb_main_blurb_image img, .et_pb_blurb_position_right .et_pb_main_blurb_image img{
	    width: inherit;
}
.et_pb_animation_off{
	opacity: 1;
}
.et_pb_blurb_position_left .et_pb_blurb_container, .et_pb_blurb_position_right .et_pb_blurb_container{
	    display: table-cell;
    vertical-align: top;
}
.et_pb_blurb_position_left .et_pb_blurb_container{
	    padding-left: 15px;
}
.et_pb_blurb.et_pb_text_align_left .et_pb_blurb_content .et_pb_blurb_container {
    text-align: left;
}
.et_pb_blurb_content p:last-of-type {
    padding-bottom: 0;
}
.et_pb_row_4col .et_pb_column{
    width: 25%;
} 
/*#pbe-footer-wa-wrap{
    width: 84% !important;
    margin-left: 16% !important;
}*/
ul.et_pb_social_media_follow{
    margin-top: 25px !important;
}
.et-social-linkedin a.icon:before{
	content: "\e09d";
}
.et_pb_column{
	float: left;
    position: relative;
    z-index: 9;
    background-position: center;
    background-size: cover;
}
.et_pb_module{
	-webkit-animation-duration: .2s;
    -moz-animation-duration: .2s;
    -o-animation-duration: .2s;
    animation-duration: .2s;
	webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}
.et_pb_text_align_left{
	text-align: left;
}
.et_pb_section{
	background-color: #eaeaea!important;
}

	/*.et_pb_section{
	padding: 3% 1% 1% 1%;
}*/
.et_pb_section {
    padding: 0 0 2% 0 !important;
}
.et_pb_row {
    padding:0 !important;
}
.et_pb_module_header{
	font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif !important;
    font-size: 14px !important;
    color: $primaryColor!important;
	font-weight: 600;
}
.main-footersection .et_pb_main_blurb_image img{
	border-radius: 50%;
}
.et_pb_blurb_11.et_pb_blurb {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    color: #666666!important;
    margin-right: -100px!important;
}
.et_pb_blurb_10.et_pb_blurb {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    color: #666666!important;
    margin-right: -100px!important;
    margin-bottom: 30px!important;
}
.et_pb_blurb_9.et_pb_blurb {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    color: #666666!important;
    margin-right: -100px!important;
    margin-bottom: 30px!important;
}
.et_pb_text_inner  a>span{
	color: $primaryColor !important; 
	font-weight: 600 !important;
}
.et_pb_text_inner>h4{
	font-weight: 600 !important;
}
.et_pb_blurb_description>p{
	font-weight: 600;
}
.et_pb_row_16.et_pb_row {
    padding-top: 40px!important;
    padding-bottom: 40px!important;
    margin-bottom: 0px!important;
    padding-top: 40px;
    padding-bottom: 40px;
}
.et_pb_row_17.et_pb_row {
    padding-top: 27px!important;
    padding-right: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
    padding-top: 27px;
    padding-right: 0px;
    padding-bottom: 0;
    padding-left: 0px;
}
@media (max-width: 1135px) and (min-width: 981px){
    #pbe-footer-wa-wrap .main-footersection .et_pb_row {
        width: 95%!important;
        max-width: 95%!important;
    }
}
.sidebar{
	/*position: absolute !important;*/	
	 position: fixed !important;
}
section.content{
	position: inherit !important;
}
	ul.nav.navbar-nav.navbar-right
	{
		height:65px;
	}
.navbar-nav.navbar-right>li{
	display: block ;
	height:100% !important;
}
.et_pb_social_media_follow_network_0 a.icon{
	background-color: #3b5998!important;
}
.et_pb_social_media_follow_network_1 a.icon{
	background-color: #007bb6!important;
}
.navbar-nav>li>.dropdown-menu{
	margin-top: 25px !important;
	/*margin-top: 5px !important;*/
	border-bottom: 0;
    border-left: 0;
    border-right: 0;
}
.dropdown-menu:before{
	left: auto !important;
    right: 0 !important;
    color: $primaryColor !important;
	top: -9px !important;
	display: none !important;
}
.et-search-form, .et_mobile_menu, .footer-widget li:before, .nav li ul, blockquote{
	border-color: $primaryColor !important;
}
.dropdown-menu .container{	max-width: inherit !important; width: 100%; margin: 0 !important;}
.dropdown{position: static !important;}
/*.dropdown-menu{position: absolute !important;}*/
.ma-dropdown-menu {text-align: center; right: 5% !important; width: 90% !important; }
.ma-dropdown li a{font-family: 'Poppins', sans-serif !important; display: block; padding: 10px !important; font-weight: 400 !important;}
.ma-dropdown li a:hover{background: #f7f7f7;}
.ma-dropdown li{    border-color: rgba(0, 0, 0, 0.05);
    border-style: solid;
    border-width: 0 0 1px 0; padding: 0 !important;}
.ma-dropdown{padding: 0 10px !important;}
.ma-dropdown .ma-left, .ma-dropdown .ma-right{display: inline-block; width: 45%;}
.ma-dropdown h3{font-size: 16px; font-weight: 600; border-width: 0 0 3px 0; border-style: solid; border-color: $primaryColor;}






.navbar-default .container{
	width: 92% !important;
	max-width: 100% !important; 
}
.et_mobile_menu li a, .nav li li a {
    font-size: 14px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


/*Sidebar Scroll*/

.sidebar{
	height: calc(100% - 119px);
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar {width: 6px;}
 
.sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.sidebar::-webkit-scrollbar-thumb
{
	outline: 1px solid slategrey;
	background-color: $primaryColor;
	border-radius: 10px;
}
.ma-close, .ma-caret{margin-left: 10px;}
.ma-close{display: none;}
.ma-close:before{font-size: 12px !important;}
.ma-caret{font-size: 17px !important;} 
.navbar a.dropdown-toggle:hover .ma-close{display: inline-block; color: $primaryColor !important;}
.navbar a.dropdown-toggle:hover .ma-caret{display: none;}



.inloggen {
    cursor: pointer;
}