@import '../../snippets/scss/defaults.scss';

.question-collection__question-wrapper {
  margin-bottom: 8.696%;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  border-width: 0px;
  margin-bottom: 5.82%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: $darkgray;
  line-height: 2em;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
  box-shadow: 0px 10px 24px 6px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.question-collection__question {
  &--title {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4em;
    &:hover {
      cursor: pointer;
    }
    &-text {
      width: 91%;
      display: inline-block;
    }
    &-icon {
      float: right;
      color: rgba(0, 0, 0, 0.4);
    }
  }
  &--description {
    padding-top: 20px;
    word-wrap: break-word;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: $darkgray;
    line-height: 2em;
  }
}
