@import '../../snippets/scss/_defaults.scss';

.toggle-switch {

}

.toggle-switch__block {
  width: 80%;
}

.toggle-switch__button {
  display: inline-block;
  border: solid 1px $gray-medium;
  background-color: $lightgray;
  width: 50%;
  text-align: center;
  padding: 5px 0;
  color: $primaryColor !important;
  font-family: $font-standard;
  cursor: pointer;

  &:nth-child(1) {
    border-radius: 6px 0 0 6px;
    border-right: none;
  }

  &:nth-child(2) {
    border-radius: 0 6px 6px 0;
    margin-left: -6px;
  }

  &.active {
    background-color: $primaryColor;
    color: #fff !important;
  }
}