@import '../../snippets/scss/defaults.scss';

.tutoring-info__tutor-container {
  width: 100%;
  position: relative;
  margin-bottom: 5em !important;
}
.tutoring-info__tutor-card {
  cursor: pointer;
  width: 31%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: transparent;
  border-radius: 2px;
  transition: 0.5s;
  &:hover {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15), -2px -2px 15px rgba(0, 0, 0, 0.15);
    transform: scale(1.025);
  }
  &:after {
    position: absolute;
    content: " ";
    width: 80%;
    left: 10%;
    height: 2px;
    background: transparent;
    z-index: 1;
    top: auto;
    bottom: -1em;
    box-shadow: 0px 11px 11px black;
  }
  & a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: transparent;
    text-decoration: none;
    :hover {
      text-decoration: none;
    }
  }
  &:nth-child(odd) {
    position: absolute;
    top: 0;
  }
  &:nth-child(1) {
    left: 25%;
  }
  &:nth-child(3) {
    position: absolute;
    left: 67%;
  }
  &:nth-child(even) {
    position: absolute;
    top: 40px;
    z-index: 1;
  }
  &:nth-child(2) {
    position: relative;
  }
  &:nth-child(4) {
    position: absolute;
    left: 50%;
  }
  &__img {
    border-radius: 2px 2px 0 0;
  }
  &:nth-child(1) .tutoring-info__tutor-card__tutor-details {
    background-color: #ffcc00;
  }
  &:nth-child(2) .tutoring-info__tutor-card__tutor-details {
    background-color: #e6e4d5;
  }
  &:nth-child(3) .tutoring-info__tutor-card__tutor-details {
    background-color: #9acc97;
  }
  &:nth-child(4) .tutoring-info__tutor-card__tutor-details {
    background-color: #66ccfd;
  }
  &__tutor-details {
    padding: 7px 7px 1px 7px;
    border-radius: 0 0 2px 2px;
    flex: 1;
    color: $darkgray;
  }
  &__tutor-details h5 {
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 12px;
  }
  &__tutor-details span {
    font-size: 10px;
  }
  @media screen and (max-width: 575px) {
    width: 60%;
    &:nth-child(1) {
      left: 40%;
    }
    &:nth-child(3) {
      display: none;
    }
    &:nth-child(4) {
      display: none;
    }
  }
  @media screen and (min-width: 576px) and (max-width: 767px), screen and (min-width: 992px) and (max-width: 1090px) {
    width: 40%;
    &:nth-child(1) {
      left: 28%;
    }
    &:nth-child(3) {
      display: none;
    }
    &:nth-child(4) {
      left: 60%;
    }
  }
}
