@import '../../snippets/scss/_defaults.scss';

.tutoring-info__video {
  width: 100%;
  height: auto;
  position: relative;
  &__media {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    & video {
      width: 100%;
      height: auto;
      max-width: 100%;
      display: inline-block;
    }
  }
  &-right {
    display: none;
  }
  @media screen and (min-width: $large) {
    width: 46%;
    margin: auto 0;
  }
}
