// colour variables
$white: #fff;
$black: #000;
$white-dark: #fafbfc;
$gray-light: #f1f1f1;
$gray-medium: #bbb;
$green-light: #a7ef9f;
$green: #5CC75F;
$green-dark: #486066;
$orange: #ffbd6b;
$red: #e45e5e;
$red-alert: #FE5D5D;

// font weight variables
$weight-light: 100;
$weight-medium: 400;
$weight-bold: 700;

// breakpoints
$break-xsmall: 480px;
$break-small: 576px;
$break-middle: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

@mixin rounded-border($border-colour) {
  border-radius: 6px;
  border: solid 2px $border-colour;
}

// tutor-profile-msg component

.tutor-profile-msg {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  row-gap: 15px;
  background-color: $gray-light;
  border-radius: 6px;
  padding: 10px 0 20px;

  &.tutor-profile-msg--full {
    @media screen and (max-width: $break-middle) {
      background-color: transparent;
    }
  }
}

.tutor-profile-msg--modal {
  width: 70%;
  height: 50%;
  margin: 30% auto 0;
  position: relative;
}

.modal-wrapper__close {
  position: absolute;
  top: 0;
  left: 5px;
  color: #000;
  font-size: 20px;
  opacity: 0.5;
  cursor: pointer;
}

.tutor-profile-msg--full .tutor-profile-msg__title, .tutor-profile-msg--full .tutor-profile-msg__info, .tutor-profile-msg--full .tutor-profile-msg__textarea {
  @media screen and (max-width: $break-middle) {
    display: none;
  }
}

.tutor-profile-msg__title {
  text-align: center;
  font-size: 21px;
}

.tutor-profile-msg__info {
  border-radius: 6px;
  padding: 10px;
  background-color: $orange;
  color: #fff;
  width: 90%;
  margin: 0 5%;
}

.tutor-profile-msg__textarea {
  width: 90%;
  margin: 0 5%;
  resize: none;
  border-radius: 6px;
  border: 1px solid $gray-medium;
  transition: all 0.25s;
  padding: 8px 12px;

  &:focus {
    border-color: $green-dark;
  }
}

.tutor-profile-msg__button {
  width: 90%;
  margin: 0 5%;
  background-color: $green;
  border: solid 2px $green;
  color: #fff;
  transition: all 0.2s;
  font-weight: $weight-bold;
  border-radius: 22px;
  padding: 10px 0;

  &:hover {
    background-color: transparent;
    color: $green;
  }
}

.tutor-profile-msg--full .tutor-profile-msg__button {
  @media screen and (max-width: $break-middle) {
      width: 100%;
      margin: 0;
    }
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0,0,0,0.5);

  &.visible {
    display: block;
  }
}