// colour variables
$white: #fff;
$black: #000;
$white-dark: #fafbfc;
$gray-light: #f1f1f1;
$gray-medium: #bbb;
$green-light: #a7ef9f;
$green: #5CC75F;
$green-dark: #486066;
$orange: #ffbd6b;
$red: #e45e5e;
$red-alert: #FE5D5D;

// font weight variables
$weight-light: 100;
$weight-medium: 400;
$weight-bold: 700;

// breakpoints
$break-xsmall: 480px;
$break-small: 576px;
$break-middle: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

@mixin rounded-border($border-colour) {
  border-radius: 6px;
  border: solid 2px $border-colour;
}

// tutor-profile-info component

.tutor-profile-info {
  @include rounded-border($gray-light);
}

.tutor-profile-info__subsection {
  padding: 10px 20px;
}

.tutor-profile-info__subsection--top {
  display: grid;
  grid-template-columns: 160px 1fr;
  column-gap: 15px;

  @media screen and (max-width: $break-large) {
    grid-template-columns: 100%;
  }
}

.tutor-profile-image {
  width: 160px;
  height: 160px;
  margin: 15px 0 0 0;
}

.tutor-profile-title {
  border-bottom: solid 1px $green-dark;
  padding-bottom: 10px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: auto 200px;

  @media screen and (max-width: $break-large) {
    grid-template-columns: 1fr;
  }
}

.tutor-profile-title__name {
  font-size: 28px;
}

.tutor-profile-title__level {
  text-align: right;
  font-size: 21px;

  @media screen and (max-width: $break-large) {
    text-align: left;
  }
}

.tutor-profile-subjects {
  margin-bottom: 15px;
}

.tutor-profile-subtitle {
  color: $green;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px $green-dark;
  font-weight: $weight-bold;
}

.tutor-profile-furtherinfo {
  min-height: 200px;
}

.tutor-profile-furtherinfo__text {
  display: none;

  &.visible {
    display: inline-block;
  }
}

.tutor-profile-furtherinfo__more {
  color: $green;
  cursor: pointer;
}

.tutor-profile-icon--gray {
  color: $gray-medium;
  font-size: 16px;
}

.tutor-profile-icon--green {
  color: $green;
  margin-right: 5px;
}