@import '../../snippets/scss/_defaults.scss';

.tutoring-info__video__overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 1;
  &-icon {
    position: absolute;
    margin-top: -1.5rem;
    margin-left: -1.5rem;
    font-size: 3rem;
    line-height: 3rem;
    top: 50%;
    left: 50%;
    color: white;
  }
  &-img {
    width: 100%;
    height: inherit;
    max-width: 100%;
    display: inline-block;
    margin: auto 0;
    cursor: pointer;
    opacity: 1;
    &:hover {
      opacity: 0.5;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
  }
}