@import "../../snippets/scss/defaults.scss";

.template-content {
  background-color: $lightgray;
  min-height: 65vh;
  
  &__container {
    width: 90%;
    margin: 0 auto;
  }
}

.wrapper-card {
  padding: 15px 0;

  &__header {
    border: 2px $gray solid;
    background-color: $gray;
    padding: 20px 40px;
    border-radius: 6px 6px 0 0;
    
    & h3, & h5 {
      color: $primaryColor;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 21px;
      margin: 0;
    }

    & h5 {
      font-size: $font-size-sm + 2;
    }
  }
  
  &__body {
    border: 2px $gray solid;
    padding: 20px 40px;
    border-radius: 0 0 6px 6px;
  }
}
