// colour variables
$primaryColor: #5cc75f;
$gray: #f1f1f1;
$lightgray: #fafbfc;
$darkgray: #486066;
$errorRed: #e45e5e;
$white: #fff;

$gray-medium: #bbb;
$green-light: #a7ef9f;
$green-dark: #486066;
$orange: #ffbd6b;
$red-alert: #fe5d5d;
$dark-blue: #5a777b;


// font family variable

$font-standard: 'Poppins',Helvetica,Arial,Lucida,sans-serif;

// font weight variables
$weight-light: 100;
$weight-medium: 400;
$weight-bold: 700;

// breakpoint variables
$xsmall: 480px;
$small: 576px;
$middle: 768px;
$large: 992px;
$xlarge: 1200px;

// fonts
$default-font: "Poppins";
$font: $default-font, Helvetica, Arial, Lucida, sans-serif;

// sizes
$font-size-xs: 10.5px;
$font-size-sm: 12px;
$font-size-base: 16px;
$font-size-lg: 21px;

// weights
$bold: 600;

// border radius
$border-radius-base: 6px;
