@import './defaults.scss';

// buttons
@mixin button-green {
  background-color: $primaryColor;
  border: solid 2px $primaryColor;
  color: $gray;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  font-weight: $weight-bold;
  text-transform: uppercase;
  border-radius: 6px;
  text-decoration: none;
  font-family: $font-standard;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
  padding: 14px 0px;
  line-height: 1em;
  width: 100%;

  &:hover {
    background: transparent;
    color: $primaryColor;
    text-decoration: none;
  }
}

@mixin button-green--no-hover {
  background-color: $primaryColor;
  border: solid 2px $primaryColor;
  color: $gray;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  font-weight: $weight-bold;
  text-transform: uppercase;
  border-radius: 6px;
  text-decoration: none;
  font-family: $font-standard;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
  padding: 14px 0px;
  line-height: 1em;
  width: 100%;

  &:hover {
    text-decoration: none;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.17) !important;
  }
}

@mixin button-squared {
  border-radius: 6px;
  padding: 15px 20px;

  &:hover {
    text-decoration: none;
  }
}

@mixin button-rounded {
  border-radius: 22px;
  padding: 6px 12px;

  &:hover {
    text-decoration: none;
  }
}

// inputs

@mixin input-text {
  padding: 10px 15px;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  border-radius: 6px;
  color: $dark-blue;
  font-size: 16px;
  display: block;
  height: auto;
  border: solid 1px $gray-medium;
  font-family: $font-standard;
  width: 100%;
  line-height: 1em;
  transition: .7s;

  &:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    transition: .7s;
  }
}

@mixin input-label {
  color: $green-dark;
  font-weight: $weight-bold;
  font-size: 16px;
  font-family: $font-standard;
  line-height: 1em;
  margin-bottom: 12px;
  padding-left: 5px;
}

@mixin error-label {
  color: $errorRed;
  font-weight: $weight-bold;
  font-size: 16px;
  font-family: $font-standard;
  line-height: 1.3em;
  margin: 0;
  padding-left: 5px;
}

@mixin info-label {
  color: $green-dark;
  font-weight: $weight-bold;
  font-size: 16px;
  font-family: $font-standard;
  line-height: 1.3em;
  margin: 0;
  padding-left: 5px;
}

// flex
@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

// media queries
// min-width
@mixin xsmall() {
  @media screen and (min-width: $xsmall) {
    @content;
  }
}

@mixin small() {
  @media screen and (min-width: $small) {
    @content;
  }
}

@mixin middle() {
  @media screen and (min-width: $middle) {
    @content;
  }
}

@mixin large() {
  @media screen and (min-width: $large) {
    @content;
  }
}

@mixin xlarge() {
  @media screen and (min-width: $xlarge) {
    @content;
  }
}

// div {
//   @include xlarge {
//     dislay: none;  
//   }
// }

// check if hover's available
@mixin hover() {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

// line hover effect
@mixin line-hover($bottom: -2px, $bg: currentColor) {
  position: relative;
  text-decoration: none;

  &:after {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    bottom: $bottom;
    left: 0;
    background-color: $bg;
    transition: width .15s ease-in-out;
  }

  @include hover{
    &:after {
      width: 100%;
    }
  }
}

// @include line-hover();
// @include line-hover(5px, red);
// @include line-hover($bg: silver);

@mixin button-hover($color, $duration: .2s) {
  @include xlarge {
    cursor: pointer;
    transition: background-color $duration ease-in-out;
    
    @include hover {
        background-color: darken($color, 10%);
    }

    &:active {
        background-color: lighten($color, 2%);
    }
  }
}

// @include button-hover(red);
// @include button-hover(red, .3s);

@mixin container {
  padding: 0 15px;

  @include xlarge() {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}

.is-container {
  @include container();
}

@mixin button-base-styles($width: 100%) {
  appearance: none;
  box-sizing: border-box;

  display: block;
  width: $width;
  margin: 0;
  padding: 14px 20px;

  background-color: $primaryColor;
  border: solid 2px $primaryColor;
  border-radius: $border-radius-base;

  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-size: $font-size-base;
  font-weight: $bold;

  text-transform: uppercase;
  text-align: center;

  &,
  &:hover {
    text-decoration: none;
    color: $gray;
  }
}