.msg-wrapper {
  width: 100%;
  position: fixed;
  bottom: 15px;
  display: block;
  text-align: center;
}
#msg {
  position: relative;
  display: inline-block;
  width: 400px;
  max-width: 100%;
  background-color: #bbdefb;
  color: #486066;
  border-radius: 5px;
  z-index: 100;
}

#msg.msg--success {
  background-color: #5cc75f;
  color: white;
}

#msg.msg--warning {
  background-color: #fff59d;
  color: #486066;
}

#msg.msg--error {
  background-color: #f25a5a;
  color: white;
}

#msg.msg--hidden {
  display: none;
}

#msg .msg-body {
  width: calc(100% - 60px);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin: 8px 30px;
  letter-spacing: 1px;
}

/* #msg .msg-body--grey {
  color: #616161;
} */

/* #msg .msg-icon--blue-grey {
  color: #455a64;
} */

#msg .msg-dismiss {
  margin-top: auto;
  margin-bottom: auto;
}

#msg #msg-dismiss {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 8px);
  right: 5px;
}
