<<<<<<< HEAD
.input-submit-button{background-color:#5cc75f;border:solid 2px #5cc75f;color:#f1f1f1;transition-delay:0s;transition-duration:0.2s;transition-property:all;font-weight:700;text-transform:uppercase;border-radius:6px;text-decoration:none;font-family:"Poppins",Helvetica,Arial,Lucida,sans-serif;cursor:pointer;font-size:16px;box-sizing:border-box;padding:14px 0px;line-height:1em;width:100%;width:100%}.input-submit-button:hover{text-decoration:none;box-shadow:0 3px 8px 0 rgba(0,0,0,0.17) !important}.input-submit-button--max-width{max-width:200px}
=======
.is-container{padding:0 15px}@media screen and (min-width: 1200px){.is-container{width:1170px;margin-left:auto;margin-right:auto}}.input-submit-button{background-color:#5cc75f;border:solid 2px #5cc75f;color:#f1f1f1;-webkit-transition-delay:0s;transition-delay:0s;-webkit-transition-duration:0.2s;transition-duration:0.2s;-webkit-transition-property:all;transition-property:all;font-weight:700;text-transform:uppercase;border-radius:6px;text-decoration:none;font-family:"Poppins",Helvetica,Arial,Lucida,sans-serif;cursor:pointer;font-size:16px;-webkit-box-sizing:border-box;box-sizing:border-box;padding:14px 0px;line-height:1em;width:100%;width:100%}.input-submit-button:hover{text-decoration:none;-webkit-box-shadow:0 3px 8px 0 rgba(0,0,0,0.17) !important;box-shadow:0 3px 8px 0 rgba(0,0,0,0.17) !important}.input-submit-button--max-width{max-width:200px}
>>>>>>> e611ddf87493b0d42c0023bccd79d1d23b0ae054
