.toggle-switch__block{width:80%}.toggle-switch__button{display:inline-block;border:solid 1px #bbb;background-color:#fafbfc;width:50%;text-align:center;padding:5px 0;color:#5cc75f !important;font-family:"Poppins",Helvetica,Arial,Lucida,sans-serif;cursor:pointer}.toggle-switch__button:nth-child(1){border-radius:6px 0 0 6px;border-right:none}.toggle-switch__button:nth-child(2){border-radius:0 6px 6px 0;margin-left:-6px}.toggle-switch__button.active{background-color:#5cc75f;color:#fff !important}
