.tutoring-info__video{width:100%;height:auto;position:relative}.tutoring-info__video__media{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative}.tutoring-info__video__media video{width:100%;height:auto;max-width:100%;display:inline-block}.tutoring-info__video-right{display:none}@media screen and (min-width: 992px){.tutoring-info__video{width:46%;margin:auto 0}}
