.template-content{background-color:#fafbfc;min-height:65vh}.template-content__container{width:90%;margin:0 auto}.wrapper-card{padding:15px 0}.wrapper-card__header{border:2px #f1f1f1 solid;background-color:#f1f1f1;padding:20px 40px;border-radius:6px 6px 0 0}.wrapper-card__header h3,.wrapper-card__header h5{color:#5cc75f;font-family:"Poppins", sans-serif;font-weight:600;font-size:21px;margin:0}.wrapper-card__header h5{font-size:14px}.wrapper-card__body{border:2px #f1f1f1 solid;padding:20px 40px;border-radius:0 0 6px 6px}
