.counting-number__section{width:100%;padding:0px 0px 20px 0px;margin-bottom:1px;background-color:#f1f1f1}.counting-number__container{width:80%;max-width:1081px;padding-top:20px;margin:0 auto}.counting-number__text{width:100%;text-align:center}.counting-number__text__title{font-family:"Poppins", Helvetica, Arial, Lucida, sans-serif;color:#5cc75f;font-size:72px;font-weight:500;line-height:72px;margin-bottom:10px}.counting-number__text__subtitle{font-family:"Poppins", Helvetica, Arial, Lucida, sans-serif;font-size:30px;color:#486066;padding-bottom:10px;font-weight:500;line-height:1em}
