.is-container{padding:0 15px}@media screen and (min-width: 1200px){.is-container{width:1170px;margin-left:auto;margin-right:auto}}.dashboard-section{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.dashboard-appointments{-ms-flex-preferred-size:30%;flex-basis:30%}
