.personal-information-form{display:grid;grid-template-columns:repeat(2, 1fr);column-gap:3%}@media screen and (max-width: 768px){.personal-information-form{grid-template-columns:1fr}}.personal-information-form__block{margin-bottom:25px;display:grid;grid-template-columns:repeat(2, 1fr);column-gap:3%}@media screen and (max-width: 576px){.personal-information-form__block{grid-template-columns:1fr}}@media screen and (min-width: 576px) and (max-width: 768px){.personal-information-form__block{grid-template-columns:repeat(2, 0.8fr)}}
