.tutor-profile__section{margin:50px 0 50px}.tutor-profile__container{display:-ms-grid;display:grid;-ms-grid-columns:1fr 300px;grid-template-columns:1fr 300px;-webkit-column-gap:30px;column-gap:30px;width:95%;margin:0 auto}@media screen and (max-width: 768px){.tutor-profile__container{-ms-grid-columns:1fr;grid-template-columns:1fr;-webkit-column-gap:0;column-gap:0;grid-template-row:auto auto}}
