<div class="chat-message">
  <div class="chat-message__wrapper">
    <div class="chat-message__info">
      <time>16:49, 17 December 2019</time>
      <p class="chat-message__username">username</p>
    </div>
    <p class="chat-message__text">lorem itenas[das,dj lkasjdlk asjdlkjaslkdj lkasjd</p>
  </div>
</div>

<div class="chat-message__own">
  <div class="chat-message__wrapper">
    <div class="chat-message__info">
      <time>16:49, 17 December 2019</time>
      <p class="chat-message__username">username</p>
    </div>
    <p class="chat-message__text">lorem itenas[das,dj lkasjdlk asjdlkjaslkdj lkasjd</p>
  </div>
</div>
