.edit-profile-content__section,
.dashboard-content__section {
  display: flow-root;
  border-radius: 6px;
  border: solid 2px #f1f1f1;
  margin-bottom: 30px;
}

@media screen and (min-width: 992px) {
  .edit-profile-header,
  section.dashboard-content .dashboard-header {
    margin-bottom: 0;
  }
}

.edit-profile-header,
section.dashboard-content .dashboard-header {
  background-color: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px;
}

.ma-subtitle {
  font-size: 21px !important;
  color: #5cc75f !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
  font-style: normal;
}

.edit-profile-header__heading,
.dashboard-header__heading {
  position: relative;
}

.edit-profile-header__heading:before,
.dashboard-header__heading:before {
  background: #5cc75f;
  position: absolute;
  width: 2px;
  height: 18px;
  left: -20px;
  top: 0;
  content: "";
}

.edit-profile-content__row {
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.edit-profile-content__row--2col .edit-profile-content__group {
  width: 100%;
}

.edit-profile-content__group {
  width: 100%;
  padding: 10px 5px 5px;
  display: inline-block;
}

.input-text,
.input-textarea {
  width: 100%;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.radio-button-faux {
  width: 150px;
  margin-left: 0;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  margin: auto;
}

.btn.edit-profile-button,
.edit-profile-button--faux {
  background-color: #5cc75f;
  border: solid 2px #5cc75f;
  color: #fafbfc !important;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  font-weight: 600;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  text-transform: uppercase;
  border-radius: 6px;
  border-radius: 6px;
  padding: 15px 20px;
  float: none;
  margin: 0 !important;
  width: 200px !important;
}

.edit-profile-form,
.dashboard-content-container,
.student-profile-content-container {
  display: flow-root;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 90px;
}

.demo-wrap.upload-demo {
  display: flow-root;
  border: none;
  padding: 1px;
  position: relative;
}

.demo-wrap {
  border-bottom: 1px solid #ddd;
  padding-top: 20px;
}

#image-edit-submit-box {
  display: none;
  z-index: 1;
  position: relative;
  top: inherit;
}

.edit-profile-information-box {
  padding: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}

.image-upload {
  margin-bottom: 10px;
}

.edit-profile-information-box__additional {
  background-color: #ffbd6b;
  border-radius: 6px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.profile-image-preview {
  display: none;
  position: absolute;
  top: 290px;
  right: -210px;
  z-index: 10;
  padding: 10px;
  box-sizing: content-box !important;
  background: #f1f1f1;
  border: solid 1px #486066;
  border-radius: 6px;
  max-width: 200px;
  max-height: 200px;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

canvas {
  display: inline-block;
}

.edit-profile-information-box {
  padding: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}

.edit-profile-information-box .edit-profile-information-box__title {
  font-weight: 700;
}

h5 {
  font-size: 16px;
}

.edit-profile-information-box .edit-profile-information-box__chars {
  font-weight: 500;
}

.edit-profile-content__group {
  width: 100%;
  padding: 10px 5px 5px;
  display: inline-block;
}

.edit-profile-content__section--2col {
  display: block;
}

.edit-profile-content__section--dropdowns,
.edit-profile-content__row--dropdowns {
  display: block;
}

.edit-profile-content__section,
.dashboard-content__section {
  display: flow-root;
  border-radius: 6px;
  border: solid 2px #f1f1f1;
  margin-bottom: 30px;
}

.edit-profile-content__row--2col .edit-profile-content__group {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .edit-profile-content__row {
    padding-top: 20px;
  }
}

@media screen and (min-width: 992px) {
  .edit-profile-content__row {
    display: flow-root;
  }
}

@media screen and (min-width: 992px) {
  .edit-profile-content__row--2col .edit-profile-content__group:not(.edit-profile-content__group--layered):first-child {
    padding-right: 15px;
  }
}

@media screen and (min-width: 992px) {
  .edit-profile-content__row--2col .edit-profile-content__group:not(.edit-profile-content__group--layered) {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .edit-profile-content__row--2col .edit-profile-content__group {
    float: left;
  }
}

@media screen and (min-width: 992px) {
  .edit-profile-content__group {
    display: flow-root;
    padding: 5px;
  }
}

@media screen and (min-width: 480px) {
  .edit-profile-content__group {
    padding: 5px;
  }
}

@media screen and (min-width: 992px) {
  .edit-profile-form,
  .dashboard-content-container,
  .student-profile-content-container {
    width: 90%px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 480px) {
  .edit-profile-content__image-container {
    float: left;
    width: 20%;
    padding-top: 0;
    max-width: 245px;
  }
}

@media screen and (min-width: 992px) {
  .edit-profile-information-box {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .edit-profile-content__information-container {
    float: right;
    width: 76%;
  }
}

@media screen and (min-width: 992px) {
  .edit-profile-information-box {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 992px) {
  .edit-profile-content__row--2col .edit-profile-content__group.edit-profile-content__group--layered {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .edit-profile-content__row--2col .edit-profile-content__group {
    float: left;
  }
}

@media screen and (min-width: 992px) {
  .edit-profile-content__group {
    display: flow-root;
    padding: 5px;
  }
}

@media screen and (min-width: 480px) {
  .edit-profile-content__group {
    padding: 5px;
  }
}

@media screen and (min-width: 992px) {
  .edit-profile-content__section--2col .edit-profile-content__section:last-child,
  .edit-profile-content__section--2col .dashboard-content__section:last-child {
    float: right;
  }
}

@media screen and (min-width: 992px) {
  .edit-profile-content__section--2col .edit-profile-content__section,
  .edit-profile-content__section--2col .dashboard-content__section {
    width: 48%;
  }
}

@media screen and (min-width: 992px) {
  .edit-profile-content__section--2col {
    display: flow-root;
  }
}

@media screen and (min-width: 992px) {
  .edit-profile-content__section--dropdowns,
  .edit-profile-content__row--dropdowns {
    display: flow-root;
  }
}

@media screen and (min-width: 992px) {
  .edit-profile-content__section--2col .edit-profile-content__section:first-child,
  .edit-profile-content__section--2col .dashboard-content__section:first-child {
    float: left;
  }
}

@media screen and (min-width: 992px) {

    .edit-profile-content__section--2col .edit-profile-content__section,
    .edit-profile-content__section--2col .dashboard-content__section {
        width: 48%;
    }
}
.btn-group-vertical > .btn, .btn-group > .btn {
    position: relative;
    float: left;
}
.radio-button-faux .radio-button-faux__option {
    width: 50% !important;
}
#radioBtn .notActive {
    color: 
#5cc75f !important;
background-color:
#fff !important;
border: 1px solid
    #bbb !important;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
 /*.jcrop-selection.jcrop-current  {
		 -webkit-border-radius: 50% !important;
		 -moz-border-radius: 50% !important;
		  border-radius: 50% !important;
			border: 1px solid #f1f1f1 !important;
		  margin: -1px;
		}*/
        .fa, .far, .fas {
            font-family: "Font Awesome 5 Free" !important;
            font-size: 16px !important;
            color: #bbb !important;
        }

        /* jquery.Jcrop.min.css v0.9.12 (build:20130126) */
        .jcrop-holder {
            direction: ltr;
            text-align: left;
        }

        .jcrop-vline, .jcrop-hline {
            background: #FFF url(Jcrop.gif);
            font-size: 0;
            position: absolute;
        }

        .jcrop-vline {
            height: 100%;
            width: 1px !important;
        }

        .jcrop-vline.right {
            right: 0;
        }

        .jcrop-hline {
            height: 1px !important;
            width: 100%;
        }

        .jcrop-hline.bottom {
            bottom: 0;
        }

        .jcrop-tracker {
            -webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            height: 100%;
            width: 100%;
        }

        .jcrop-handle {
            background-color: #333;
            border: 1px #EEE solid;
            font-size: 1px;
            height: 7px;
            width: 7px;
        }

        .jcrop-handle.ord-n {
            left: 50%;
            margin-left: -4px;
            margin-top: -4px;
            top: 0;
        }

        .jcrop-handle.ord-s {
            bottom: 0;
            left: 50%;
            margin-bottom: -4px;
            margin-left: -4px;
        }

        .jcrop-handle.ord-e {
            margin-right: -4px;
            margin-top: -4px;
            right: 0;
            top: 50%;
        }

        .jcrop-handle.ord-w {
            left: 0;
            margin-left: -4px;
            margin-top: -4px;
            top: 50%;
        }

        .jcrop-handle.ord-nw {
            left: 0;
            margin-left: -4px;
            margin-top: -4px;
            top: 0;
        }

        .jcrop-handle.ord-ne {
            margin-right: -4px;
            margin-top: -4px;
            right: 0;
            top: 0;
        }

        .jcrop-handle.ord-se {
            bottom: 0;
            margin-bottom: -4px;
            margin-right: -4px;
            right: 0;
        }

        .jcrop-handle.ord-sw {
            bottom: 0;
            left: 0;
            margin-bottom: -4px;
            margin-left: -4px;
        }

        .jcrop-dragbar.ord-n, .jcrop-dragbar.ord-s {
            height: 7px;
            width: 100%;
        }

        .jcrop-dragbar.ord-e, .jcrop-dragbar.ord-w {
            height: 100%;
            width: 7px;
        }

        .jcrop-dragbar.ord-n {
            margin-top: -4px;
        }

        .jcrop-dragbar.ord-s {
            bottom: 0;
            margin-bottom: -4px;
        }

        .jcrop-dragbar.ord-e {
            margin-right: -4px;
            right: 0;
        }

        .jcrop-dragbar.ord-w {
            margin-left: -4px;
        }

        .jcrop-light .jcrop-vline, .jcrop-light .jcrop-hline {
            background: #FFF;
            filter: alpha(opacity=70) !important;
            opacity: .70 !important;
        }

        .jcrop-light .jcrop-handle {
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            background-color: #000;
            border-color: #FFF;
            border-radius: 3px;
        }

        .jcrop-dark .jcrop-vline, .jcrop-dark .jcrop-hline {
            background: #000;
            filter: alpha(opacity=70) !important;
            opacity: .7 !important;
        }

        .jcrop-dark .jcrop-handle {
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            background-color: #FFF;
            border-color: #000;
            border-radius: 3px;
        }

        .solid-line .jcrop-vline, .solid-line .jcrop-hline {
            background: #FFF;
        }

        .jcrop-holder img, img.jcrop-preview {
            max-width: none;
        }

        .mapboxgl-ctrl-attrib, .mapboxgl-ctrl-logo {
            display: none !important;
        }

        .mapboxgl-ctrl-geocoder li > a {
            color: black !important;
        }

        .mapboxgl-ctrl-geocoder input {
            color: black !important
        }


        /*Placeholder Color */
        input {
            border: 1px solid #bdbdbd !important;
        }

        label {
            font-size: 16px !important;
            margin-left: 14px !important
        }

        select {
            border: 1px solid #bdbdbd !important;

            /*color: white !important; */
        }

        .body-overflow {

        }

        /*	input:focus{
		background:transparent !Important;
			}

			select:focus{
		background:transparent !Important;
			}
			*/
        .modal-dialog {
            margin-top: 71px !important;
        }

        .fade {
            background: #66666694;
            opacity: 1;
        }

        .wizard .content {
            /*overflow-y: hidden !important;*/
        }

        /***********datatable content**********/
        th.sorting_asc:before {
            content: none !important;
        }

        th.sorting:before {
            content: none !important;
        }

        th.sorting_asc:after {
            content: none !important;
        }

        th.sorting:after {
            content: none !important;
        }

        .dataTables_length {
            display: none !important;
        }

        .dataTables_filter {
            display: none !important;
        }

        .dataTables_info {
            display: none !important;
        }

        .dataTables_paginate {
            display: none !important;
        }

        /***********************************************************/
        .wizard .content label {

            color: white !important;

        }

        .wizard > .steps .current a {
            background-color: #029898 !Important;
        }

        .wizard > .steps .done a {
            background-color: #828f9380 !Important;
        }

        .wizard > .actions a {
            background-color: #029898 !Important;
        }

        .wizard > .actions .disabled a {
            background-color: #eee !important;
        }

        .bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
            color: white;
        }

        table {
            color: white;
        }

        .multiselect.dropdown-toggle.btn.btn-default {
            display: none !important;
        }


        .fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable {
            color: black !important;
        }


        .btn-block {
            width: 40% !Important;
        }

        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            background-color: transparent !important;
        }

        .bootstrap-select[disabled] button {
            color: gray !important;
            border: 1px solid gray !important;
        }

        .bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
            color: white;
        }

        .dropdown-menu > ul > li > a {
            color: #555 !important;
        }

        .errorLabel, .terrorLabel {
            color: red;
        }

        .hide {
            display: none;
        }

        ul.dropdown-menu.inner {
            display: block;
        }

        #radioBtn .notActive {
            color: #5cc75f !important;
            background-color: #fff !important;
            border: 1px solid #bbb !important;
        }

        #radioBtn a.active {
            background-color: #5CC75F;
            border: 1px solid #bbb;
        }

        .form-control {
            background-color: transparent;
        }

        span.bs-caret {
            display: none;
        }

        #coordinates {
            display: none;
        }

        button#update-more-courses {
            margin: auto;
        }

        .btn-group.bootstrap-select.show-tick.show {
            display: inline-block !important;
        }

        section {
            overflow: hidden;
        }

        .body {
            border: 2px solid #f1f1f1;
        }

        select.form-control.form-control-sm {
            height: 30px !important;
        }

        /*profile selection*/
        .grid {
            padding-bottom: 4%;
        }

        span.maxlabel {
            font-size: 12px !important;
            float: right !important;
        }

        .card .body {
            background-color: #FAFBFC !important;
        }

        li.dropdown-header {
            font-size: 16px !important;
            text-align: center;
        }

        button.actions-btn.btn.btn-default {
            width: 45% !important;
        }

        .bs-actionsbox .btn-group.btn-group-sm.btn-block {
            width: 100% !important;
        }

        /* padding edit profile popup */
        .custom-padding {
            padding: 0 0 2rem 0 !important;
            margin-top: 53px;
        }

        #image-edit-submit-box {
            display: none;
            z-index: 1;
            position: relative;
            top: inherit;
        }

        #jcrop img {
            border-radius: 4px;
        }

        #deresultcourse {
            display: block;
            position: fixed;
            bottom: 0;
            margin: 0 auto;
            z-index: 10000000;
            width: 200px;
            left: 0;
            right: 0;
        }

        .modal {
            padding-top: 18% !important;
        }

        /* extra popup modal styling */
        .modal h6 {
            text-transform: lowercase;
        }

        .modal .modal-title {
            font-size: 18px !important;
            font-weight: bold !important;
        }

        .modal .modal-text {
            padding: 0 20px 27px 20px;
        }

        .modal-dialog-centered {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            min-height: calc(100% - (.5rem * 2));
        }

        @media (min-width: 576px) {
            .modal-dialog-centered {
                min-height: calc(100% - (1.75rem * 2));
            }
        }

        .modal-content .modal-header button {
            right: 12px !important;
            top: 6px !important;
        }

        .custom-padding {
            padding: 0 0 1rem 0 !important;
            margin-top: 1rem;
        }

        @media screen and (min-width: 480px) and (max-width: 720px) {
            .edit-profile-content__image-container {
                float: none;
                width: 100%;
            }

            .edit-profile-content__information-container {
                float: none;
                width: 100%;
            }

            .image {
                padding: 0 12%;
            }
        }

        @media screen and (max-width: 480px) and (min-width: 720px) {
            .image {
                padding: 0;
            }
        }

        .center__select {
            display: flex !important;
            margin-top: 0.3125rem !important;
        }
.modal-dialog-centered {
    display: none;
}
#newCourse .edit-profile-content__group--aligned .btn.dropdown-toggle {
    width: 100% !important;
}
#add-courses {
    margin: 0 auto !important;
}
#newCourse .edit-profile-content__group--aligned:nth-child(1) .btn-group.bootstrap-select {
    z-index: 4;
}
#newCourse .edit-profile-content__group--aligned:nth-child(2) .btn-group.bootstrap-select {
    z-index: 3;
}
#newCourse .edit-profile-content__group--aligned:nth-child(3) .btn-group.bootstrap-select {
    z-index: 2;
}
@media screen and (min-width: 992px) {
    #newCourse .edit-profile-content__group--aligned {
        width:27%;
        display: inline-block;
    }
    #newCourse .edit-profile-content__group--aligned:last-child {
        width: 17%;
    }
}
