.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  margin: auto;
}

.btn.edit-profile-button {
  background-color: #5cc75f;
  border: solid 2px #5cc75f;
  color: #fafbfc !important;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  font-weight: 600;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  text-transform: uppercase;
  border-radius: 6px;
  border-radius: 6px;
  padding: 15px 20px;
  float: left;
  /* margin: 0 !important; */
  width: 200px !important;
}

.edit-profile-form {
  margin: 0 5%;
}

.edit-profile-content__group {
  display: inline-block;
  margin-bottom: 5px;
  width: 48%;
}
@media screen and (max-width: 576px) {
  .edit-profile-content__group {
    width: 100%;
  }
}

.input-text {
  width: 100%;
}

.edit-profile-header {
  background-color: #f1f1f1;
  padding: 1px 10px 10px;
  border-radius: 6px 6px 0 0;
}

.edit-profile-content__section {
  border: 1px #f1f1f1 solid;
  border-radius: 6px;
  margin-bottom: 30px;
}

.edit-profile-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
}

.edit-profile-content__group.button-wrapper {
  display: block;
  width: 100%;
  margin-top: 10px;
}
.edit-profile-header__heading {
  padding-left: 11px;
}
