#footer {
  background-color: #eaeaea !important;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
}
.footer__container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: -1px;
}
.footer__social-media {
  justify-content: unset;
  font-size: 32px;
}
.footer__social-media a {
  margin: 0 3px;
}
.footer__social-media a * {
  color: #337ab7 !important;
  font-size: 31px;
  height: 31px;
}
.footer__copyright {
  display: flex;
  align-items: center;
  color: #5cc75f !important;
  padding-bottom: 30px;
}
.footer__copyright p {
  margin: 0 auto;
  text-align: center;
  color: #5cc75f !important;
}
.footer__list {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}
.footer__list li {
  margin: 12px 0;
}
.footer__list--title {
  font-size: 17px;
  font-weight: 600;
  color: #486066;
}
.footer__list li a {
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  color: #5cc75f !important;
  text-decoration: none;
}
.footer__list__people-item {
  display: flex;
}
.footer__list__people-img {
  margin-right: 12px;
}
.footer__list__people-img img {
  border-radius: 50%;
}
.footer__list__people-name {
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  font-size: 14px;
  color: #5cc75f !important;
  font-weight: 600;
}
.footer__list__people-description {
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  font-size: 14px;
  color: #486066;
  font-weight: 600;
  padding-top: 5px;
  text-decoration: underline;
}
.footer__container {
  width: 80%;
  margin-left: 10%;
}
.footer__list__team--bottom {
  display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer__container {
    width: 95%;
    margin-left: 2.5%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer__container {
    width: 90%;
    margin-left: 5%;
  }
  .footer__list__team--top {
    display: none;
  }
  .footer__list__team--bottom {
    display: flex;
  }
}
@media (max-width: 767px) {
  .footer__social-media {
    align-items: center;
  }
  .footer__social-media div {
    margin: 0 auto;
  }
}
@media (max-width: 575px) {
  .footer__container {
    flex-wrap: wrap;
  }
  .footer__list {
    width: 50%;
  }
}
