.registratie_foldout_time{
    background: white !important;
    color: black !important;
    margin-left: 20px !important;
    width: 150px !important;
    text-align-last: center !important;
    padding: 7px !important;
} 
.calender_register_text{
    text-decoration: none !important;
}
.calender_register_text h3{
    font-weight: bold;
    padding-top: 20px;
}

.calender_register_text:after{
    display: none !important;
}

.inline_time{
    color: #486066!important; 
} 

 .accept-block .annuleer-btn{
    border-radius: 6px !important;
    color: white !important;
    padding: 6px 58px !important;
    background-color: #f0ad4e !important;
    width: unset !important;
    float: right;
    margin-top: -40px !important;
}    

.afwacht-block .annuleer-btn{
    border-radius: 6px !important;
    color: white !important;
    padding: 6px 58px !important;
    background-color: #f0ad4e !important;
    width: unset !important;
    float: right;
    margin-top: -40px !important;
}

.afwacht-block .accept-button{
    border-radius: 6px !important;
    color: white !important;
    padding: 6px 51px !important;
    width: unset !important;
    float: right;
    margin-top: 0px !important;
}

body .kalendar-left .cal-month-box{
    border-bottom: none !important;
}

#cal-slide-box {
    border-bottom: none !important;
}

.firstname{
    display: block;
    width: 400px;
}

.appointment-block h3{  
    color: #486066!important; 
}

.appointment-block{
    padding: 20px;
    border-bottom: solid 1px black;
}

/* calender */
body .kalendar-left .card{
    height: unset !important;
}

.btn-group{
    display: flex !important;
} 

.header{
    padding-bottom: 22px !important;
    height: unset !important;
}

#calender_startTime, #calender_endTime{
    background: white !important;
    color: black !important;
    width: 150px !important;
    text-align-last: center !important;
    padding: 7px !important;
    border: solid #486066 1px; 
}

.calender_dropdown #calender_startTime option, .calender_dropdown #calender_endTime option {
    color: black !important; 
}


.calender_dropdownTime .calender_dropdown .inboeken-btn{
    background-color: #5CC75F !important;
    border-radius: 6px !important;
    color: white !important;
    padding: 15px 80px !important;
    width: unset !important;
    margin-top: -6px !important;
    margin-left: 0!important;
    font-weight: 400 !important;
    text-transform: unset !important;
}


/* availability-checkmark docenten dashboard*/

.availability-checkmark{
    padding: 20px;
    border-bottom: solid 1px black;
} 

.availability-checkmark h3{
    font-weight: bold;
    display: inline-block;
}

.availability-checkmark span{
    float: right;
    margin-top: -5px;
}

.availability-checkmark span form {
    display: inline-block;
}

.availability-checkmark p {
    float:right;
    margin-right: 24px;
}

/* calender right teacher dashboard */
.kalendar-right .card .body{
    overflow-x: hidden !important; 
    border-bottom: 2px solid #F1F1F1 !important;
    border-bottom-left-radius: 6px !important; 
    overflow: scroll !important;
}



@media only screen and (max-width: 768px) {
    .body .form-group .btn-next{
        margin: 0 auto !important;
        width: 100% !important;
    }
    #calender_startTime, #calender_endTime{
        margin-bottom: 20px !important;
    }
    .calender_dropdownTime .calender_dropdown .inboeken-btn{
        margin-left: 5px !important;
    }
    body .container1__card .cal-month-box .cal-day-today span[data-cal-date]{ 
        font-size: 1.2em !important;
    font-weight: bold !important;
    color: #FFBD6A !important;
    }
    body .kalendar-left .cal-month-box .cal-day-today span[data-cal-date] {
        font-size: 1.2em !important;
        font-weight: bold !important;
        color: #FFBD6A !important;
      }
    body .cal-month-box .cal-day-today span[data-cal-date]{
    font-size: 1.2em !important;
    font-weight: bold !important;
    color: #FFBD6A !important;
    } 
    #teacherRegistration-p-3 .card .header .page-header{
        padding: 25px !important; 

    } 
} 

/*@media screen and (max-width: 992px){
    #newCourse div > div {
        z-index: -1 !important;
    }
}*/


/* temporary james pls remove this in main.css */

.card .header .page-header:before {
    background-color:initial !important;
}

body .kalendar-left .card, body .kalendar-right .card {
    display: flex !important;
}

.kalendar-right .future-btn{
    width: 70% !important;
}

@media only screen and (max-width: 1165px) {
    .kalendar-right .future-btn{
        width: 90% !important;
    }
}

@media only screen and (max-width: 992px) {
    .kalendar-right .future-btn{
        width: 70% !important;
    }
}