// buttons

@mixin button-green {
    background-color: $green;
    border: solid 2px $green !important;
    color: $white-dark !important;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    font-weight: 600 !important;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif !important;
    text-transform: uppercase !important;
    border-radius: 6px;
    text-decoration: none !important;

    &:hover {
        background: transparent !important;
        color: $green !important;
        text-decoration: none !important;
    }
}

@mixin button-green--no-hover {
    background-color: $green !important;
    border: solid 2px $green !important;
    color: $white-dark !important;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    font-weight: 600 !important;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif !important;
    text-transform: uppercase !important;
    border-radius: 6px !important;
    text-decoration: none !important;

    &:hover {
        text-decoration: none !important;
    }
}

@mixin button-squared {
    border-radius: 6px;
    padding: 15px 20px;

    &:hover {
        text-decoration: none !important;
    }
}

@mixin button-rounded {
    border-radius: 22px;
    padding: 6px 12px;

    &:hover {
        text-decoration: none !important;
    }
}

// forms

@mixin input-text {
    padding: 10px 18px 10px 18px;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    border-radius: 6px;
    color: #5a777b !important;
    font-size: 16px;
    display: block;
    height: auto;
    border: solid 1px $green-dark !important;

    &:focus {
        background-color: $white-dark !important;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    }
}

// general

@mixin clear-fix {
    display: flow-root;
    &::after {
        content: "";
        clear: both;
        display: block;
    }
}

// old - originals

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadowinfo) {
    -webkit-box-shadow: $shadowinfo;
    -moz-box-shadow: $shadowinfo;
    -ms-box-shadow: $shadowinfo;
    box-shadow: $shadowinfo;
}

@mixin transform($transform) {
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}

@mixin transition($transition) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin three-dots-overflow() {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin navbar-link-color($textcolor, $navbarcolor, $opacity) {
    .navbar-brand,
    .navbar-brand:hover,
    .navbar-brand:active,
    .navbar-brand:focus {
        color: $textcolor;
    }

    .nav > li > a:hover,
    .nav > li > a:focus,
    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus {
        background-color: transparentize($navbarcolor, $opacity);
    }

    .nav > li > a {
        color: $textcolor;
    }

    .bars {
        float: left;
        padding: 10px 20px;
        font-size: 22px;
        color: $textcolor;
        margin-right: 10px;
        margin-left: -10px;
        margin-top: 4px;
    }

    .bars:hover {
        background-color: rgba(0,0,0,0.08);
    }
}
