// colour variables
$white: #fff;
$black: #000;
$white-dark: #fafbfc;
$gray-light: #f1f1f1;
$gray-medium: #bbb;
$green-light: #a7ef9f;
$green: #5CC75F;
$green-dark: #486066;
$orange: #ffbd6b;
$red: #e45e5e;
$red-alert: #FE5D5D;

// font weight variables
$weight-light: 100;
$weight-medium: 400;
$weight-bold: 700;

// breakpoint variables
$breakpoint-tablet: 480px;
$breakpoint-screen: 992px;
$breakpoint-wide: 1820px;

// colour function - to be deprecated
$colors:(
    red: #ec3b57,
    pink: #E91E63,
    purple: #6572b8,
    deep-purple: #673AB7,
    blue: #60bafd,
    cyan: #00cfd1,
    green: #50d38a,
    light-green: #8BC34A,
    yellow: #ffe821,
    orange: #ffc323,
    deep-orange: #f83600,
    grey: #9E9E9E,
    blue-grey: #607D8B,
    indigo: #3F51B5,
    light-blue: #03A9F4,
    teal: #009688,
    lime: #CDDC39,
    amber: #FFC107,
    brown: #795548,
    blush: #ff758e,
    black: #000000,
    white: #ffffff ) !default;

// font family variables
$navbar-font-family: 'Montserrat', sans-serif;
$sidebar-font-family: 'Montserrat', sans-serif;